{% set newo_chat_connector = GetConnectorInfo(integrationIdn="newo_chat", connectorIdn="newo_chat") %}
{% if newo_chat_connector %}

    {# Set `show_watermark` Connector setting based on Customer Info #}
    {% set tenant = GetCustomerInfo().tenant | string %}
    {% if tenant == "newo" or not tenant %}
        {# TODO: Change values from `0` and `1` to proper boolean values in `NEWO Chat` for `show_watermark` field #}
        {{SetConnectorInfo(integrationIdn="newo_chat", connectorIdn="newo_chat", field="show_watermark", value="show")}}
    {% else %}
        {{SetConnectorInfo(integrationIdn="newo_chat", connectorIdn="newo_chat", field="show_watermark", value="hide")}}
    {% endif %}

    {# Set `greeting_phrase` Connector setting based on Customer Attribute #}
    {{SetConnectorInfo(integrationIdn="newo_chat", connectorIdn="newo_chat", field="greeting_phrase", value=GetCustomerAttribute(field="project_representative_agent_chat_greeting_phrase"))}}

    {# Set `agent_name` Connector setting based on Customer Attribute #}
    {{SetConnectorInfo(integrationIdn="newo_chat", connectorIdn="newo_chat", field="agent_name", value=GetCustomerAttribute(field="project_representative_agent_name"))}}

    {# Set `chat_link_demo` Attribute based on Connector settings #}
    {% set base_url = GetConnectorInfo(integrationIdn="newo_chat", connectorIdn="newo_chat").settings.client_website_url %}
    {% set client_secret = GetConnectorInfo(integrationIdn="newo_chat", connectorIdn="newo_chat").settings.client_secret %}
    {% set mode = "chat" %}
    {% set demo_chat_link = base_url ~ "/?mode=" ~ mode ~ "&client=" ~ client_secret %}
    {{SetProjectAttribute(field="project_attributes_chat_link_demo", value=demo_chat_link)}}

{% endif %}
