{% if conversation_channel == "chat" %}
    {% set thinking_budget = "170" %}
    {% if GetCustomerAttribute(field="project_attributes_setting_chat_split_messages") == "True" %}
        {% set agent_answer = user_message_generate_reply_send_one_by_one_skill(thinking_budget=thinking_budget, prompt=prompt, actor_id=actor_id)%}
        {{Return(val=agent_answer)}}
    {% endif %}
{% else %}
    {% set thinking_budget = "85" %}
{% endif %}

{% set agent_answer = user_message_generate_reply_stream(thinking_budget=thinking_budget, prompt=prompt, actor_id=actor_id) %}
{{Return(val=agent_answer)}}

