{# TODO: When we finally have scenarios as separate entities, we’ll be able to get the exact scenario and all procedures included in it to analyze the specific scenario the ConvoAgent was supposed to follow. For now, we are retrieving all scenarios, which makes the context broader. #}
{% set industry = GetCustomerAttribute(field="project_business_industry") %}
{% set integration_idn = utils_session_get_integration_idn(user_id=user_id) %}
{% set conversation_channel = utils_session_get_conversation_channel(integration_idn=integration_idn) %}
{% set working_hours_status_bool = GetPersonaAttribute(id=user_id, field="working_hours_status") %}

{% set last_session_date_time = GetPersonaAttribute(id=user_id, field="last_session_ended_datetime_utc") %}
{% set system_logs = get_memory(
    actors=[utils_get_footnote_actor_id(system="True")],
    user_id=user_id,
    count=300,
    from_date=last_session_date_time
) %}

{% set semaphore_analysis_result_json = json.loads(get_semaphore_analysis(
    scenarios=scenarios,
    logs=system_logs,
    main_scenario=main_scenario,
    session_short_description=session_short_description,
    working_hours_status_bool=working_hours_status_bool,
    transcript=transcript,
    conversation_channel=conversation_channel,
    intents=intents
)) %}

{% set semaphore_summary_result_json = json.loads(get_semaphore_summary(
    scenarios=scenarios,
    logs=system_logs,
    main_scenario=main_scenario,
    session_short_description=session_short_description,
    working_hours_status_bool=working_hours_status_bool,
    transcript=transcript,
    conversation_channel=conversation_channel,
    intents=intents
)) %}

{% set session = semaphore_analysis_result_json.session %}
{% set scenario = semaphore_analysis_result_json.scenario %}
{% set analysis = semaphore_analysis_result_json.analysis %}

{% set result_json = {} %}

{% set is_lead = define_lead(industry=industry, session=session, intent_name=intent_name) %}
{% set contact_details_present = check_user_contact_details_present(user_id=user_id) %}
{% set contact_details_present = True if contact_details_present == "True" else False %}

{{ result_json.update(
    {
        "sessionType": intent_name,
        "sessionName": intent_name.replace("[L]", "").replace("[T]", "").strip(),
        "isLead": is_lead,
        "isTest": semaphore_analysis_result_json.is_test,
        "isTodo": ("[T]" in intent_name) or analysis.user_relayed_message or analysis.agent_promised_third_party_help,
        "contactDetailsPresent": contact_details_present

    })}}

{# defining lead #}
{# agentSuccessCode (Yes-A(1) / Yes-B(2) / No(0)) #}
{# Yes-A == 1 --> MUST BE `scenario_task_completed` && `essential_steps_completed`#}
{# -- OR -- #}
{# Yes-B == 2--> MUST BE `agent_saved` or report_is_sent == True(if not send it) -- #}}
{# -- OR -- #}
{# -- No == 0 -- #}

{# Yes-A / Yes-B #}
{% if scenario.task_completed %}
    {% if (analysis.agent_promised_third_party_help or analysis.user_relayed_message) and report_is_sent == "False" %}
        {{SendSystemEvent(
            eventIdn="convoagent_send_fallback_email_report",
            connectorIdn="system",
            intentType="[T] Customer message",
            transcript=transcript
        )}}
        {% set report_is_sent = "True" %}
    {% endif %}
    {% if scenario.essential_steps_completed %}
        {% set agent_success_code = "1" %}
    {% else %}
        {% set agent_success_code = "2" %}
    {% endif %}
{% else %}
    {% if (analysis.fail_caused_by_user or analysis.user_rejected or analysis.user_refused) and report_is_sent == "False" %}
        {% if is_lead == "true" %}
            {% if contact_details_present %}
                {{SendSystemEvent(
                    eventIdn="convoagent_send_fallback_email_report",
                    connectorIdn="system",
                    intentType="[T] Partial Lead",
                    transcript=transcript,
                    customEmailSection=generate_missing_lead_email(session_short_description=session_short_description, user_behavior_analysis=analysis.user_behavior_analysis),
                    customSmsSection=generate_missing_lead_sms(user_id=user_id, session_short_description=session_short_description, user_behavior_analysis=analysis.user_behavior_analysis)
                )}}
                {% set report_is_sent = "True" %}
                {% set agent_success_code = "1" %}
            {% else %}
                {# TODO: Is it 1 or 2? #}
                {% set agent_success_code = "2" %}
            {% endif %}
        {% else %}
            {% set agent_success_code = "1" %}
        {% endif %}
    {% elif analysis.agent_saved or (report_is_sent == "True") %}
        {% set agent_success_code = "2" %}
    {# TODO: Check if this condition is necessary #}
    {% elif report_is_sent == "False" %}
        {% if is_lead == "true" %}
            {% if contact_details_present %}
                {{SendSystemEvent(
                    eventIdn="convoagent_send_fallback_email_report",
                    connectorIdn="system",
                    intentType="[T] Partial Lead",
                    transcript=transcript,
                    customEmailSection=generate_missing_lead_email(session_short_description=session_short_description, user_behavior_analysis=analysis.user_behavior_analysis),
                    customSmsSection=generate_missing_lead_sms(user_id=user_id, session_short_description=session_short_description, user_behavior_analysis=analysis.user_behavior_analysis)
                )}}
                {% set report_is_sent = "True" %}
                {% set agent_success_code = "2" %}
            {% else %}
                {% set agent_success_code = "0" %}
            {% endif %}
        {% else %}
            {% set agent_success_code = "0" %}
        {% endif %}
    {% else %}
        {% set agent_success_code = "1" %}
    {% endif %}
{% endif %}


{% if (analysis.user_relayed_message or analysis.agent_promised_third_party_help) and (report_is_sent == "False") %}
    {{SendSystemEvent(
        eventIdn="convoagent_send_fallback_email_report",
        connectorIdn="system",
        intentType="[T] Customer message",
        transcript=transcript
    )}}
    {% set report_is_sent = "True" %}
{% endif %}

{# If report was sent, it means agent saved this session #}
{% if report_is_sent == "True" %}
    {{analysis.update({"agent_saved": True})}}
{% endif %}

{{result_json.update({"agentSuccessCode": agent_success_code})}}

{% if agent_success_code in ("1", "2") %}
    {% set is_success = "true" %}
{% else %}
    {% set is_success = "false" %}
{% endif %}

{{result_json.update({"aiResultSuccess": is_success})}}

{% set is_opportunity = "false" %}

{# By definition, "Opportunities" include all sessions from the set of Leads, excluding sessions where any of the following conditions apply: #}
{# 1) The user refused to buy (including by interrupting the conversation); #}
{# 2) There was no available slot or required offering (e.g., in a restaurant case, no available tables at the requested time); #}
{# 3) There are no contact details for follow-up (phone number or email). #}
{% if is_lead == "true" %}
    {% set is_opportunity = "true" %}
    {# Check if business issues were during conversation and scenario task due to this is not completed or agent didn't not save. #}
    {% if (not contact_details_present) or analysis.user_refused or ((analysis.business_issues != "n/a") and (not scenario.task_completed) and (not analysis.agent_saved)) %}
        {% set is_opportunity = "false" %}
    {% endif %}
{% endif %}

{{result_json.update({"isOpportunity": is_opportunity})}}

{% set success_factor = "1" if agent_success_code != "0" else "0" %}

{{result_json.update({"agentSuccessFactor": success_factor})}}

{% set is_reporting = (not scenario.task_completed) and (not analysis.agent_saved) and (not analysis.fail_caused_by_user) or (analysis.technical_issues) %}

{{result_json.update({"isReporting": is_reporting})}}


{# -- actualResult -- #}
{{result_json.update({"actualResult": semaphore_format_skill(
        report=json.dumps(semaphore_summary_result_json.actual_result, ensure_ascii=False, indent=2),
        actual="True",
        analysis=json.dumps(semaphore_analysis_result_json, ensure_ascii=False, indent=2)
)})}}

{# -- expectedResult -- #}
{{result_json.update({"expectedResult": semaphore_format_skill(
        report=json.dumps(semaphore_summary_result_json.expected_result, ensure_ascii=False, indent=2),
        expected="True",
        analysis=json.dumps(semaphore_analysis_result_json, ensure_ascii=False, indent=2)
)})}}

{{Return(val=json.dumps(result_json, ensure_ascii=False, indent=2))}}
