{% set title = '## **Scenario 0:** "Introduction"' %}

{% set body %}
### **Step 0.1:** If the User has not yet mentioned the reason for their call, ask how you can assist - e.g.: "Would you like to order a catering service for your event, or is there anything else I can assist you with?". Otherwise, start the relevant scenario based on the User's intent and **<IntentTypeMap>**.
{% endset %}

{% set description %}
Start the call by clarifying the caller’s purpose: if they haven’t stated it, politely ask how you can assist (e.g., whether they’d like to order catering). If they have, proceed directly to the appropriate scenario based on the IntentTypeMap.
{% endset %}


{% set item = {
    "idn": "scenario_catering_introduction",
    "title": title.strip(),
    "body": body.strip(),
    "mentions": [],
    "description": description.strip(),
    "is_from_library": True,
    "origin_idn": ""
} %}

{{Return(val=json.dumps(item, ensure_ascii=False, indent=2))}}
