{% set checking_availability_validation_schema = GetCustomerAttribute(field="project_attributes_setting_booking_check_availability_validation_schema_template") %}
{% if checking_availability_validation_schema.strip() and checking_availability_validation_schema != "{}" %}
    {% set schema = json.loads(checking_availability_validation_schema) %}
    {% if "properties" in schema %}
        {% set properties = schema["properties"] %}
        {{ properties.pop("bookingAdvanceDays", None) }}
        {{ properties.pop("isWithinBookingWindow", None) }}
        {% if "required" in schema %}
            {% set required = schema["required"] %}
            {{ required.remove("bookingAdvanceDays") if "bookingAdvanceDays" in required }}
            {{ required.remove("isWithinBookingWindow") if "isWithinBookingWindow" in required }}
        {% endif %}
        {{ SetCustomerAttribute(field="project_attributes_setting_booking_check_availability_validation_schema_template", value=json.dumps(schema, ensure_ascii=False, indent=2)) }}
    {% endif %}
{% endif %}
