{% set intent_type = intentType.replace("[T] ", "").replace("[L] ", "") %}

{# Getting `project_attributes_setting_session_ended_report_criteria_template` "compiled" value #}
{% set report_criteria = GetCustomerAttribute(field="project_attributes_setting_session_ended_report_criteria_compiled") %}

{% set dynamic_variables = GetCustomerAttribute(field="project_attributes_private_dynamic_variables") %}

{% set content = _utilsFindObjectByKeyValue(obj=contentJSON, key="report_type", value=intentType) %}

{% set business_language_primary = GetCustomerAttribute(field="project_business_language_primary") %}

{% if business_language_primary == "English" %}
    {% set language_instruction = "" %}
{% else %}
    {%- set language_instruction %}

If `sms_should_be_sent` is `true`, `sms_body` must be written only STRICTLY in {{business_language_primary}} language.
If `email_should_be_sent` is `true`, `email_subject` must be written only STRICTLY in {{business_language_primary}} language.
ALWAYS keep business names and report terminology (likely uppercase) in English, however people names must remain unchanged in original language.

    {% endset %}
{% endif %}

{% set phone_number_with_country_code = GetPersonaAttribute(id=userId, field="provided_phone_number_with_country_code").strip().replace("null", "") or GetPersonaAttribute(id=userId, field="detected_phone_number_with_country_code").strip().replace("null", "") %}

{% if not content.strip() %}
    {{Return(val=_sendReportDefineDirectionsFallbackSkill(report_criteria=report_criteria, dynamic_variables=dynamic_variables, provided_phone_number_with_country_code=phone_number_with_country_code, transcript=transcript, custom_sms_section=customSmsSection, intent_type=intent_type))}}
{% else %}
    {% set content = json.loads(content)%}
{% endif %}

{% set hipaa_instruction = "" %}
{% set hipaa_mode_enabled = GetCustomerAttribute(field="project_attributes_setting_hipaa_mode_enabled") %}
{% if hipaa_mode_enabled == "True" %}
    {%- set hipaa_instruction %}
In the email subject avoid mentioning any information that can be used to identify person.

# **Rules**
- Instead of name, you have to keep only first name and first letter of the last name: David Yang => David Y.
- You have to anonymize any PII (Personally Identifiable Information) and replace it by placeholders like: [REDACTED EMAIL]
    - information like birth dates, recordings, addresses... must be replaced by placeholders.
- If summary is needed, provide brief summary, without mentioning personally identifiable information.
    {% endset %}
{% endif %}
{% set schema = {
  "type": "object",
  "properties": {
    "analysis": {
      "type": "string",
      "description": "Provide analysis on what are you going to do."
    },
    "sms_should_be_sent": {
      "type": "boolean",
      "description": "Indicates whether SMS should be sent. Set to `true` if one or more requirements about sending an SMS above are met. Otherwise set to `false`."
    },
    "phone_numbers": {
      "type": "array",
      "items": {
        "type": "string"
      },
      "minItems": 0,
      "description": "List of phone numbers to send the SMS to. If only one phone number is mentioned for defined conversation class, put only one phone number. If `sms_should_be_sent` field is set to `false`, leave array empty."
    },
    "sms_body": {
      "type": "string",
      "description": "If \"sms_should_be_sent\" is `true`, put here an SMS text based on the provided \"**sms_body** template\". If \"**sms_body** template\" is empty or \"sms_should_be_sent\" is `false`, set this field to string \"null\"."
    },
    "email_should_be_sent": {
      "type": "boolean",
      "description": "Indicates whether email should be sent. Set to `true` if one or more requirements about sending an email above are met. Otherwise set to `false`."
    },
    "email_addresses": {
      "type": "array",
      "items": {
        "type": "string"
      },
      "minItems": 0,
      "description": "If \"email_should_be_sent\" is `true`, put here email addresses to which report should be sent to. Each email address must be an unique array item. If only one email address is mentioned to send report, put only one. If `email_should_be_sent` field is set to `false`, leave array empty."
    },
    "email_subject": {
      "type": "string",
      "description": "If \"email_should_be_sent\" is `true`, put here an email subject based on \"**email_subject** template\". If \"**email_subject** template\" is empty or \"email_should_be_sent\" is `false` set this field to string \"null\"."
    }
  }
} %}

{% set additional_schema = GetCustomerAttribute(field="project_attributes_setting_session_ended_report_additional_schema").strip() %}

{% if additional_schema and (additional_schema != "{}") %}
    {{schema.properties.update(
      {
        "additional_directions": {
          "type": "object",
          "properties": json.loads(additional_schema)
        }
      })}}
{% endif %}

{# Identify report destination #}
{% set prompt %}You will be provided with conversation history in <Conversation> section, additional context in <AdditionalContext>, some fields templates in <Templates> section and report criteria in <Criteria> section. Your goal is to: **take a look into ==criteria== and based on ==Identified conversation class== and ==Working hours status== from <ConversationMeta> decide whether SMS and/or email report should be sent.**
{{language_instruction}}
# Response Format
- Valid JSON-object, not a schema
- You can't use the User's phone number or Email from <Conversation>
- The valid email addresses / phone numbers are located in <Criteria> section below.

---

<Criteria>
{{report_criteria}}
</Criteria>

<Templates>
Substitute all values in square brackets using <Conversation> and <ConversationMeta>.
# **sms_body** template:
  > {{content.sms_template}}
# **email_subject** template:
  > {{content.subject_template}}

{{hipaa_instruction}}
</Templates>

---

<AdditionalContext>
{{dynamic_variables}}
</AdditionalContext>

<ConversationMeta>
Identified conversation class: {{intent_type}}
Working hours status: {{workingHourStatus}}
Agent name: {{GetCustomerAttribute(field="project_representative_agent_name")}}
Agent title: {{GetCustomerAttribute(field="project_representative_agent_title")}}{% if phone_number_with_country_code %}
User phone number: {{phone_number_with_country_code}}{% endif %}
</ConversationMeta>

<Conversation class="{{intent_type}}">
{{transcript}}
</Conversation>
{% endset %}

{% set result_json = structured_generation(prompt=prompt, schema=schema, thinking_budget=1120) %}

{{Return(val=result_json)}}
