{{SendSystemEvent(eventIdn="prepare_rag_context_command", connectorIdn="system")}}
{% set user_id = user_id or GetUser().id | string %}

{% set prompt = prompt_compile_base(user_id=user_id) %}
{% set compiled_prompt = v2v_update_current_prompt_genai_compile(prompt=prompt, footer_instruction=footer_instruction) %}

{# Setting rag right before sending, giving bigger chance to get more actual #}
{% set compiled_prompt = compiled_prompt.replace("<||rag_placeholder||>", GetPersonaAttribute(id=user_id, field="rag").strip() or "No additional information") %}

{# This is to remove unnecessary placeholders #}
{% set cleaned_prompt = re.sub("<\\|\\|.*?\\|\\|>", "", compiled_prompt.strip()) %}

{% set conversation_channel = session_get_conversation_channel(user_id=user_id) %}
{{SendCommand(
  commandIdn="update_session",
  integrationIdn="newo_voice",
  connectorIdn="newo_voice_connector" if conversation_channel == "phone" else "newo_voice_connector_web",
  instructions=cleaned_prompt,
  actorId=utils_get_and_set_last_convo_actor_id(user_id=user_id)
)}}
