{% set attempts_number = (GetState(name="attempts_number") | int + 1) | string %}
{{SetState(name="attempts_number", value=attempts_number)}}

{{SendSystemEvent(
    eventIdn="outbound_call_finished",
    connectorIdn="system",
    reason="deadline",
    recording="",
    global="True",
    actorId=GetActor().id | string,
    userId=GetUser().id | string,
    attemptNumber=GetState(name="attempts_number"),
    taskId=GetState(name="task_id"), voicemail_detected=GetState(name="voicemail_detected")
)}}
