{% set library_items = [
    json.loads(scenario_home_service_appointment_request()),
    json.loads(scenario_home_service_advanced_appointment_request()),
    json.loads(scenario_home_service_relaying_message_to_the_manager()),
    json.loads(scenario_home_service_answering_questions()),
    json.loads(scenario_home_service_regular_transfer()),
    json.loads(scenario_home_service_finish_conversation()),
    json.loads(scenario_common_schedule_appointment_agent()),
] %}


{{Return(val=json.dumps(library_items, ensure_ascii=False, indent=2))}}
