{# JSON object - example: `{'area_code': '650', 'country_code': 'US', 'fallback_area_code': '408'}` or `{'country_code': 'NL'}` #}
{# TODO: Remove temporal fix with replacing single quotes to double #}
{% set agent_creator_voice_channel_phone = GetCustomerAttribute(field="agent_creator_voice_channel_phone") %}
{% set agent_creator_voice_channel_phone = agent_creator_voice_channel_phone.replace("'", '"') %}
{% if agent_creator_voice_channel_phone.strip() and agent_creator_voice_channel_phone != "{}" %}
    {% set agent_creator_voice_channel_phone = json.loads(agent_creator_voice_channel_phone) %}
    {# `agent_creator_voice_channel_phone.country_code` must not be empty, `project_representative_agent_voice_phone_alpha2_code` is used as a fallback for existing old accounts #}
    {% set country_code = agent_creator_voice_channel_phone.get("country_code", "") %}
    {# `agent_creator_voice_channel_phone.area_code` is optional, `project_representative_agent_voice_phone_area_code` is used as a fallback for existing old accounts #}
    {% set area_code = agent_creator_voice_channel_phone.get("area_code", "") %}
    {# `agent_creator_voice_channel_phone.fallback_area_code` is optional, `project_representative_agent_voice_phone_fallback_area_code` is used as a fallback for existing old accounts #}
    {% set fallback_area_code = agent_creator_voice_channel_phone.get("fallback_area_code", "") %}
{% else %}
    {% set country_code = GetCustomerAttribute(field="project_representative_agent_voice_phone_alpha2_code") %}
    {% set area_code = GetCustomerAttribute(field="project_representative_agent_voice_phone_area_code") %}
    {% set fallback_area_code = GetCustomerAttribute(field="project_representative_agent_voice_phone_fallback_area_code") %}
{% endif %}

{# Create Connector / Buy phone number only on first init #}
{% if GetCustomerAttribute(field="project_attributes_private_account_initialized_first_time") == "True" %}
    {{DUMMY("Skipping Twilio Messenger Connector creation: account already initialized")}}
    {{Return()}}
{% endif %}

{% if GetConnectorInfo(integrationIdn="twilio_messenger", connectorIdn="sms_connector") %}
    {{DUMMY("Skipping Twilio Messenger Connector creation: account already has `sms_connector` Twilio Messenger Connector")}}
    {{Return()}}
{% endif %}

{% if not country_code.strip() %}
    {{DUMMY("Skipping Twilio Messenger Connector creation: missing country_code (" ~ country_code ~ ")")}}
    {{Return()}}
{% endif %}

{{CreateConnector(
    integrationIdn = "twilio_messenger",
    connectorIdn = "sms_connector",
    title = "sms_connector",
    settings = {
        "create_without_phone_number": "true"
    },
    start = True
)}}

{# Send command in order to:
- Buy a phone number
- Get a phone number ID
- Attach webhooks to a phone number
Refer to `AttachTwilioPhoneNumberToNewoVoice` Skill #}
{% set custom_kwargs = {"countryCode": country_code} %}
{% if area_code %}
    {{custom_kwargs.update({"areaCode": area_code})}}
{% endif %}
{% if fallback_area_code %}
    {{custom_kwargs.update({"fallbackAreaCode": fallback_area_code})}}
{% endif %}

{{SendCommand(
    integrationIdn="twilio_messenger",
    connectorIdn="sms_connector",
    commandIdn="buy_number",
    isVoice="True",
    isSms="True",
    **custom_kwargs
)}}
