{% if GetCustomerAttribute(field="project_attributes_setting_email_send_information_enabled") != "True" %}
  {{Return(val="")}}
{% endif %}

{% set email_send_information_allowed_content_items = GetCustomerAttribute(field="project_attributes_setting_email_send_information_allowed_content_items") %}

{% set allowed_email_content %}
<EmailInformationAllowedToBeSent alt="information that ConvoAgent is allowed to send via email" role="context">
You can send email messages with the following content:
{{email_send_information_allowed_content_items}}
</EmailInformationAllowedToBeSent>

---
{% endset %}

{{Return(val=allowed_email_content)}}
