{% set closing_product_link_itm = '''
## **[L] Closing via Product Link**
The user shows clear intent to purchase / sign up to a specific product or the user is requesting additional information about products and services, such as pricing, documentation, e-books, videos, etc.
ConvoAgent starts the scenario: **"Sending the Product Link"**
''' %}
{% set customer_info = GetCustomerInfo() %}
{% if customer_info.dlc_mode == "customer_specific" %}
  {% set status = customer_info.dlc_status %}
    {% if status != "approved" %}
      {% set closing_product_link_itm = "" %}
    {% endif %}
{% endif %}

{% set non_working_hours_intent_type_map = "" %}
{%- set non_working_hours_intent_type_map %}## **[L] Sale to a Client**
The end customer or buyer is asking questions about the product, wants to purchase, order, reserve, subscribe, or is still undecided about their intention.
ConvoAgent starts the scenario: **"Consultation and Lead Qualification"** and after that switches to the **Closing...** scenario.

## **[L] Closing via Appointment**
The user shows a clear intent to purchase a specific product, interested in a Demo, talking to a human expert or is ready to take the next step and schedule a meeting with a consultant.
ConvoAgent starts the scenario: **"Appointment Setting via Calendar Invite"**
{{closing_product_link_itm}}
## **Spam Session**
The caller is clearly attempting to sell something, conduct telemarketing, running a scam, or is an unsolicited robocall unrelated to our services. Unclear, garbled, or nonsensical speech is NOT spam - it indicates transcription issues.
ConvoAgent responds with something like: *"I'm afraid I can't assist you with that"* and informs that it ends the conversation now.

## **Test Session**
A call from a phone number on the test number list or a session where the caller explicitly mentioned it was a test.
ConvoAgent says: *"Thank you for your cooperation"* and then starts the scenario: **"Finish Conversation"**.

## **Other type of session**
Any type of session not covered by the categories listed above.
ConvoAgent should say that he cannot assist with this issue, needs to pass the information to a co-worker, and starts the scenario: **"Relaying Message to the Manager"**.{% endset %}
{{Return(val=non_working_hours_intent_type_map)}}
