{# Is used to update calendar just in case. #}

{% set arguments = GetTriggeredAct().arguments %}

{% set task_types = arguments.taskTypes %}
{% set content = arguments.content %}
{% set phone_number = resolve_phone_number() %}
{{arguments.update({"phoneNumber": phone_number})}}
{% if not task_types %}
    {% if content %}
        {% set tasks_json = json.loads(_defineTasksSkill(inputTasks=content))%}
        {% if tasks_json.can_complete %}
            {% set task_types = tasks_json.tasks %}
        {% else %}
            {{_createTaskRecordSkill(taskType="undefined", content=content, status="cancelled", arguments=json.dumps(arguments, ensure_ascii=False, indent=2), comment="Can't define task: " ~ tasks_json.analysis)}}
            {{Return()}}
        {% endif %}
    {% else %}
        {{_createTaskRecordSkill(taskType="undefined", content=content, status="cancelled", arguments=json.dumps(arguments, ensure_ascii=False, indent=2), comment="Nor task types no content are provided.")}}
    {% endif %}
{% else %}
    {% set task_types = json.loads(task_types) %}
{% endif %}

{% set execution_time = _defineExecutionTimeSkill() %}

{% set user_id = _getPersonaIdSkill(phone_number=phone_number) %}

{% for task_type in task_types %}
    {% if execution_time == "asap"  %}
        {% set task_meta = _createTaskRecordSkill(taskType=task_type, userId=user_id, content=content, status="sent to worker", arguments=json.dumps(arguments, ensure_ascii=False, indent=2), comment=_utilsGetLocalCurrentDateTimeFormattedSkill() ~ ": Task is sent to workers.") %}
        {{_sendTaskSkill(task=task_meta, taskType=task_type)}}
    {% else %}
        {% set task_meta = json.loads(_createTaskRecordSkill(taskType=task_type, userId=user_id, content=content, status="sent to worker", arguments=json.dumps(arguments, ensure_ascii=False, indent=2), comment=_utilsGetLocalCurrentDateTimeFormattedSkill() ~ ": Task is scheduled. Execution time : " ~ _utilsFromUtcToLocalDateTimeSkill(datetimeUtc=execution_time))) %}
        {{SendCommand(
            commandIdn="set_timer",
            integrationIdn="program_timer",
            connectorIdn="session_timer",
            fireAt=execution_time,
            timerName="task_manager_scheduled_task_" ~ task_meta.id,
            eventIdn="task_manager_trigger_task",
            personaId=user_id
        )}}
    {% endif %}
{% endfor %}
