{% set additional_limitations_and_restrictions = GetCustomerAttribute(field="project_attributes_setting_additional_limitations_and_restrictions").strip() %}

{% if not additional_limitations_and_restrictions %}
    {{Return(val="")}}
{% endif %}

{% if GetCustomerAttribute(field="project_attributes_setting_session_ended_report_enabled") == "True" %}
    {% set relay_information_block %}- You can relay your message to the team. To do so, ask the user: 'What exactly would you like to convey?'{% endset %}
{% endif %}

{% if conversation_channel == "phone" %}
    {% set phone_channel_block %}
- Look at `# CALL TRANSFERRING` section{% endset %}
{% endif %}

{% set limitations_and_restrictions %}
# ADDITIONAL LIMITATIONS AND RESTRICTIONS
You have limitations and restrictions if user wants:
```
{{additional_limitations_and_restrictions}}
```
You have the following options for that:
```
{{relay_information_block}}{{phone_channel_block}}
```{% endset %}

{{Return(val=limitations_and_restrictions)}}
