{% set bypass_phone_number = GetCustomerAttribute(field="project_attributes_setting_voice_integration_service_bypass_phone_number").strip() %}
{% if project_representative_agent_voice %}
    {{Return()}}
{% endif %}

{% set newo_voice_connector_object = GetConnectorInfo(integrationIdn="newo_voice", connectorIdn="newo_voice_connector") %}
{% if newo_voice_connector_object %}
    {% set newo_voice_connector_settings = newo_voice_connector_object.settings %}
    {% if newo_voice_connector_settings %}
        {% set emergency_phone_number = newo_voice_connector_settings.emergency_phone_number %}
        {% if emergency_phone_number %}
            {{SetCustomerAttribute(
                field="project_attributes_setting_voice_integration_service_bypass_phone_number",
                value=emergency_phone_number
            )}}
        {% endif %}
    {% endif %}
{% endif %}
