{# TODO: Potentially two skills action_save_item and action_add_library_item can be merged into one. Discuss this #}
{% set current_canvas = json.loads(GetCustomerAttribute(field="project_attributes_private_dynamic_workflow_builder_canvas_library_custom")) %}

{% set type_index = utils_get_object_index_by_key_value(obj=current_canvas, key="idn", value=type_idn).strip() %}
{% if not item.idn %}
   {{item.update({"idn": uuid.uuid4() | string})}}
   {{current_canvas[type_index | int]["items"].append(item)}}
{% else %}
   {% set items = current_canvas[type_index | int]["items"] %}
   {% set old_item_index = utils_get_object_index_by_key_value(obj=items, key="idn", value=item.idn).strip() %}

   {% if old_item_index %}
      {% set old_item = items[old_item_index | int] %}
      {# TODO: uncomment this after discussion. Now it takes more than 2 seconds to generate description. It affects saving item. #}
      {# {% if old.body != item.body %}
         {{item.update({"description": generate_item_description(title=item.title, body=item.body)})}}
      {% endif %} #}
      {{old_item.update(item)}}
   {% else %}
      {# TODO: uncomment this after discussion. Now it takes more than 2 seconds to generate description. It affects saving item. #}
      {# {{item.update({"description": generate_item_description(title=item.title, body=item.body)})}} #}
      {{current_canvas[type_index | int]["items"].append(item)}}
   {% endif %}
{% endif %}

{{SetCustomerAttribute(field="project_attributes_private_dynamic_workflow_builder_canvas_library_custom", value=json.dumps(current_canvas, ensure_ascii=False, indent=2))}}
