{% set is_valid = validate_newo_tool(tools=tools) %}
{% if is_valid == "False" %}
    {{Return()}}
{% endif %}

{% set tools = json.loads(tools) %}

{% set current_tools = GetCustomerAttribute(field="project_attributes_settings_newo_tools").strip() %}

{% if not current_tools %}
    {% set current_tools_dict = {"tools": {}} %}
{% else %}
    {% set current_tools_dict = json.loads(current_tools) %}
    {% if "tools" not in current_tools_dict %}
        {{ current_tools_dict.update({"tools": {}}) }}
    {% endif %}
{% endif %}

{% for tool in tools %}
    {{ current_tools_dict.tools.update(tool) }}
{% endfor %}

{{ SetCustomerAttribute(
    field="project_attributes_settings_newo_tools",
    value=json.dumps(current_tools_dict, ensure_ascii=False, indent=2)
) }}
