{% set project_representative_agent_voice = GetCustomerAttribute(field="project_representative_agent_voice").strip() %}
{% if project_representative_agent_voice %}
    {{SetCustomerAttribute(field="project_attributes_setting_voice_integration_service_voice_to_voice_provider_genai_voice", value=project_representative_agent_voice)}}
    {{DeleteCustomerAttribute(field="project_representative_agent_voice")}}
    {% set newo_voice_connector_object = GetConnectorInfo(integrationIdn="newo_voice", connectorIdn="newo_voice_connector") %}
    {% if newo_voice_connector_object %}
        {% set newo_voice_connector_settings = newo_voice_connector_object.settings %}
        {% if newo_voice_connector_settings %}
            {% set openai_v2v_voice = newo_voice_connector_settings.openai_v2v_voice %}
            {% if openai_v2v_voice %}
                {% set mapped_openai_agent_voice = "" %}
                {% if openai_v2v_voice == "alloy" %}
                    {% set mapped_openai_agent_voice = "Neutral - Alloy" %}
                {% endif %}
                {% if openai_v2v_voice == "ash" %}
                    {% set mapped_openai_agent_voice = "Male - Ash" %}
                {% endif %}
                {% if openai_v2v_voice == "ballad" %}
                    {% set mapped_openai_agent_voice = "Male - Ballad" %}
                {% endif %}
                {% if openai_v2v_voice == "coral" %}
                    {% set mapped_openai_agent_voice = "Female - Coral" %}
                {% endif %}
                {% if openai_v2v_voice == "echo" %}
                    {% set mapped_openai_agent_voice = "Male - Echo" %}
                {% endif %}
                {% if openai_v2v_voice == "fable" %}
                    {% set mapped_openai_agent_voice = "Male - Fable" %}
                {% endif %}
                {% if openai_v2v_voice == "nova" %}
                    {% set mapped_openai_agent_voice = "Female - Nova" %}
                {% endif %}
                {% if openai_v2v_voice == "onyx" %}
                    {% set mapped_openai_agent_voice = "Male - Onyx" %}
                {% endif %}
                {% if openai_v2v_voice == "sage" %}
                    {% set mapped_openai_agent_voice = "Female - Sage" %}
                {% endif %}
                {% if openai_v2v_voice == "shimmer" %}
                    {% set mapped_openai_agent_voice = "Female - Shimmer" %}
                {% endif %}
                {% if openai_v2v_voice == "verse" %}
                    {% set mapped_openai_agent_voice = "Male - Verse" %}
                {% endif %}
                {% if mapped_openai_agent_voice %}
                    {{SetCustomerAttribute(
                        field="project_attributes_setting_voice_integration_service_voice_to_voice_provider_openai_voice",
                        value=mapped_openai_agent_voice
                    )}}
                {% endif %}
            {% endif %}
        {% endif %}
    {% endif %}
{% endif %}
