{# Check industry match #}
{% set industry = GetCustomerAttribute(field="project_business_industry") %}
{% if industry not in ["catering_industry", "hospitality_industry", "restaurant_industry"] %}
    {{Return()}}
{% endif %}

{% set transfer_call_criteria = GetCustomerAttribute(field="project_attributes_setting_transfer_call_criteria") %}

{# Migrate to a new default value #}
{% set transfer_call_criteria = transfer_call_criteria.replace(
    '- "customer service";\n- "representative";\n- Speak with the manager or co-worker (including returning or continuing a previous conversation);',
    '- Speak with the manager or co-worker (including returning or continuing a previous conversation);\n- "customer service";\n- "representative";'
) %}

{{ SetCustomerAttribute(field="project_attributes_setting_transfer_call_criteria", value=transfer_call_criteria) }}

{# Check if new value was already applied #}
{% if '"customer service";' in transfer_call_criteria %}
    {{Return()}}
{% endif %}

{# Apply migration #}
{% set transfer_call_criteria = transfer_call_criteria ~ '\n- "customer service";\n- "representative";' %}

{{ SetCustomerAttribute(field="project_attributes_setting_transfer_call_criteria", value=transfer_call_criteria) }}
