{# Skill is being triggered on `project_publish_finish` which is being sent on finishing Project publication #}

{% set triggered_act = GetTriggeredAct() %}

{% set target_reference = triggered_act.arguments.registry_item_idn %}
{% if target_reference != "naf" %}
    {{Return()}}
{% endif %}

{% set setting_should_be_initialized = GetCustomerAttribute(field="agent_creator_setting_should_be_initialized") %}
{% if setting_should_be_initialized == "False" %}
    {{skip_init()}}
    {{Return()}}
{% endif %}

{# Setup process starts here, event is used for statistical purposes, it can be used in other projects as well #}
{# TODO: Send `sa_init_started` event during import process as well #}
{{SendSystemEvent(eventIdn="sa_init_started", connectorIdn="system", global="True")}}

{% set triggered_by = triggered_act.arguments.triggered_by %}
{% if (triggered_by == "auto_update") and (GetProjectAttribute(field="project_attributes_setting_init_on_auto_update_enabled") == "False") %}
    {{SendSystemEvent(eventIdn="set_sa_version", connectorIdn="system", global="True")}}
    {# Setup process ends here, event is used for statistical purposes, it can be used in other projects as well #}
    {# TODO: handle `GMPrepareReportsFlow` - send this event when it was finished #}
    {{SendSystemEvent(eventIdn="sa_init_finished", connectorIdn="system", global="True")}}
    {{Return()}}
{% endif %}

{# Skip migrations if account is being initialized for the first time #}
{# ? TODO: Replace with event's `customer_init` act parameter? #}
{% set account_initialized_first_time = GetCustomerAttribute(field="project_attributes_private_account_initialized_first_time") %}
{% set previous_version = triggered_act.arguments.project_previous_version %}
{% set current_version = triggered_act.arguments.registry_item_version %}
{% if not account_initialized_first_time.strip() %}
    {% set account_initialized_first_time = "False" %}

    {# Handle case of migrating from old SA versions where
    `project_attributes_private_account_initialized_first_time` Attribute did not exist
    (if was added in `2.5.54` version) #}
    {% if previous_version and previous_version.strip() %}
        {% set p_parts = previous_version.split('-')[0].split('.') | default(['0','0','0']) %}
        {% set p_version_tuple = (p_parts[0] | int, p_parts[1] | int, p_parts[2] | int) %}
        {% if p_version_tuple < (2, 5, 54) %}
            {% set account_initialized_first_time = "True" %}
        {% endif %}
    {% endif %}

    {{SetCustomerAttribute(field="project_attributes_private_account_initialized_first_time", value=account_initialized_first_time)}}
{% endif %}
{% if account_initialized_first_time == "True" %}
    {# Apply migrations only on version upgrade #}
    {% set migrations_must_be_applied = "False" %}
    {% if (triggered_by == "force_update") or (triggered_by == "auto_update") %}
        {% set migrations_must_be_applied = "True" %}
    {% endif %}
    {% if migrations_must_be_applied == "True" %}
        {{apply_migrations(previous_version=previous_version, current_version=current_version)}}
    {% endif %}
{% endif %}

{{ProjectImportSkill()}}
