{# 1. Setup phone number-dependant Connectors as early as possible #}

{# Setup `Newo Voice Integration` Connectors #}
{{prepare_connectors_newo_voice()}}

{# Setup `Newo SMS Integration` Connectors #}
{{prepare_connectors_newo_sms()}}

{# Setup `Twilio Messenger Integration` Connectors #}
{{prepare_connectors_twilio_messenger()}}

{# 2. Setup remaining Connectors #}

{# Setup `API Integration` Connectors #}
{{prepare_connectors_api_integration()}}

{# Setup `Apify Integration` Connectors #}
{{prepare_connectors_apify_integration()}}

{# Setup `Customer Intercom Integration` Connectors #}
{{prepare_connectors_customer_intercom_integration()}}

{# Setup `Google Calendar Integration` Connectors #}
{{prepare_connectors_google_calendar_integration()}}

{# Setup `Http Integration` Connectors #}
{{prepare_connectors_http_integration()}}

{# Setup `Magic Browser Integration` Connectors #}
{{prepare_connectors_magic_browser_integration()}}

{# Setup `Newo Chat Integration` Connectors #}
{{prepare_connectors_newo_chat_integration()}}
{{prepare_connectors_workflow_builder_integration()}}

{# Setup `Program Timer Integration` Connectors #}
{{prepare_connectors_program_timer_integration()}}

{# Setup `Sandbox Integration` Connectors #}
{{prepare_connectors_sandbox_integration()}}
