{% set instructions = GetCustomerAttribute(field="project_attributes_setting_lead_nurturing_instructions") %}
{% if not instructions.strip() %}
    {{Return()}}
{% endif %}
{% set user_id = GetUser(field="id").id|string %}
{% set act = GetTriggeredAct() %}
{{SendSystemEvent(
    eventIdn="task_manager_get_user_tasks",
    connectorIdn="system",
    global="True",
    requester_idn="LFUTriggerFlow",
    user_id=user_id,
    callback_arguments=json.dumps(act.arguments, ensure_ascii=False, indent=2)
)}}
