{# Switch to `V2V` mode in NEWO Voice #}

{{SetCustomerAttribute(field="project_attributes_setting_voice_integration_service_voice_mode", value="voice-to-voice")}}

{{SetCustomerAttribute(field="project_attributes_setting_voice_integration_service_voice_to_voice_provider", value="openai")}}

{{SetCustomerAttribute(field="project_attributes_setting_follow_up_timer_voice_interval_user_speech_ended", value="60")}}
