{% set agent_persona_id = GetAgentPersona(field="id").id %}
{% set act = GetTriggeredAct() %}
{% set items = json.loads(act.arguments.menu) %}
{% set inputMenu = items[0]["items"] %}
{% set itemByName = {} %}
{% set itemHumanList = {} %}
{% set itemIndexes = {} %}
{% for item in inputMenu %}
    {% set item_name = item.name %}
    {% set item_category = item.category %}
    {{itemByName.update({item_name: item})}}
    {% set item_description = '' %}
    {% set item_modifiers = [] %}
    {% if item.description %}
        {% set item_description = " (" + item.description + ")" %}
    {% endif %}
    {% for modifier in item.modifiers %}
        {{item_modifiers.append(modifier.name)}}
    {% endfor %}
    {#% set menu_line = item_name + item_description + ": " + item.formattedPrice %#}
    {% set menu_line = item_name + ": " + item.formattedPrice %}
    {% if item_modifiers %}
        {% set menu_line = menu_line + " [Modifiers: " + ", ".join(item_modifiers) + "]" %}
    {% endif %}
    {% if not itemHumanList[item_category] %}
        {{itemHumanList.update({item_category: [menu_line]})}}
    {% else %}
        {% set current_category = itemHumanList[item_category] %}
        {{current_category.append(menu_line)}}
        {{itemHumanList.update({item_category: current_category})}}
    {% endif %}
    {{itemIndexes.update({item_name:"something"})}}
{% endfor %}
{{SetPersonaAttribute(id=agent_persona_id|string, field="latest_menu", value=json.dumps(itemByName))}}
{{SetPersonaAttribute(id=agent_persona_id|string, field="latest_menu_indexes", value=json.dumps(itemIndexes|list))}}
{% set human_readable_menu = "" %}
{% for category in itemHumanList.keys() %}
    {% set human_readable_menu = human_readable_menu + '<Category type="' + category + '">\n' %}
    {% set human_readable_menu = human_readable_menu + '\n'.join(itemHumanList[category]) + '\n</Category>\n' %}
{% endfor %}


{{SetCustomerAttribute(field="project_attributes_restaurant_menu", value=human_readable_menu)}}