{# Regenerate `project_attributes_private_dynamic_session_ended_report_content_json` Attribute #}

{{SetState(name="previous_send_report_content", value="")}}

{# Switch to `OpenAI V2V` mode in NEWO Voice #}

{{SetCustomerAttribute(field="project_attributes_setting_voice_integration_service_voice_mode", value="voice-to-voice")}}

{{SetCustomerAttribute(field="project_attributes_setting_voice_integration_service_voice_to_voice_provider", value="openai")}}

{{SetCustomerAttribute(field="project_attributes_setting_follow_up_timer_voice_interval_user_speech_ended", value="60")}}
