{% set industry = GetCustomerAttribute(field="project_business_industry") %}

{% set introduction_items = json.loads(prepare_library_introduction_items(industry=industry)) %}
{% set intent_type_items = json.loads(prepare_library_intent_type_items(industry=industry)) %}
{% set scenario_items = json.loads(prepare_library_scenario_items(industry=industry)) %}
{% set procedure_items = json.loads(prepare_library_procedure_items(industry=industry)) %}

{% set custom_library = GetCustomerAttribute(field="project_attributes_private_dynamic_workflow_builder_canvas_library_custom").strip() %}

{% if not custom_library %}
  {% set custom_library = [
      {
        "idn": "introduction",
        "items": []
      },
      {
        "idn": "intent_types",
        "items": []
      },
      {
        "idn": "scenarios",
        "items": []
      },
      {
        "idn": "procedures",
        "items": []
      }
    ] %}
    {{SetCustomerAttribute(field="project_attributes_private_dynamic_workflow_builder_canvas_library_custom", value=json.dumps(custom_library, ensure_ascii=False, indent=2))}}
{% else %}
  {% set custom_library = json.loads(custom_library) %}
{% endif %}

{% set custom_introduction_items = json.loads(utils_find_object_by_key_value(obj=custom_library, key="idn", value="introduction"))["items"] %}
{% set custom_intent_type_items = json.loads(utils_find_object_by_key_value(obj=custom_library, key="idn", value="intent_types"))["items"] %}
{% set custom_scenario_items = json.loads(utils_find_object_by_key_value(obj=custom_library, key="idn", value="scenarios"))["items"] %}
{% set custom_procedure_items = json.loads(utils_find_object_by_key_value(obj=custom_library, key="idn", value="procedures"))["items"] %}

{% set library = [
  {
    "idn": "introduction",
    "title": "Introduction",
    "color": "#45556C",
    "items": introduction_items + custom_introduction_items
  },
  {
    "idn": "intent_types",
    "title": "Intent Types",
    "color": "#E60076",
    "items": intent_type_items + custom_intent_type_items
  },
  {
    "idn": "scenarios",
    "title": "Scenarios",
    "color": "#009966",
    "items": scenario_items + custom_scenario_items
  },
  {
    "idn": "procedures",
    "title": "Procedures",
    "color": "#155DFC",
    "items": procedure_items + custom_procedure_items
  }
] %}

{{SetCustomerAttribute(field="project_attributes_private_dynamic_workflow_builder_canvas_library", value=json.dumps(library, ensure_ascii=False, indent=2))}}
