{{_utilsCustomerAttributeSetIfEmptySkill(field="project_attributes_setting_email_send_information_enabled", value="False")}}

{# Default information that can be sent via email #}

{% set common_allowed_content = "- Link to make an appointment: 'Please use this link to make an appointment: [appointment_url]'
- Appointment details: '[business_name]: Thank you for your request! Appointment details: service - [address], date and time - [date / time], location - [preferred location]. A representative will contact you to confirm the details.'" %}

{% set common_allowed_content_items = "- Link to make an appointment
- Appointment details" %}

{{_utilsCustomerAttributeSetIfEmptySkill(field="project_attributes_setting_email_send_information_allowed_content", value=common_allowed_content)}}
{{_utilsCustomerAttributeSetIfEmptySkill(field="project_attributes_setting_email_send_information_allowed_content_items", value=common_allowed_content_items)}}