{{system}}Extract the phone number from the <Text> section below according to the provided JSON schema.

<Text>
{{content}}
</Text>{{end}}
{% set result_json = Gen(jsonSchema=_schemasSkill(extractPhone="True"), validateSchema="True", temperature=0.2, topP=0, skipFilter=True, thinkingBudget=425) %}

{{Return(val=result_json)}}
