{% set country_code_attr_metadata = GetCustomerMetadataAttribute(idn="project_representative_agent_voice_phone_country_code") %}

{% if "The country code you want for your AI phone number." in country_code_attr_metadata.description %}
    {{utils_customer_attribute_rename(
        old_idn="project_representative_agent_voice_phone_country_code",
        new_idn="project_representative_agent_voice_phone_alpha2_code"
    )}}
{% endif %}

{% set region_code_attr_metadata = GetCustomerMetadataAttribute(idn="project_representative_agent_voice_phone_region_code") %}

{% if "Phone region code for the Agent's phone number." in region_code_attr_metadata.description %}
    {{utils_customer_attribute_rename(
        old_idn="project_representative_agent_voice_phone_region_code",
        new_idn="project_representative_agent_voice_phone_country_code"
    )}}
{% endif %}
