{% set intents_from_itm = json.loads(GetCustomerAttribute(field="project_attributes_private_dynamic_intents_list")) %}
{% set intent_name_in_report_content_pattern = "^\\s*##\\s*Report Type:\\s*\\*\\*\\s*(.*?)\\s*\\*\\*" %}
{% set intents_from_report_content = re.findall(intent_name_in_report_content_pattern, GetCustomerAttribute(field="project_attributes_setting_session_ended_report_content")) %}

{% if intents_from_report_content %}
    {% if intents_from_report_content | sort == intents_from_itm | sort %}
        {{Return()}}
    {% endif %}
{% endif %}

{% set current_report_content = GetCustomerAttribute(field="project_attributes_setting_session_ended_report_content") %}

{# Checking if there are extra intents in the current report content #}
{% set fixed_report_content = "" %}

{% for report_content in current_report_content.split("\n\n---\n\n") %}
    {% set match = re.search("##\\s*Report Type:\\s*\\*\\*(.*?)\\*\\*", report_content, re.MULTILINE) %}
    {% if match %}
        {% if match.group(1) in intents_from_itm %}
            {% if not fixed_report_content %}
                {% set fixed_report_content = report_content %}
            {% else %}
                {% set fixed_report_content = fixed_report_content ~ "\n\n---\n\n" ~ report_content %}
            {% endif %}
        {% endif %}
    {% endif %}
{% endfor %}

{# Checking if intents are in the current report content and add them if they are not #}
{% for intent_name in intents_from_itm %}
    {% if intent_name not in fixed_report_content %}
        {% set default_report_content = default_report_content_build(intentName=intent_name) %}
        {% if not fixed_report_content %}
            {% set fixed_report_content = default_report_content %}
        {% else %}
            {% set fixed_report_content = fixed_report_content ~ "\n\n---\n\n" ~ default_report_content %}
        {% endif %}
    {% endif %}
{% endfor %}

{{SetCustomerAttribute(field="project_attributes_setting_session_ended_report_content", value=fixed_report_content)}}
