{% if tenant != "newo" %}
    {{Return(val="")}}
{% endif %}

{% set footer %}
<br><br>
***<br>
Powered by <a href= "https://newo.ai/"> Newo.ai </a> human-like AI Agent builder.
{% endset %}

{{Return(val=footer)}}