{% set arguments = GetTriggeredAct().arguments %}
{% set task_id = arguments.taskId %}
{% set user_id = GetUser().id | string %}
{% set retry = arguments.retry %}
{% if retry == "False" %}
    {{SetState(name="attempts_number", value="0")}}
{% endif %}

{{SetState(name="task_id", value=task_id)}}
{{SetState(name="voicemail_detected", value="False")}}

{% set phone_number = arguments.phoneNumber %}

{{SendSystemEvent(eventIdn="switch_outbound_reply_skill", connectorIdn="system")}}

{# To give time so ConvoAgent can prepare and cache prompt #}
{{Sleep(duration="10", interruptible="n")}}

{{SendCommand(
    commandIdn="make_call",
    integrationIdn="newo_voice",
    connectorIdn="newo_voice_connector",
    phoneNumber=phone_number
)}}

{% set timeout = get_customer_attribute_or_default(field="project_attributes_setting_outbound_naive_conversation_deadline_seconds", default="180") | int %}

{{SendCommand(
    commandIdn="set_timer",
    integrationIdn="program_timer",
    connectorIdn="outbound_timer",
    eventIdn="call_deadline_exceeded",
    timerName="deadline_timer_" ~ task_id,
    personaId=user_id,
    interval=timeout | string,
    enabled="True"
)}}

{{_updateTaskManagerStatusSkill(taskId=task_id, status="in progress", comment="Call in progress.")}}

{{_updateCallTableSkill(recording="-", userId=GetUser().id | string, summary="Call in progress.", taskId=task_id)}}
