{% set business_language_additional = GetCustomerAttribute(field="project_business_language_additional") %}
{% set business_language_additional_transformed = "" %}
{% if business_language_additional.strip() and business_language_additional != "[]" %}
    {# Example of the `business_language_additional` format - `["Spanish", "Russian"]` (string containing JSON array of strings) #}
    {% set business_language_additional = json.loads(business_language_additional) %}
    {# Convert this array to the following format: `Spanish, Russian` #}
    {% for language in business_language_additional %}
        {% if not loop.first %}
            {% set business_language_additional_transformed = business_language_additional_transformed + ", " %}
        {% endif %}
        {% set business_language_additional_transformed = business_language_additional_transformed + language %}
    {% endfor %}
{% endif %}

{% set language_instructions %}Your reply language is critical. You **must** follow the definitive rules in the `## **Switch Language** procedure` located in the `<ConvoAgentScenariosAndProcedures>` block. This procedure is the **single source of truth** for language selection.
{% endset %}

{{Return(val=language_instructions.strip())}}
