{# Attribute data type was changed from `enum` to `bool` so `possible_values` must be reset #}

{{SetCustomerMetadataAttribute(
    idn="project_attributes_setting_voice_integration_service_voice_to_voice_provider_genai_vertex_enabled",
    field="possible_values",
    value=[]
)}}
