{% set arguments = GetTriggeredAct().arguments %}
{% set user_id = GetUser().id | string %}
{{SetState(name="waiting_mode_active", value="True")}}

{% set instruction %}{{arguments.instruction or 'You promised to perform some action and you are currently waiting for the result.'}}

If the user asks something, ask them politely to wait. You can say something like: "Please wait a moment, I will get back to you shortly.".

- If the User asks anything except clarification questions while you're waiting: respond with something like: **"Please wait a moment, I'll get back to you shortly."**
- If the User asks any clarification questions while you're waiting: answer their question and mention you are still [based on conversation history you have to understand what are you doing right now].

Match the user language.{% endset %}

{% set integration_idn = session_get_current_integration_idn(user_id=user_id) %}

{% if (integration_idn == "newo_voice") and (GetCustomerAttribute(field="project_attributes_setting_voice_integration_service_voice_mode") == "voice-to-voice") %}
    {# No need to setup state with footer instruction, since for voice to voice models we update prompt once and don't update waiting mode is turned off. #}
    {{v2v_add_context(turn=instruction, user_id=user_id)}}
    {{v2v_update_current_prompt(footer_instruction=instruction)}}
{% else %}
    {{SetState(name="waiting_mode_footer_instruction", value=instruction)}}
{% endif %}
