{{system}}{{prompt.strip()}}{{end}}{{assistant}}{% set result_json = Gen(jsonSchema=schema, validateSchema="True", temperature=temperature or 0.2, topP=top_p or 0, maxTokens=4000, skipFilter=True, thinkingBudget=thinking_budget or 85) %}{{end}}

{{Return(val=result_json)}}
