{# Retrieve phonetic business name representation #}
{% set business_name_phonetic = GetCustomerAttribute(field="project_business_name_phonetic") %}

{# Check if business name phonetic was set #}
{% if business_name_phonetic.strip() == '' %}
    {{Return(val=source)}}
{% endif %}

{# Retrieve regular business name #}
{% set business_name_regular = GetCustomerAttribute(field="project_business_name") %}

{# Replace business name with phonetic representation and return #}
{{Return(val=source.replace(business_name_regular, business_name_phonetic))}}
