{# TODO: Refactor, make a better solution (caching is needed) #}
{% set sms_opt_in_status = GetPersonaAttribute(id=userId, field="sms_subscribed") %}
{% set email_opt_in_status = GetPersonaAttribute(id=userId, field="email_subscribed") %}
{% set phone_number_without_country_code = _utilsPersonaAttributeGetWithDefaultsSkill(id=userId, field="detected_phone_number_without_country_code") %}

{% set user_information %}
user.full_name: {{_utilsPersonaAttributeGetWithDefaultsSkill(id=userId, field="full_name")}}

user.email: {{_utilsPersonaAttributeGetWithDefaultsSkill(id=userId, field="email")}}

user.language: {{_utilsPersonaAttributeGetWithDefaultsSkill(id=userId, field="user_language")}}

user.detected_phone_number_country_code: {{_utilsPersonaAttributeGetWithDefaultsSkill(id=userId, field="detected_phone_number_country_code")}}
user.detected_phone_number_with_country_code: {{_utilsPersonaAttributeGetWithDefaultsSkill(id=userId, field="detected_phone_number_with_country_code")}}
user.detected_phone_number_without_country_code: {{phone_number_without_country_code}}

user.provided_phone_number_country_code: {{_utilsPersonaAttributeGetWithDefaultsSkill(id=userId, field="provided_phone_number_country_code")}}
user.provided_phone_number_with_country_code: {{_utilsPersonaAttributeGetWithDefaultsSkill(id=userId, field="provided_phone_number_with_country_code")}}
user.provided_phone_number_without_country_code: {{_utilsPersonaAttributeGetWithDefaultsSkill(id=userId, field="provided_phone_number_without_country_code")}}

user.sms_opt_in_status: {% if sms_opt_in_status == "false" %}The user rejected to receive any SMS. If you need to send something via SMS, you need to ask permission to do so.{% else %}SMS sending is allowed.{% endif %}
user.email_opt_in_status: {% if email_opt_in_status == "false" %}The user rejected to receive emails. If you need to send something via email, you need to ask permission to do so.{% else %}Email sending is allowed.{% endif %}
{% endset %}

{{SetPersonaAttribute(id=userId, field="_private_dynamic_user_information", value=user_information)}}

{% if not GetPersonaAttribute(id=userId, field="phone_number_spelled").strip() %}
    {% if phone_number_without_country_code != "null" %}
        {% set phone_number_spelled = json.loads(get_user_phone_number_spelled(phone_number=phone_number_without_country_code)) %}

        {% set phone_number_spelled_instruction = "For example for the user's detected phone number: " ~ '"' ~ phone_number_without_country_code ~ '", spell it like: "' ~ phone_number_spelled["spelled"] ~ '" or like: "' ~ phone_number_spelled["divided"] ~ '". Avoid skipping or mixing up any digits! Spell it as is!' %}

        {{SetPersonaAttribute(id=userId, field="phone_number_spelled", value=phone_number_spelled_instruction)}}
    {% endif %}
{% endif %}
