{# Was commented out because newest SA version does not have such states #}
{# {{SetState(name="previous_rag_knowledge_base_text", value="")}} #}
{# {{SetState(name="previous_rag_knowledge_base_text_structured", value="")}} #}
