{# making sure the session ends gracefully #}
{{Sleep(duration="10", interruptible="False")}}

{% set act = GetTriggeredAct() %}
{% set user_id = GetUser().id | string %}
{% set intent_id = GetPersonaAttribute(id=user_id, field="assessor_intent_id") %}
{% if not intent_id %}
    {{Return()}}
{% endif %}
{% set transcript = GetPersonaAttribute(id=user_id, field="assessor_complete_conversation") %}
{% if act.arguments.aiResultSuccess == "true" %}
    {% set status = "success" %}
{% else %}
    {% set status = "fail" %}
{% endif %}

{{SendSystemEvent(
    eventIdn="assessor_session_ended",
    global=true,
    intent_id=intent_id,
    status=status,
    transcript=transcript,
    recording_urls=json.dumps(act.arguments.recordingUrls or [], ensure_ascii=False, indent=2)
)}}
