{% set items = [] %}

{% for instruction in instructions %}
    {{DUMMY(instruction)}}

    {% if instruction|trim != "" %}
        {% set title = re.search("(?<=##\s).+\n", instruction).group(0) %}

        {{DUMMY(title)}}

        {% set body = instruction|replace("## " ~ title, "")|trim %}
        {% set title = title|trim(" \n") %}

        {% set mentions = [] %}

        {% set description = _migration_3_0_0_helper_get_description(body=body) %}

        {% set idn = uuid.uuid4()|string %}

        {% set item = {
            "idn": idn,
            "title": "## "~title,
            "body": body|trim,
            "mentions": mentions,
            "description": description,
            "is_from_library": False,
            "origin_idn": ""
        } %}

        {% set items = items + [item] %}
    {% endif %}
{% endfor %}

{{Return(val=json.dumps(items, ensure_ascii=False, indent=2))}}
