{% set act = GetTriggeredAct() %}
{% set message =  act.arguments.transcript %}

{% if not message or not message.strip() %}
    {{_utilsSendSystemLogSkill(message="Message is empty, skipping sending.")}}
    {{Return()}}
{% endif %}

{% set user_id = GetUser().id | string %}
{% set actor_id = _utilsGetOrSetLastConvoActorId(userId=user_id) %}
{{CreateMessageAct(text=message, from="agent", userActorId=actor_id)}}

{% set connector_idn = GetActor().connectorIdn | string %}
{% set conversation_channel = "phone" %}
{% if connector_idn == "newo_voice_connector_web" %}
    {% set conversation_channel = "webcall" %}
{% endif %}

{{SendSystemEvent(
    eventIdn="analyze_conversation",
    connectorIdn="system",
    conversationChannel=conversation_channel,
    convoAgentAnswer=message,
    toDate=GetDateTime(format="datetime", timezone="UTC")
)}}
