{# Switch to `Transcriber` mode in NEWO Voice #}

{{SetCustomerAttribute(field="project_attributes_setting_voice_integration_service_voice_mode", value="transcriber")}}

{{SetCustomerAttribute(field="project_attributes_setting_voice_integration_service_voice_to_voice_provider", value="genai")}}

{{SetCustomerAttribute(field="project_attributes_setting_follow_up_timer_voice_interval_user_speech_ended", value="9")}}

{# Regenerate Attribute #}

{{SetCustomerAttribute(field="project_attributes_private_dynamic_session_ended_report_content_json", value="")}}
