{% set industry = GetCustomerAttribute(field="project_business_industry") %}
{% set include_intent_type_idns = [] %}
{% set include_scenario_idns = [] %}
{% set include_procedure_idns = [] %}

{{include_intent_type_idns.extend(json.loads(get_default_included_intent_type_idns(industry=industry)))}}

{# For now each industry has only one introduction scenario #}
{# If in the future we will have more then one introduction scenario for each industry, create include_introduction_idns variable  #}
{% set default_introduction_scenario = json.loads(prepare_library_introduction_items(industry=industry)) %}

{# Preparing intent types #}
{# Including not needed intent types #}
{% set default_intent_types = json.loads(prepare_library_intent_type_items(industry=industry)) | selectattr("idn", "in", include_intent_type_idns) | list %}

{# Collecting scenarios mentions from intent types #}
{% set include_scenario_idns = include_scenario_idns + json.loads(utils_collect_mentions(type="scenarios", items=default_intent_types)) %}
{# Collecting procedures mentions from intent types #}
{% set include_procedure_idns = include_procedure_idns + json.loads(utils_collect_mentions(type="procedures", items=default_intent_types)) %}

{% set default_scenarios = json.loads(prepare_library_scenario_items(industry=industry)) | selectattr("idn", "in", json.loads(utils_leave_unique_items(items=include_scenario_idns))) | list %}

{# Collecting procedures mentions from scenarios #}
{% set include_procedure_idns = include_procedure_idns + json.loads(utils_collect_mentions(type="procedures", items=default_scenarios)) %}

{% set default_procedures = json.loads(prepare_library_procedure_items(industry=industry)) | selectattr("idn", "in", json.loads(utils_leave_unique_items(items=include_procedure_idns))) | list %}

{% set canvas = {
    "title": "Workflow Builder",
    "types": [
        {
          "idn": "introduction",
          "title": get_type_title(canvas_type="introduction"),
          "description": get_type_description(canvas_type="introduction"),
          "color": get_type_color(canvas_type="introduction"),
          "items": default_introduction_scenario
        },
        {
          "idn": "intent_types",
          "title": get_type_title(canvas_type="intent_types"),
          "description": get_type_description(canvas_type="intent_types"),
          "color": get_type_color(canvas_type="intent_types"),
          "items": default_intent_types
        },
        {
          "idn": "scenarios",
          "title": get_type_title(canvas_type="scenarios"),
          "description": get_type_description(canvas_type="scenarios"),
          "color": get_type_color(canvas_type="scenarios"),
          "items": default_scenarios
        },
        {
          "idn": "procedures",
          "title": get_type_title(canvas_type="procedures"),
          "description": get_type_description(canvas_type="procedures"),
          "color": get_type_color(canvas_type="procedures"),
          "items": default_procedures
        },
        {
          "idn": "csv_outbound",
          "title": get_type_title(canvas_type="csv_outbound"),
          "description": get_type_description(canvas_type="csv_outbound"),
          "color": get_type_color(canvas_type="csv_outbound"),
          "items": []
        },
        {
          "idn": "csv_outbound_sms",
          "title": get_type_title(canvas_type="csv_outbound_sms"),
          "description": get_type_description(canvas_type="csv_outbound_sms"),
          "color": get_type_color(canvas_type="csv_outbound_sms"),
          "items": []
        }
    ]
}%}

{{SetCustomerAttribute(field="project_attributes_private_dynamic_workflow_builder_canvas", value=json.dumps(canvas, ensure_ascii=False, indent=2))}}
