{{SendSystemEvent(eventIdn="set_prompt_custom_section", connectorIdn="system", actorIds=[actorId], sectionName="OutboundSMSContext", sectionValue="In this session, ConvoAgent messaged the user.\nUse the information below as instructions and context for this conversation.\n\n" ~ messageReason)}}
