{% set summary = "task id: " ~ taskId ~ "\nuser id: " ~ userId ~ "\n\n" ~ summary %}

{{SendSystemEvent(
    eventIdn="update_call_record",
    connectorIdn="system",
    phoneNumber=GetPersonaAttribute(id=userId, field="sms_outbound_original_phone_number"),
    endCallReason=reason,
    callRecording=transcript,
    summary=summary,
    global="True"
)}}