{% set agent_persona_id = GetAgentPersona().id | string %}
{% set itm_nwh = GetCustomerAttribute(field="project_attributes_private_dynamic_itm_non_working_hours_compiled") %}
{% set itm_wh = GetCustomerAttribute(field="project_attributes_private_dynamic_itm_working_hours_compiled") %}
{% set full_itm = GetCustomerAttribute(field="project_attributes_private_dynamic_itm_compiled") %}
{% set ami = GetCustomerAttribute(field="project_attributes_private_dynamic_ami_compiled") %}
{{SetPersonaAttribute(id=agent_persona_id, field="current_itm_nwh", value=itm_nwh)}}
{{SetPersonaAttribute(id=agent_persona_id, field="current_itm_wh", value=itm_wh)}}
{{SetPersonaAttribute(id=agent_persona_id, field="current_itm", value=full_itm)}}
{{SetPersonaAttribute(id=agent_persona_id, field="current_ami", value=ami)}}
{% set act = GetTriggeredAct() %}
{% set request = json.loads(act.arguments.request) %}
{% set channels = ['phone'] %}
{% if act.arguments.channels %}
    {% set channels = json.loads(act.arguments.channels) %}
{% endif %}
{% if is_running() | string == "True" %}
    {% set intents = json.loads(GetPersonaAttribute(id=agent_persona_id, field="intents")) %}
    {% set execution_id = intents[0].executionId %}
    {% set working_hours_state = get_working_hours_status() %}
    {% for channel in channels %}
        {% set intent_id = uuid.uuid4() | string %}
        {% set new_intent = {
            "executionId": execution_id,
            "intentId": intent_id,
            "working_hours_state": working_hours_state,
            "name": request.name,
            "channel": channel,
            "auditor_instruction": request.auditor_instruction,
            "outcome": request.outcome
        } %}
        {{intents.append(new_intent)}}
    {% endfor %}
    {{SetPersonaAttribute(id=agent_persona_id, field="intents", value=json.dumps(intents, ensure_ascii=False, indent=2))}}
{% else %}
    {% set execution_id = uuid.uuid4() | string %}
    {% set working_hours_state = get_working_hours_status() %}
    {% set intents = [] %}
    {% for channel in channels %}
        {% set intent_id = uuid.uuid4() | string %}
        {% set new_intent = {
            "executionId": execution_id,
            "intentId": intent_id,
            "working_hours_state": working_hours_state,
            "channel": channel,
            "name": request.name,
            "auditor_instruction": request.auditor_instruction,
            "outcome": request.outcome
        } %}
        {{intents.append(new_intent)}}
    {% endfor %}
    {{SetPersonaAttribute(id=agent_persona_id, field="intents", value=json.dumps(intents, ensure_ascii=False, indent=2))}}
    {{ReevaluateIntentsSkill()}}
{% endif %}
