{# Write your nsl conditions and test amount #}
{% set test_amount = 10 %}

{% set success = [] %}
{% set fail = [] %}
{% for x in range(test_amount) %}

    {% set output = json.loads(_responseStructuredGenerationSkill(interactive="False")) %}
    {# Not filled properly #}
    {% if not output %}
        {{Return()}}
    {% endif %}

    {# your condition here #}
    {% set condition = not output.toolsToCall %}

    {% if condition %}
        {{success.append(output)}}
    {% else %}
        {{fail.append(output)}}
    {% endif %}

{% endfor %}

{% set msg1 = "Success amount: " ~ success | length | string %}
{% set msg2 = "Fail amount: " ~ fail | length | string %}

{{SendMessage(message=msg1)}}
{{SendMessage(message=msg2)}}
