{# Switch to OpenAI V2V #}

{{SetCustomerAttribute(field="project_attributes_setting_voice_integration_service_voice_to_voice_provider", value="openai")}}

{{SetCustomerAttribute(field="project_attributes_setting_follow_up_timer_voice_interval_user_speech_ended", value="60")}}

{# Set recommended NEWO Voice settings #}

{# Deepgram STT Endpointing #}
{% set deepgram_stt_endpointing = GetConnectorInfo(integrationIdn="newo_voice", connectorIdn="newo_voice_connector").settings.deepgram_stt_endpointing %}
{% if deepgram_stt_endpointing.strip() %}
    {{SetConnectorInfo(integrationIdn="newo_voice", connectorIdn="newo_voice_connector", field="deepgram_stt_endpointing", value="350")}}
{% endif %}

{# TTS: Send flush on punctuation #}
{% set flush_on_punctuation = GetConnectorInfo(integrationIdn="newo_voice", connectorIdn="newo_voice_connector").settings.flush_on_punctuation %}
{% if flush_on_punctuation.strip() %}
    {{SetConnectorInfo(integrationIdn="newo_voice", connectorIdn="newo_voice_connector", field="flush_on_punctuation", value="False")}}
{% endif %}

{# OpenAI TTS Voice #}
{% set google_v2v_voice = GetCustomerAttribute(field="project_representative_agent_voice") %}
{% if "Female" in google_v2v_voice  %}
    {% set openai_v2v_voice_selected = "sage" %}
{% else %}
    {% set openai_v2v_voice_selected = "ash" %}
{% endif %}
{% set openai_v2v_voice = GetConnectorInfo(integrationIdn="newo_voice", connectorIdn="newo_voice_connector").settings.openai_v2v_voice %}
{% if openai_v2v_voice.strip() %}
    {{SetConnectorInfo(integrationIdn="newo_voice", connectorIdn="newo_voice_connector", field="openai_v2v_voice", value=openai_v2v_voice_selected)}}
{% endif %}

{# OpenAI V2V Model #}
{% set openai_v2v_model = GetConnectorInfo(integrationIdn="newo_voice", connectorIdn="newo_voice_connector").settings.openai_v2v_model %}
{% if openai_v2v_model.strip() %}
    {{SetConnectorInfo(integrationIdn="newo_voice", connectorIdn="newo_voice_connector", field="openai_v2v_model", value="gpt-4o-realtime-preview-2025-06-03")}}
{% endif %}

{# OpenAI V2V Temperature #}
{% set openai_v2v_temperature = GetConnectorInfo(integrationIdn="newo_voice", connectorIdn="newo_voice_connector").settings.openai_v2v_temperature %}
{% if openai_v2v_temperature.strip() %}
    {{SetConnectorInfo(integrationIdn="newo_voice", connectorIdn="newo_voice_connector", field="openai_v2v_temperature", value="0.8")}}
{% endif %}
