{{utils_connector_create_if_not_exists(
    integrationIdn = "sandbox",
    connectorIdn = "convo_agent_sandbox",
    title = "convo_agent_sandbox",
    settings = {},
    start = True
)}}

{{utils_connector_create_if_not_exists(
    integrationIdn = "sandbox",
    connectorIdn = "test_agent_sandbox",
    title = "test_agent_sandbox",
    settings = {},
    start = True
)}}

{{utils_connector_create_if_not_exists(
    integrationIdn = "sandbox",
    connectorIdn = "scenario_writer",
    title = "scenario_writer",
    settings = {},
    start = True
)}}
