{% set title = '## **Scenario 0:** "Introduction"' %}

{% set body %}
### **Step 0.1:** ConvoAgent immediately asks if they may know the User's name, but does not insist. If the User does not provide their name or it is not clearly heard, ConvoAgent proceeds to the next step.

### **Step 0.2:** Say a phrase following this example: "Nice to meet you, [user_name]! I can tell you about [business_name]'s [2 most popular products/services specified in **Products and Services** in <BusinessContext>], send you additional information, walk you through our partner program, or schedule a demo meeting with my human colleagues. Where would you like to start?"

### **Step 0.3:** Start the relevant scenario as described in the **Scenarios** section based on the User's inquiry and the **<IntentTypeMap>**.
{% endset %}

{% set description %}
Begin by politely asking for the user’s name (without insisting), then greet them and briefly present options: information on the two most popular offerings, sending additional materials, the partner program, or scheduling a demo. Based on the user’s request, proceed to the appropriate scenario using the IntentTypeMap.
{% endset %}


{% set item = {
    "idn": "scenario_sales_introduction",
    "title": title.strip(),
    "body": body.strip(),
    "mentions": [],
    "description": description.strip(),
    "is_from_library": True,
    "origin_idn": ""
} %}

{{Return(val=json.dumps(item, ensure_ascii=False, indent=2))}}
