{{system}}
Translate a text specified in <TextToTranslate> to {{target_language}} language.
Return only the translated text without any explanation or additional text.

<TextToTranslate>
{{input_text}}
</TextToTranslate>
{{end}}

{{assistant}}
  {% set translated_text = Gen(temperature=0.1, topP=0, maxTokens=4000, skipFilter=True, thinkingBudget=420) %}
{{end}}

{{Return(val=translated_text)}}
