{% set common_phone_numbers = json.loads(GetCustomerAttribute(field="project_attributes_setting_common_phone_numbers") | default([], true)) %}
{% set blocked_phone_numbers = json.loads(GetCustomerAttribute(field="project_attributes_setting_blocked_phone_numbers") | default([], true)) %}

{# Create a filtered list of blocked numbers that are not in common_phone_numbers #}
{% set filtered_blocked = [] %}
{% for number in blocked_phone_numbers %}
    {% if number not in common_phone_numbers %}
        {{ filtered_blocked.append(number) }}
    {% endif %}
{% endfor %}

{{ SetCustomerAttribute(field="project_attributes_setting_blocked_phone_numbers", value=filtered_blocked | tojson) }}
