{% set user_id = user_id or GetUser().id | string %}
{% set last_convo_actor_id = GetPersonaAttribute(id=user_id, field="last_convo_actor_id") %}

{% if last_convo_actor_id.strip() %}
    {{Return(val=last_convo_actor_id)}}
{% endif %}

{% set current_actor_id = GetActor().id | string %}
{% set connector_idn = GetTriggeredAct().connectorIdn %}
{% set integration_idn = GetTriggeredAct().integrationIdn %}
{% set channel = GetConnectorInfo(integrationIdn=integration_idn, connectorIdn=connector_idn).settings.channel %}
{# To avoid situations when last convo actor id becomes from technical connector, such as http, magic browser, etc. #}
{% if (channel == "technical") and (not connector_idn == "convo_agent_sandbox") %}
    {{Return(val="")}}
{% endif %}

{{SetPersonaAttribute(id=user_id, field="last_convo_actor_id", value=current_actor_id)}}

{{Return(val=current_actor_id)}}
