{% if GetCustomerAttribute(field="project_attributes_setting_booking_check_availability_enabled") != "True" %}
    {{Return(val="")}}
{% endif %}

{% set availability_section %}
<AvailabilityForTheUserRequestedDateTime>
<||availability_placeholder||>
</AvailabilityForTheUserRequestedDateTime>

---
{% endset %}

{{Return(val=availability_section)}}