{% if not url.strip() or url.strip() == "None" %}
  {{Return()}}
{% endif %}

{% if '?' not in url %}
  {{Return()}}
{% endif %}

{% set query_string = url.split('?')[1] %}

{% if not query_string.strip() %}
  {{Return()}}
{% endif %}

{% set query_items = query_string.split('&') %}

{% set params = [] %}
{% for query_item in query_items %}
  {% if query_item and query_item.count('=') == 1 %}
    {% set key_value = query_item.split('=') %}
    {{params.append({"name": key_value[0], "value": key_value[1]})}}
  {% endif %}
{% endfor %}

{% if not params %}
  {{Return()}}
{% endif %}

{{Return(val=params|tojson)}}
