{% set schema = {
    "type": "object",
    "properties": {
        "intent_type_map_title": {
            "type": "string",
            "description": "The intent the agent worked with."
        },
        "steps": {
            "type": "array",
            "description": "The steps agent must had completed according to <IntentTypeMap>",
            "items": {
                "type": "object",
                "properties": {
                    "step_description": {
                        "type": "string",
                        "description": "Describe what needs to be done on a particular step."
                    },
                    "completed": {
                        "type": "boolean",
                        "description": "`true` if the agent successfully completed the action from `step_description`"
                    },
                    "assessment": {
                        "type": "string",
                        "description": "If the agent did not follow the step completely or failed to complete it, describe this decision. If the agent completed the step, reference a moment from the conversation when it did happen."
                    }
                },
                "required": ["step_description", "completed", "assessment"]
            }
        },
        "cta": {
            "type": "object",
            "properties": {
                "agent_goal": {
                    "type": "string",
                    "description": "Describe the agent goal. Look up the <IntentTypeMap> and find out what the agent needed to do to comply user's request."
                },
                "completed": {
                    "type": "boolean",
                    "description": "The CTA was reached according to the conversation transcript."
                },
                "assessment": {
                    "type": "string",
                    "description": "Explain your CTA decision and reasoning."
                }
            },
            "required": ["agent_goal", "completed", "assessment"]
        },
        "scoring": {
            "type": "object",
            "properties": {
                "total_steps": {
                    "type": "number",
                    "description": "Number of steps the agent needed to complete"
                },
                "completed_steps": {
                    "type": "number",
                    "description": "Number of steps the agent **successfully** completed"
                },
                "assessment_score": {
                    "type": "number",
                    "description": "Analyze the whole conversation and everything you filled in so far. Score the agent result from 0 to 100, where 0 - no steps completed, cta is not reached, 100 - all steps completed perfectly as stated in the instruction, cta is reached."
                }
            },
            "required": ["total_steps", "completed_steps", "assessment_score"]
        }
    },
    "required": ["intent_type_map_title", "steps", "cta", "scoring"]
} %}

{{Return(val=json.dumps(schema, ensure_ascii=False, indent=2))}}
