{# Update ITM #}
{% set itm = GetCustomerAttribute(field="project_attributes_itm") %}
{% if itm.strip() %}
    {{SetCustomerAttribute(
      field="project_attributes_itm",
      value=itm.replace(
        "Questions about the address, directions, working hours, services, prices, running late etc.",
        'Questions about the address, directions, working hours, services, prices, running late, etc.'
    ))}}
{% endif %}

{# Update OpenAI V2V Agent speech speed #}
{{SetConnectorInfo(integrationIdn="newo_voice", connectorIdn="newo_voice_connector", field="openai_v2v_speed", value="1.15")}}

{# Update follow-up timers on "conversation started" #}
{{SetCustomerAttribute(field="project_attributes_setting_follow_up_timer_voice_interval_conversation_started_inbound", value="7")}}
{{SetCustomerAttribute(field="project_attributes_setting_follow_up_timer_voice_interval_conversation_started_outbound", value="7")}}
