{% set current_interrupt_state = GetState(name="user_interrupt") %}
{% if current_interrupt_state == "Start" %}
    {{SetState(name="user_interrupt", value="End")}}
    {# {{_utilsSendDebugLogSkill(
        message="User finished speaking during agent speech, ignoring followup update & recording 'End' `user_interrupt` state. This usually happens on phantom user_speech_* events. (Noises, quick sounds etc)"
    )}} #}
    {{Return()}}
{% endif %}

{% set current_chat_lifecycle_state = GetState(name="chat_lifecycle_state") %}
{% if current_chat_lifecycle_state == "Agent" %}
    {# {{_utilsSendDebugLogSkill(
        message="User finished speaking during agent speech with the `started` event unmanaged by the queue. Ignoring followup update & waiting for the agent speech end."
    )}} #}
    {{Return()}}
{% endif %}

{% set interval = GetCustomerAttribute(field="project_attributes_setting_follow_up_timer_voice_interval_user_speech_ended") %}
{% set user_id = GetUser().id | string %}

{{SetState(name="chat_lifecycle_state", value="Silence")}}

{{SendSystemEvent(
    eventIdn="convoagent_update_followup",
    connectorIdn="system",
    interval=interval,
    personaId=user_id,
    reason="user_speech_ended"
)}}
