{% set agent_supported_languages = GetCustomerAttribute(field="project_representative_agent_supported_languages") %}
{% if not agent_supported_languages %}
    {{Return()}}
{% endif %}

{{DeleteCustomerAttribute(field="project_representative_agent_supported_languages")}}

{% set agent_style = GetCustomerAttribute(field="project_representative_agent_style") %}

{% set schema = {
  "type": "object",
  "properties": {
    "analysis": {
      "type": "string",
      "description": "Briefly explain your reasoning and approach for determining each field in this schema."
    },
    "specified_languages": {
      "type": "array",
      "description": "Languages specified in <AgentStyle> field. If no languages specified, leave this field empty.",
      "items": {
        "type": "string"
      }
    },
    "main_language": {
      "type": "string",
      "description": "The main language specified in <AgentStyle>. If no main language specified, leave this field empty. If multiple main languages specified, select the first one. Note that the main language must be explicitly specified as the main language.",
    },
    "refined_agent_style": {
      "type": "string",
      "description": "Refined <AgentStyle> content in the new format."
    }
  },
  "required": ["analysis", "specified_languages", "refined_agent_style"]
} %}

{% set business_language_primary_possible_values = GetCustomerMetadataAttribute(idn="project_business_language_primary").possibleValues %}
{% if not business_language_primary_possible_values %}
    {% set business_language_primary_possible_values = [] %}
{% endif %}

{% if business_language_primary_possible_values != [] %}
    {% set _ = schema.properties.main_language.update({"enum": business_language_primary_possible_values + [""]}) %}
    {% set _ = schema.properties.main_language.update({"description": schema.properties.main_language.description + " Also note that the main language might be written differently in <AgentStyle>, but you must transform it to one of the enum values."}) %}
{% endif %}

{% set prompt %}Your goals are:
1. Define the list of languages specified in <AgentStyle>.
2. Rewrite the <AgentStyle> content to a new format specified in <NewAgentStyleFormatRules>.

<AgentStyle>
{{agent_style}}
</AgentStyle>

<NewAgentStyleFormatExamples>
Example without accent:
```txt
friendly professional, super welcoming. Speak energetic and fast
```

Example with accent:
```txt
friendly professional, super welcoming. Speak energetic and fast. You speak with Australian accent
```
</NewAgentStyleFormatExamples>

<NewAgentStyleFormatRules>
- No languages specified (accent is allowed to be mentioned), for example:
    - "Your main language is English" must be removed
    - "Your main language is Spanish, also you speak English, Ukrainian and Russian" must be removed
    - "You speak with Australian accent" must be preserved
- Some customizations can be preserved so you don't have to rewrite <AgentStyle> to exactly match <NewAgentStyleFormatExamples>
- Do not output backticks or code blocks (```txt ... ```)
- Do not place dot (".") at the end
</NewAgentStyleFormatRules>{% endset %}

{# Optimization: no need to call LLM for default cases #}
{% if (agent_style.strip().lower() == "friendly professional, super welcoming. speak energetic and fast. your main language is english")
  or (agent_style.strip().lower() == "friendly professional, super welcoming. speak energetic and fast. your main language is english.") %}
    {% set result_json = {
      "specified_languages": ["English"],
      "main_language": "English",
      "refined_agent_style": "friendly professional, super welcoming. Speak energetic and fast"
    } %}
{% elif (agent_style.strip().lower() == "friendly professional, super welcoming. speak energetic and fast")
  or (agent_style.strip().lower() == "friendly professional, super welcoming. speak energetic and fast.") %}
    {% set result_json = {
      "specified_languages": [],
      "main_language": "",
      "refined_agent_style": "friendly professional, super welcoming. Speak energetic and fast"
    } %}
{% else %}
    {% set result_json = utils_structured_generation(schema=schema, prompt=prompt) %}
    {% set result_json = json.loads(result_json) %}
{% endif %}

{# Update `project_business_language_primary` #}
{% set main_language = result_json.main_language.strip() %}
{% if main_language %}
    {% if main_language in business_language_primary_possible_values %}
        {{SetCustomerAttribute(field="project_business_language_primary", value=main_language)}}
    {% endif %}
{% endif %}

{# Update `project_business_language_additional` #}
{% set specified_languages = result_json.specified_languages %}
{% if (not main_language) or ((specified_languages | length) > 1) %}
    {% set business_language_additional = GetCustomerAttribute(field="project_business_language_additional") %}
    {% if not business_language_additional %}
        {% set business_language_additional = "[]" %}
    {% endif %}
    {% set business_language_additional = json.loads(business_language_additional) %}

    {% set business_language_primary = GetCustomerAttribute(field="project_business_language_primary") %}

    {% for language in specified_languages %}
        {% if (language.lower().strip() != business_language_primary.lower().strip()) and (language not in business_language_additional) %}
            {% set _ = business_language_additional.append(language) %}
        {% endif %}
    {% endfor %}

    {% set business_language_additional = business_language_additional | reject("equalto", business_language_primary) | list %}

    {{SetCustomerAttribute(field="project_business_language_additional", value=json.dumps(business_language_additional, ensure_ascii=False, indent=2))}}
{% endif %}

{# Update `project_representative_agent_style` #}
{{SetCustomerAttribute(field="project_representative_agent_style", value=result_json.refined_agent_style)}}
