{# setup intents #}
{% set agent_persona_id = GetAgentPersona().id | string %}
{% set assessor_id = GetPersonaAttribute(id=agent_persona_id, field="assessor_id") %}
{% set target_agent_phone_number = GetCustomerAttribute(field="project_representative_agent_voice_phone_number") %}
{% set target_working_hours_state = get_working_hours_status() %}
{% set intents = json.loads(GetPersonaAttribute(id=agent_persona_id, field="intents")) %}
{% for intent in intents %}
    {% if not intent.status and intent.working_hours_state == target_working_hours_state %}
        {{intent.update({"status": "pending"})}}
    {% endif %}
{% endfor %}

{% set all_done = True %}

{% for intent in intents %}
    {# considering only current working hours state #}
    {% if intent.working_hours_state == target_working_hours_state %}
        {% if  not intent.status or intent.status == "pending" or intent.status == "requested" or intent.status == "running" %}
            {% set all_done = False %}
        {% endif %}
    {% endif %}
    {% if intent.status == "pending" %}
        {# we need to run a call, free intent and assigned connector #}
        {% set time_zone = GetCustomerAttribute(field="project_business_time_zone") %}

        {% set assessor_persona_id = '' %}
        {% set assessor_actor_id = '' %}

        {% if intent.channel == "phone" %}

            {{intent.update({"status": "requested"})}}
            {% set agent_phone_number = GetConnectorInfo(integrationIdn="newo_voice", connectorIdn="newo_voice_connector").settings.agent_phone_number %}
            {{SendCommand(
                commandIdn="send_connector_event",
                integrationIdn="customer_intercom",
                connectorIdn="assessor_server",
                userPersonaId=agent_persona_id,
                eventIdn="hold_phone_number",
                eventArguments=json.dumps({
                    "assessor_id": assessor_id,
                    "execution_id": intent.executionId,
                    "intent_id": intent.intentId,
                    "phone_number": agent_phone_number,
                    "time_zone": time_zone,
                    "instruction": intent.auditor_instruction
                }, ensure_ascii=False, indent=2)
            )}}
        {% endif %}
        {% if intent.channel == "chat" %}
            {# for chat, we create only user's persona (assessor's in fact) #}
            {% set assessor_persona_id = CreatePersona(name="Assessor Session") | string %}
            {% set assessor_actor_id = CreateActor(integrationIdn="api", connectorIdn="assessor_chat", externalId=intent.intentId, personaId=assessor_persona_id, timeZone=time_zone) | string %}
        {% endif %}

        {% if intent.channel == "chat" %}
            {{SetPersonaAttribute(id=assessor_persona_id, field="assessor_intent_id", value=intent.intentId)}}
            {{SetPersonaAttribute(id=assessor_persona_id, field="assessor_intent", value=json.dumps(intent, ensure_ascii=False, indent=2))}}
            {{SetPersonaAttribute(id=assessor_persona_id, field="assessor_instruction", value=intent.auditor_instruction)}}
            {% set session_start_timestamp_utc = GetDateTime(format="datetime", timezone="UTC") %}
            {{SetPersonaAttribute(id=assessor_persona_id, field="assessor_session_start_timestamp_utc", value=session_start_timestamp_utc)}}
            {{SendSystemEvent(eventIdn="assessor_start_chat_internal", actorIds=[assessor_actor_id], actorId=assessor_actor_id)}}
            {{intent.update({"status": "running"})}}
        {% endif %}
    {% endif %}
{% endfor %}
{# let's check we completed other working_hours_state as well #}
{% set everything_completed = all_done %}
{% set new_working_hours_display_name = '' %}
{% set new_working_hours_state = '' %}
{% set run_both_wh = GetPersonaAttribute(id=agent_persona_id, field="run_both_wh") %}

{% if all_done and run_both_wh == "True" %}
    {% if target_working_hours_state == "working_hours" %}
        {% set new_working_hours_state = "non_working_hours" %}
        {% set new_working_hours_display_name = "Non Working Hours" %}
    {% endif %}
    {% if target_working_hours_state == "non_working_hours" %}
        {% set new_working_hours_state = "working_hours" %}
        {% set new_working_hours_display_name = "Working Hours" %}
    {% endif %}
    {% for intent in intents %}
        {% if intent.working_hours_state == new_working_hours_state %}
            {% if  not intent.status or intent.status == "pending" or intent.status == "running" %}
                {% set everything_completed = False %}
            {% endif %}
        {% endif %}
    {% endfor %}
{% endif %}

{{SetPersonaAttribute(id=agent_persona_id, field="intents", value=json.dumps(intents, ensure_ascii=False, indent=2))}}

{% if not all_done %}
    {{Return()}}
{% endif %}

{% if not everything_completed %}
    {% set time_zone_decision = json.loads(get_valid_timezone_llm(target_state=new_working_hours_display_name)) %}
    {% if not time_zone_decision.shift_needed %}
        {{ReevaluateIntentsSkill()}}
        {{Return()}}
    {% endif %}
    {% if time_zone_decision.shift_needed and time_zone_decision.shift_possible %}
        {{SetState(name="time_zone_switch_state", value="in_progress")}}
        {{SetCustomerAttribute(field="project_business_time_zone", value=time_zone_decision.time_zone)}}
        {{SendSystemEvent(
            eventIdn="project_publish_finish",
            connectorIdn="project",
            triggered_by="time_zone_shift",
            registry_item_idn="naf",
            global="True"
        )}}
        {{Return()}}
    {% endif %}
    {% if time_zone_decision.shift_needed and not time_zone_decision.shift_possible %}
        {{DUMMY("Test is not possible as there is no way to test " ~ new_working_hours_state)}}
    {% endif %}
{% endif %}

{{process_finished_test_run(agent_persona_id=agent_persona_id, intents=json.dumps(intents, ensure_ascii=False, indent=2))}}
