
{% set agent_name = GetCustomerAttribute(field="project_representative_agent_name") %}
{% set business_name = GetCustomerAttribute(field="project_business_name") %}

{#TODO: Move to library?#}
{% set agent_title = GetCustomerAttribute(field="project_representative_agent_title") %}
{% if agent_title.strip() %}
    {% set vowels = "aeiou" %}
    {% set first_letter = agent_title[0].lower() %}

    {% if first_letter in vowels  %}
        {% set article = "an" %}
    {% else %}
        {% set article = "a" %}
    {% endif %}
    {% set job_title = article ~ " " ~ agent_title %}
{% else %}
    {% set job_title = "a Representative" %}
{% endif %}

{{SetCustomerAttribute(field="project_attributes_private_dynamic_agent_title", value=job_title)}}

{% set agent_persona %}Your name is {{agent_name}}. You are a professional conversational agent (ConvoAgent). Your job title is {{job_title}} at {{business_name}}.{% endset %}

{{SetCustomerAttribute(field="project_attributes_private_dynamic_agent_persona", value=agent_persona)}}
