{{SetCustomerAttribute(field="project_attributes_setting_session_ended_report_content", value="")}}

{% set current_report_criteria = GetCustomerAttribute(field="project_attributes_setting_session_ended_report_criteria_template").strip() %}
{% set previous_default_criteria = _migration_2_5_118_helper().strip() %}
{% if current_report_criteria == previous_default_criteria %}
    {{SetCustomerAttribute(field="project_attributes_setting_session_ended_report_criteria_template", value="")}}
    {{Return()}}
{% endif %}

{{SendCommand(
    commandIdn="send_email",
    integrationIdn="api",
    connectorIdn="webhook",
    toEmail="nikita@newo.ai",
    cc="",
    subject="Not default criteria",
    bodyText="Business Name: " ~ GetCustomerAttribute(field="project_business_name") ~ "<br>Customer IDN: " ~ GetCustomer().idn ~ "<br><br>" ~ current_report_criteria.replace("\n", "<br>"),
    senderName="Newo.ai | DoNotReply"
)}}

{% set industry = GetCustomerAttribute(field="project_business_industry") %}

{% if industry == "catering_industry" %}
    {% set current_report_criteria = current_report_criteria.replace("EMERGENCY or COMPLAINT", "Guest Support, Contractor Support, Manager or Human Request").replace("EMERGENCY", "Guest Support, Contractor Support, Manager or Human Request").replace("CATERING ORDER", "Catering Order").replace("CLIENT MESSAGE", "Guest Support, Contractor Support, Manager or Human Request") %}
{% endif %}

{% if industry == "cleaning_industry" %}
    {% set current_report_criteria = current_report_criteria.replace("EMERGENCY or COMPLAINT", "Guest Support, Contractor Support, Manager or Human Request").replace("EMERGENCY", "Guest Support, Contractor Support, Manager or Human Request").replace("NEW LEAD", "Approximate AI Estimate, In-person Estimate, Remote-Virtual Estimate, Schedule Cleaning").replace("CHANGE or CANCEL RESERVATION", "Reschedule or Modification, Cancellation").replace("CLIENT MESSAGE", "Client Support, Contractor Support, Manager or Human Request") %}
{% endif %}

{% if industry == "dental_industry" %}
    {% set current_report_criteria = current_report_criteria.replace("EMERGENCY", "Emergency Call").replace("RESCHEDULING", "Reschedule or Modification").replace("CANCELLATION", "Cancellation").replace("COMPLAINT", "Patient Support, Contractor Support, Manager or Human Request").replace("NEW PATIENT", "New Patient Appointment").replace("EXISTING PATIENT", "Existing Patient Appointment").replace("CANCEL RESERVATION", "Cancellation").replace("CLIENT MESSAGE", "Patient Support, Contractor Support, Manager or Human Request") %}
{% endif %}

{% if industry == "home_service_industry" %}
    {% set current_report_criteria = current_report_criteria.replace("EMERGENCY or COMPLAINT", "Guest Support, Contractor Support, Manager or Human Request").replace("EMERGENCY", "Emergency").replace("NEW LEAD", "Appointment Scheduling, Other Services Request").replace("RESCHEDULE, MODIFICATION", "Reschedule or Modification").replace("CANCELLATION", "Cancellation").replace("CLIENT MESSAGE", "Client Support, Complaints, Contractor Support, Manager or Human Request") %}
{% endif %}

{% if industry == "hospitality_industry" %}
    {% set current_report_criteria = current_report_criteria.replace("EMERGENCY or COMPLAINT", "Guest Support, Contractor Support, Manager or Human Request").replace("EMERGENCY", "Guest Support, Contractor Support, Manager or Human Request").replace("LARGE GROUP RESERVATION", "Large Group Reservation").replace("REGULAR RESERVATION", "Regular Reservation").replace("CANCEL RESERVATION", "Cancellation, Reschedule or Modification").replace("CLIENT MESSAGE", "Guest Support, Contractor Support, Manager or Human Request") %}
{% endif %}

{% if industry == "restaurant_industry" %}
    {% set current_report_criteria = current_report_criteria.replace("EMERGENCY or COMPLAINT", "Guest Support, Contractor Support, Manager or Human Request").replace("EMERGENCY", "Guest Support, Contractor Support, Manager or Human Request").replace("LARGE GROUP RESERVATION", "Large Reservation").replace("CATERING RESERVATION", "Catering Order").replace("PRIVATE DINING", "Private Dining").replace("CLIENT MESSAGE", "Guest Support, Contractor Support, Manager or Human Request").replace("CANCEL RESERVATION", "Cancellation, Reschedule or Modification").replace("NEW LEAD, ", "") %}
{% endif %}

{{SetCustomerAttribute(field="project_attributes_setting_session_ended_report_criteria_template", value=current_report_criteria)}}
