{% set user_id = GetUser().id | string %}

{% set requested_day_of_week = GetPersonaAttribute(id=user_id, field="requested_day_of_week") %}
{% set requested_date = GetPersonaAttribute(id=user_id, field="requested_date") %}
{% set requested_time_formatted = GetPersonaAttribute(id=user_id, field="requested_time_formatted") %}


{% set parts = [] %}
{% if requested_day_of_week != "null" %}
  {% set _ = parts.append(requested_day_of_week) %}
{% endif %}
{% if requested_date != "null" %}
  {% set _ = parts.append(requested_date) %}
{% endif %}
{% if requested_time_formatted != "null" %}
  {% set _ = parts.append(requested_time_formatted) %}
{% endif %}

{% set general_availability %}
For {{ parts|join(', ') if parts else 'your request' }}, the available slots are as follows:

{% for item in availability %}
- {{ item.resource|default(item.location) }} ({{ item.availableTimeSlots|length }} slots): {{ item.availableTimeSlots|join(', ') }}
{% endfor %}
{% endset %}

{{SetPersonaAttribute(id=user_id, field="booking_slots_availability_checking_status_details", value="The agent has received a response from the booking system with available slots. The response is displayed in block `# Slots availability response`. However, the booking is still not confirmed by the booking system and has not taken place!")}}
{{SetPersonaAttribute(id=user_id, field="action_state_booking_submitting", value="The agent has **not** sent a booking request to the booking system, and has **not** yet received a confirmation.")}}

{{SetPersonaAttribute(id=user_id, field="booking_slots_availability_result", value=general_availability)}}

