{% set connector_object = GetConnectorInfo(integrationIdn=integrationIdn, connectorIdn=connectorIdn) %}
{% if connector_object %}
    {% set connector_settings = connector_object.settings %}
    {% if connector_settings %}
        {% if connector_settings[field] %}
            {{SetConnectorInfo(
                integrationIdn=integrationIdn,
                connectorIdn=connectorIdn,
                field=field,
                value=value
            )}}
        {% else %}
            {{DUMMY("Field `" ~ field ~ "` does not exist in Connector `" ~ connectorIdn ~ "` in Integration `" ~ integrationIdn ~ "`. Skipping setting it.")}}
        {% endif %}
    {% else %}
        {{DUMMY("Connector `" ~ connectorIdn ~ "` in Integration `" ~ integrationIdn ~ "` has no settings. Skipping setting `" ~ field ~ "`.")}}
    {% endif %}
{% else %}
    {{DUMMY("Connector `" ~ connectorIdn ~ "` in Integration `" ~ integrationIdn ~ "` does not exist. Skipping setting `" ~ field ~ "`.")}}
{% endif %}
