{% set working_hours_object = GetCustomerAttribute(field="project_attributes_private_dynamic_schedule_working_hours_object") %}
{% if not working_hours_object.strip() %}
    {# Fallback to working hours #}
    {{Return(val="working_hours")}}
{% endif %}
{% set working_hours_object = json.loads(working_hours_object) %}
{% set time_zone = GetCustomerAttribute(field="project_business_time_zone") %}
{% set current_date = GetDateTime(format="date", timezone=time_zone, weekday=True) %}
{% set current_date_week_day = current_date.split(',')[1].strip() %}
{% set current_date = current_date.split(',')[0].strip() %}
{% set day_object = working_hours_object.get(current_date_week_day) %}
{% if not day_object or day_object is not mapping %}
    {{Return(val="working_hours")}}
{% endif %}

{% if day_object.working_day is sameas False %}
    {{Return(val="non_working_hours")}}
{% endif %}

{% set current_time = GetDateTime(format="time", timezone=time_zone) %}
{% set working_hours_keys = current_time.split(':') %}
{% set working_hours_key = working_hours_keys[0] ~ working_hours_keys[1][0] %}
{% if working_hours_key in day_object.working_hours %}
    {{Return(val="working_hours")}}
{% else %}
    {{Return(val="non_working_hours")}}
{% endif %}
