{% set additional_criteria = GetCustomerAttribute(field="project_attributes_setting_session_ended_report_additional_criteria").strip() %}

{% set report_template = GetCustomerAttribute(field="project_attributes_setting_session_ended_report_criteria_template") %}

{% if additional_criteria and additional_criteria != "{}" %}
    {% set report_template %}{{report_template}}{% for key, additional_report_criteria in json.loads(additional_criteria).items() %}
---
{{additional_report_criteria}}{% endfor %}{% endset %}
{% endif %}

{{SetCustomerAttribute(field="project_attributes_setting_session_ended_report_criteria_complete_template", value=report_template)}}
