{# ! TODO: split conversation channel to two entities: technical channel (webcall, phone, chat) and conversational channel (voice, chat) #}
{% if channel == "webcall" %}
    {% set prompt_conversation_channel = "phone" %}
{% else %}
    {% set prompt_conversation_channel = channel %}
{% endif %}

{% set tools_json = json.loads(tools) %}
{% set tool_list = [] %}
{% set tool_list_names = [] %}
{% for k in tools_json.tools.keys() %}
    {% set _ = tool_list_names.append(k) %}
    {% set tool = tools_json.tools[k] %}
    {% set tool_text = "# " ~ k %}
    {% if tool.description %}
        {% set tool_text = tool_text ~ "\n## Description:\n" ~ tool.description %}
    {% endif %}
    {% if tool.conditions %}
        {% set tool_text = tool_text ~ "\n## Conditions:" %}
        {% for tc in tool.conditions.keys() %}
            {% set tool_text = tool_text ~ "\n- `" ~ tc ~ "`: " ~ tool.conditions[tc].description %}
        {% endfor %}
    {% endif %}
    {% set _ = tool_list.append(tool_text ~ "\n") %}
{% endfor %}
{% set tools_to_call_schema = json.loads(get_tools_to_call_schema(ranking="True", keys=json.dumps(tool_list_names, ensure_ascii=False, indent=2))) %}

{% set prompt %}
You are observing the conversation between `ConvoAgent` and `{{GetUser().name | string}}` (enclosed in <Conversation>). You are also provided with the latest ConvoAgent answer (enclosed in <LatestConvoAgentAnswer>).
You have a selection of `tools` (functions) specified in <AvailableTools>. These tools were previously chosen by different agents, but **only one of them should be called**.
Each tool has conditions defining whether it must be called or not.

Your goal is to rank the most relevant tool to call and build a JSON object using the provided schema.

A tool must be called only when all of its conditions are met and fit the tool's defined purpose directly.

<AvailableTools>
{{'\n'.join(tool_list)}}
</AvailableTools>

<ConversationMeta>
conversation.channel: {{prompt_conversation_channel}}
</ConversationMeta>

<Conversation>
{{memory_without_latest_agent_answer}}
</Conversation>

<LatestConvoAgentAnswer>
{{latest_agent_answer}}
</LatestConvoAgentAnswer>
{% endset %}

{% set result_json = json.loads(structured_generation(prompt=prompt, schema=json.dumps(tools_to_call_schema, ensure_ascii=False, indent=2))) %}

{{Return(val=result_json["toolToCall"])}}
