{% set library_items = [
    json.loads(scenario_hospitality_regular_reservation_via_link()),
    json.loads(scenario_hospitality_large_group_reservation()),
    json.loads(scenario_hospitality_relaying_message_to_the_manager()),
    json.loads(scenario_hospitality_answering_questions()),
    json.loads(scenario_hospitality_regular_transfer()),
    json.loads(scenario_hospitality_finish_conversation()),
    json.loads(scenario_common_schedule_appointment_agent()),
] %}

{{Return(val=json.dumps(library_items, ensure_ascii=False, indent=2))}}
