{{utils_connector_create_if_not_exists(
    integrationIdn = "magic_browser",
    connectorIdn = "magic_browser_connector",
    title = "magic_browser_connector",
    settings = {},
    start = True
)}}
