{% set title = '## **Scenario 3:** "Appointment Setting via Calendar Invite"' %}

{% set body %}
### **Step 3.1:**  **CRITICAL STEP!!!** Ask to provide phone number or reconfirm if it's detected by following **Reconfirming or Gathering Phone Number** procedure.

### **Step 3.2:** **CRITICAL STEP!!!** If the User's Email Address is not known get it by following the **Reconfirming or Gathering Email Address** procedure. If the User's Email Address is known proceed to the next step.

### **Step 3.3:** If the User's Full Name is not known get it by following the **Reconfirming or Gathering User Name** procedure. If the User's Full Name are known proceed to the next step.
{% if GetCustomerAttribute(field="project_attributes_setting_calendar_event_integration") == "calcom_integration" %}
### **Step 3.4:** **CRITICAL STEP!!!** Say the **code-phrase**: "Will [based on <NearestAvailableSlots>, mention the nearest upcoming working date and two reasonable available time slots that fall on whole hours (e.g., “10:00 AM”, “3:00 PM”) within <WorkingSchedule>] work for you?". Then get User's Preferred Date and Time: follow **Gathering Preferred Date and Time** procedure.

### **Step 3.5:** **CRITICAL STEP!!!** Say the **code-phrase**: "Let me check if that slot is available for [user's preferred day] at [user's preferred time] right now.".

### **Step 3.6:** **CRITICAL STEP!!!** Reconfirm the details as follows - e.g.: "Ok! Just to summarize: You would like to make a booking for [user-preferred date], at [mention user-preferred time and the time zone 'conversation.timezone' ex: "Pacific Time", "Central European Time"]. Is that correct?".

### **Step 3.7:** **CRITICAL STEP!!!** Say the **code-phrase**: "Fantastic! I will submit a booking request right now. Give me a moment...". You must remain on this step until you receive the result of the booking request.

### **Step 3.8:** Wait for the result of the meeting creation to appear in `<ActionsStates>` and based on that proceed as follows:
- **If you see in the `<ActionsStates>` section that the meeting is successfully created**, express excitement about the upcoming meeting and proceed with the **Finish Conversation** scenario.
[[project_attributes_sales_after_appointment_notes]]

- **If you see in the `<ActionsStates>` section that the meeting creation fails:**, apologize, inform the User that due to technical issues, the meeting could not be created and one of the colleagues will follow up with the User as soon as possible, and proceed with the **Finish Conversation** scenario.
{% else %}
### **Step 3.4:** **CRITICAL STEP!!!** Say the **code-phrase**: "Will [mention the nearest upcoming working date and time, excluding today, according to <WorkingSchedule>]+[mention the time zone according to `conversation.timezone` specified in <ConversationMeta>] work for you?". Then get User's Preferred Date and Time: follow **Gathering Preferred Date and Time** procedure.

### **Step 3.5:** **CRITICAL STEP!!!** Reconfirm the details as follows - e.g.: "Ok! Just to summarize: You would like to schedule a meeting on [user-preferred date], at [mention user-preferred time and the time zone 'conversation.timezone' ex: "Pacific Time", "Central European Time"]. Is that correct?".

### **Step 3.6:** **CRITICAL STEP!!!** Say the **code-phrase**: "Fantastic! I will send the calendar invite right now. Give me a moment...". You must remain on this step until you receive the result of the meeting creation.

### **Step 3.7:** Wait for the result of the meeting creation to appear in `<ActionsStates>` and based on that proceed as follows:
- **If you see in the `<ActionsStates>` section that the meeting is successfully created**, express excitement about the upcoming meeting and proceed with the **Finish Conversation** scenario.
[[project_attributes_sales_after_appointment_notes]]

- **If you see in the `<ActionsStates>` section that the meeting creation fails:**, apologize, inform the User that due to technical issues, the meeting could not be created and one of the colleagues will follow up with the User as soon as possible, and proceed with the **Finish Conversation** scenario.
{% endif %}
{% endset %}

{% set description %}
Schedule a meeting via calendar invite by confirming or collecting the user’s phone number, email, and full name, proposing the nearest available working time in their timezone, gathering their preferred date/time, and reconfirming details. Then send the invite, await the creation result, communicate success or any technical issues, express enthusiasm if booked, and close the conversation.
{% endset %}


{% set item = {
    "idn": "scenario_sales_appointment_via_calendar",
    "title": title.strip(),
    "body": body.strip(),
    "mentions": [
        {
            "type": "procedures",
            "item_idn": "procedure_common_gather_date_time_sales"
        },
        {
            "type": "procedures",
            "item_idn": "procedure_common_gather_email"
        },
        {
            "type": "procedures",
            "item_idn": "procedure_common_gather_name"
        },
        {
            "type": "procedures",
            "item_idn": "procedure_common_gather_phone_number"
        }
    ],
    "description": description.strip(),
    "is_from_library": True,
    "origin_idn": ""
} %}

{{Return(val=json.dumps(item, ensure_ascii=False, indent=2))}}
