{% set arguments = GetTriggeredAct().arguments %}

{% set type_idn = arguments.type_idn %}
{% set item_idn = arguments.item_idn %}

{{action_delete_item(type_idn=type_idn, item_idn=item_idn)}}

{{prepare_instructions_from_canvas()}}
