{% set cancellation_type = GetCustomerAttribute(field="project_attributes_setting_booking_cancellation_type") %}
{% set cancellation_enabled = GetCustomerAttribute(field="project_attributes_setting_booking_cancellation_enabled") %}

{% set bookings = json.loads(bookings) %}

{% set valid_bookings = [] %}

{% set current_datetime = GetDateTime(timezone=GetCustomerAttribute(field="project_business_time_zone"), format="date") %}

{% for booking in bookings %}
    {% set booking_date_time = booking.datetime %}
    {% if datetime.datetime.strptime(booking_date_time, "%Y-%m-%d %H:%M").date() >= datetime.datetime.strptime(current_datetime, "%Y-%m-%d").date() %}
        {% if cancellation_type == "default" or cancellation_enabled == "False" %}
            {% if booking.meta.manage_booking_url %}
                {{ valid_bookings.append(booking) }}
            {% endif %}
        {% else %}
            {{ valid_bookings.append(booking) }}
        {% endif %}
    {% endif %}
{% endfor %}

{{ Return(val=json.dumps(valid_bookings, ensure_ascii=False, indent=2)) }}
