{% set industry = GetCustomerAttribute(field="project_business_industry") %}
{% if industry != "sales_industry" %}
    {{Return()}}
{% endif %}

{% set new_content_item = '- Business Details link if no other content is relevant for promised SMS' %}
{% set new_content = '- Business Details link if no other content is relevant for promised SMS: \'Please use this link for more information: [website_url]\'' %}

{% set current_content_items = GetCustomerAttribute(field="project_attributes_setting_sms_send_information_allowed_content_items") %}
{% set current_content = GetCustomerAttribute(field="project_attributes_setting_sms_send_information_allowed_content") %}

{% if new_content_item not in current_content_items %}
    {% set fixed_content_items = current_content_items ~ '\n' ~ new_content_item %}
    {{SetCustomerAttribute(field="project_attributes_setting_sms_send_information_allowed_content_items", value=fixed_content_items)}}
{% endif %}

{% if new_content not in current_content %}
    {% set fixed_content = current_content ~ '\n' ~ new_content %}
    {{SetCustomerAttribute(field="project_attributes_setting_sms_send_information_allowed_content", value=fixed_content)}}
{% endif %}
