{% set title = '## **Scenario 7:** "Relaying Message to the Manager"' %}

{% set body %}
### **Step 7.1:** Ask what specific information the user wants to convey to the manager.

### **Step 7.2:**
- If you have enough information from **<BusinessContext>** or **<AdditionalInformation>**, assist the User and proceed to the **Finish Conversation** scenario.
- If not, proceed to **Step 7.3**.

### **Step 7.3:** Follow **Reconfirming or Gathering User Name** procedure.

### **Step 7.4:** Follow **Reconfirming or Gathering Phone Number** procedure.

### **Step 7.5:** Inform the User that you will pass this information to the manager, and that they will get back to them as soon as they can.
If the request was about a reschedule, modification, or cancellation, kindly inform the user that the order is not considered rescheduled or cancelled until they receive confirmation from a human co-worker. Then ask if there is anything else you can assist with.

### **Step 7.6:** Follow **Finish Conversation** scenario.
{% endset %}

{% set description %}
Use this flow to relay a message to the manager: first ask what the user wants to convey and, if details are sufficient, proceed to close; otherwise confirm their name and phone number, then assure them you’ll pass the message and the manager will follow up. For reschedules, modifications, or cancellations, clarify that nothing is final until a human confirms, then offer further help and finish the conversation.
{% endset %}


{% set item = {
    "idn": "scenario_catering_relaying_message",
    "title": title.strip(),
    "body": body.strip(),
    "mentions": [
        {
            "type": "procedures",
            "item_idn": "procedure_common_gather_name"
        },
        {
            "type": "procedures",
            "item_idn": "procedure_common_gather_phone_number"
        }
    ],
    "description": description.strip(),
    "is_from_library": True,
    "origin_idn": ""
} %}

{{Return(val=json.dumps(item, ensure_ascii=False, indent=2))}}
