{% set memory = GetTriggeredAct().arguments.memory %}
{% set user_id = GetUser().id | string %}

{{system}}**Determine from the chat history when the user wants to receive a callback and what they want to discuss. Return the result to me according to the example.**

<Instruction>
Always return results in this structure:
- **Phone:** include the detected or provided phone number with country code.
- **Task:** clearly state what the user wants to discuss in the callback. Take note from the <Memory> when the agent said that he would call back as a priority!
- **Context:** describe the exact steps the user has already completed before requesting the callback (e.g., shared phone, opened link, filled form).
</Instruction>

<Example>
**Phone:** +15714223311
**Task:** The user wants to receive a call back and discuss further steps to schedule a doctor’s appointment.
**Context:** The user is a new patient. They have already provided their phone number, received the scheduling link, opened it, and completed the booking form online. Now they expect a confirmation call from the agent.
</Example>

<UserInformation>
{{GetPersonaAttribute(id=user_id, field="_private_dynamic_user_information")}}
{{GetPersonaAttribute(id=user_id, field="custom_user_data")}}
</UserInformation>

<Memory>
{{memory}}
</Memory>{{end}}
{% set content = Gen(temperature=0.2, topP=0, skipFilter=True, thinkingBudget=425) %}

{% set extract_phone_object = json.loads(_extractPhoneNumberSkill(content=content)) %}
{% set external_id = extract_phone_object["user_phone_number"] %}
{% if external_id == "null" %}
    {{SendSystemEvent(
        eventIdn="urgent_message",
        connectorIdn="system",
        baseInstruction="Apologize to the user and explain that unfortunately you cannot make a call right now because you do not know the User's phone number.",
        uninterruptible="True")
    }}
    {{Return()}}
{% endif %}

{% set voice_actors = GetActors(connectorIdn="newo_voice_connector", externalId=external_id, integrationIdn="newo_voice", ) %}

{% if not voice_actors %}
    {{CreateActor(connectorIdn="newo_voice_connector", externalId=external_id, integrationIdn="newo_voice", personaId=user_id)}}
{% endif %}

{{SendSystemEvent(
    eventIdn="task_manager_schedule_tasks",
    connectorIdn="system",
    global="True",
    content=content,
    greeting_phrase=_generateCallbackGreetingPhraseSkill(user_id=user_id, memory=memory),
    taskTypes='["make_call"]'
)}}
