{% set current_value = GetCustomerAttribute(field=attributeName) %}

{% set attr_type = GetCustomerMetadataAttribute(idn=attributeName).valueType %}

{% if side == "to_normal" %}
    {% if not current_value.strip() %}
        {{Return()}}
    {% endif %}
    {% set real_value = json.loads(current_value) %}
    {% if not real_value["default"] %}
        {{Return()}}
    {% endif %}
    {% set real_value = real_value.default %}
    {% if real_value %}
        {% if attr_type == "json" %}
            {% set real_value = json.dumps(real_value, ensure_ascii=False, indent=2) %}
        {% endif %}
        {{SetCustomerAttribute(field=attributeName, value=real_value)}}
    {% else %}
        {{SetCustomerAttribute(field=attributeName, value=" ")}}
    {% endif %}}
{% endif %}

{% if side == "to_json" %}
    {% set fixed_value = current_value %}
    {% if not fixed_value.strip() %}
        {{Return()}}
    {% endif %}
    {% if attr_type == "json" %}
        {% set fixed_value = json.loads(fixed_value) %}
    {% endif %}
    {% set mutated_attr = {"default": fixed_value} %}
    {{SetCustomerAttribute(field=attributeName, value=json.dumps(mutated_attr, ensure_ascii=False, indent=2))}}
{% endif %}
