
{# ORDER MATTERS! In the same order scenarios will appear in the agent main instruction in case they are mentioned in Intent Type Map. #}
{% set library_items = [
    json.loads(scenario_restaurant_regular_reservation_default()),
    json.loads(scenario_restaurant_regular_reservation_link()),
    json.loads(scenario_restaurant_large_reservation_default()),
    json.loads(scenario_restaurant_modifying_reservation()),
    json.loads(scenario_restaurant_canceling_reservation()),
    json.loads(scenario_restaurant_relaying_message()),
    json.loads(scenario_restaurant_answering_questions()),
    json.loads(scenario_restaurant_food_order_link()),
    json.loads(scenario_restaurant_regular_transfer()),
    json.loads(scenario_restaurant_regular_reservation_link_no_slots_checking()),
    json.loads(scenario_restaurant_managing_reservation_email()),
    json.loads(scenario_restaurant_live_show_reservation_link()),
    json.loads(scenario_restaurant_finish_conversation()),
    json.loads(scenario_common_schedule_appointment_agent()),
] %}

{{Return(val=json.dumps(library_items, ensure_ascii=False, indent=2))}}
