{{SendSystemEvent(eventIdn="convoagent_get_conversation", connectorIdn="system", requesterIdn=GetAgentPersona().name ~ "_chat", levels='["conversation", "system"]', callbackArguments=GetTriggeredAct().arguments.lastConvoActorId)}}
