{% set endpoint = GetCustomerAttribute(field="project_attributes_setting_outbound_request_endpoint").strip() %}
{% if endpoint %}
    {% set headers = GetCustomerAttribute(field="project_attributes_setting_outbound_request_headers").strip() %}
    {% if not headers %}
        {% set headers = "{}" %}
    {% endif %}

    {% set payload = json.loads(payload) %}
    {{ payload.update({"phone_number": GetPersonaAttribute(id=userId, field="sms_outbound_original_phone_number"), "user_id": userId, "task_id": taskId}) }}
    {% set arguments = json.loads(GetPersonaAttribute(id=userId, field="outbound_sms_context"))[taskId].task.arguments %}
    {% set callback_arguments = arguments.get("callbackArguments", None) %}
    {% if callback_arguments %}
        {{ payload.update(json.loads(callback_arguments)) }}
    {% endif %}

    {{SendCommand(
        commandIdn="send_request",
        integrationIdn="http",
        connectorIdn="http_connector",
        userPersonaId=userId,
        method="POST",
        headers=headers,
        url=endpoint,
        body=json.dumps(payload, ensure_ascii=False, indent=2),
        targetAction="outbound_push_payload"
    )}}
    {{_updateTaskManagerStatusSkill(taskId=taskId, status="analyzing", comment="Following payload is sent to " ~ endpoint ~ ": " ~ payload)}}
{% endif %}
