{% set arguments = GetTriggeredAct().arguments %}

{% set task_type = arguments.taskType %}

{% if task_type not in ["create_meeting", "send_email"] %}
    {{Return()}}
{% endif %}

{% set task = json.loads(arguments.task) %}

{{_updateTaskManagerStatusSkill(taskId=task.id, status="received by worker", comment="Task received")}}

{% set content = task.arguments.content %}
{% set user_id = task.user_id %}

{% set task_type = arguments.taskType %}
{% set tasks_to_execute = json.dumps([task_type], ensure_ascii=False, indent=2) %}

{{_updateTaskManagerStatusSkill(taskId=task.id, status="in progress", comment="Executing.")}}

{% set actor = GetActors(personaId=user_id)[0].id | string %}

{{SendSystemEvent(eventIdn="execute_tasks", connectorIdn="system", actorIds=[actor], inputTasks=content, tasksToExecute=tasks_to_execute)}}

{{_updateTaskManagerStatusSkill(taskId=task.id, status="done", comment="Task finished.")}}
