{% set schema = {
  "type": "object",
  "properties": {
    "analysis": {
      "type": "string",
      "description": "Provide analysis on what are you going to do."
    },
    "phone_numbers": {
      "type": "array",
      "items": {
        "type": "string"
      },
      "minItems": 0,
      "description": "List of phone numbers from <Criteria>. Each phone number must be an unique array item. If only one phone number is mentioned, put only one phone number. If there are no phone numbers leave array empty."
    },
    "sms_body": {
      "type": "string",
      "description": "Put here an SMS text based on the provided \"**sms_body** template\"."
    },
    "email_addresses": {
      "type": "array",
      "items": {
        "type": "string"
      },
      "minItems": 0,
      "description": "List of email addresses from <Criteria>. Each email address must be an unique array item. If only one email address is mentioned, put only one. If there are no email addresses leave array empty."
    },
    "email_subject": {
      "type": "string",
      "description": "Put here an email subject based on \"**email_subject** template\"."
    }
  }
} %}

{% set additional_schema = GetCustomerAttribute(field="project_attributes_setting_session_ended_report_additional_schema").strip() %}

{% if additional_schema and (additional_schema != "{}") %}
    {% set additional_schema_loaded = json.loads(additional_schema) %}
    {% for direction, direction_additional_schema in additional_schema_loaded.items() %}
        {{ direction_additional_schema.properties.pop("should_be_sent") }}
    {% endfor %}
    {{schema.properties.update(
      {
        "additional_directions": {
          "type": "object",
          "properties": additional_schema_loaded
        }
      })}}
{% endif %}

{% set hipaa_instruction = "" %}
{% set hipaa_mode_enabled = GetCustomerAttribute(field="project_attributes_setting_hipaa_mode_enabled") %}
{% if hipaa_mode_enabled == "True" %}
    {%- set hipaa_instruction %}
In the email subject avoid mentioning any information that can be used to identify person.

# **Rules**
- Instead of name, you have to keep only first name and first letter of the last name: David Yang => David Y.
- You have to anonymize any PII (Personally Identifiable Information) and replace it by placeholders like: [REDACTED EMAIL]
    - information like birth dates, recordings, addresses... must be replaced by placeholders.
- If summary is needed, provide brief summary, without mentioning personally identifiable information.
    {% endset %}
{% endif %}

{% set prompt %}
Your goal is to get all phone numbers and emails from <Criteria> and put them in `phone_numbers` and `email_addresses` fields accordingly.
Based on conversation using sms_body template and email_subject template you must fill `sms_body` and `email_subject` build JSON object using provided schema. Always keep report terminology (likely uppercase) in English, however people names must remain unchanged in original language.
Do not pay attention on descriptions and conditions in <Criteria>. Your only goal is to extract phone numbers and emails.

# Response Format
- Valid JSON-object, not a schema
- You can't use the User's phone number or Email from <Conversation>
  - The valid email addresses / phone numbers are located in <Criteria> section below.

---

<Criteria>
{{report_criteria}}
</Criteria>

<Templates>
Substitute all values in square brackets using <Conversation> and <ConversationMeta>.
# **sms_body** template:
  > {% if custom_sms_section.strip() %}{{intent_type}}: [user name] [user phone], {{custom_sms_section}}{% else %}{{intent_type}}: [user name] [user phone] [20-word additional summary] Truly, [agent name], [agent title]{% endif %}
# **email_subject** template:
  > {{intent_type}}: [user name] [user phone] [6-word additional summary]

{{hipaa_instruction}}
</Templates>

---

<AdditionalContext>
{{dynamic_variables}}
</AdditionalContext>

<ConversationMeta>
Agent name: {{GetCustomerAttribute(field="project_representative_agent_name")}}
Agent title: {{GetCustomerAttribute(field="project_representative_agent_title")}}{% if provided_phone_number_with_country_code %}
User phone number: {{provided_phone_number_with_country_code}}{% endif %}
</ConversationMeta>

<Conversation class="{{intentType}}">
{{transcript}}
</Conversation>

{{end}}
{% endset %}

{% set result_json = json.loads(structured_generation(prompt=prompt, schema=schema, thinking_budget=1120)) %}

{{result_json.update({"sms_should_be_sent": True, "email_should_be_sent": True, "fallback": True})}}
{% if result_json.additional_directions %}
    {% for direction, direction_object in result_json.additional_directions.items() %}
        {{ direction_object.update({"should_be_sent": True}) }}
    {% endfor %}
{% endif %}

{{Return(val=json.dumps(result_json, ensure_ascii=False, indent=2))}}
