{{utils_connector_create_if_not_exists(
    integrationIdn = "newo_sms",
    connectorIdn = "newo_sms_connector",
    title = "newo_sms_connector",
    settings = {
        "provider": "telnyx"
    },
    start = True
)}}
