{% set section_name = sectionName %}
{% set section_value = sectionValue %}

{% set user_id = GetUser().id | string %}
{% set current_data = GetPersonaAttribute(id=user_id, field="custom_user_data") | default('') %}

{% if section_name in current_data %}
    {% set safe_name = re.escape(section_name) %}
    {% set pattern = '```' ~ safe_name ~ '\n.*?\n```\s*' %}
    {% set current_data = re.sub(pattern, '', current_data, flags=re.DOTALL) %}
{% endif %}

{% set section = '```' ~ section_name ~ '\n' ~ section_value ~ '\n```' %}
{% set new_value = current_data ~ '\n\n' ~ section if current_data else section %}

{{ SetPersonaAttribute(id=user_id, field="custom_user_data", value=new_value) }}