{{system}}
You spoke with a customer and {{session_short_description}}.
{{user_behavior_analysis}}.

Write an short SMS message in {{GetCustomerAttribute(field="project_business_language_primary")}} to the manager and let them know about this. Do not include greeting.
Be descriptive but short and use a natural, human-like tone.

Include contact details using <UserInformation>.

<UserInformation>
{{GetPersonaAttribute(id=user_id, field="_private_dynamic_user_information")}}
{{GetPersonaAttribute(id=user_id, field="custom_user_data")}}
</UserInformation>
{{end}}
{{assistant}}{% set sms_body = Gen(temperature=0.2, topP=0.5, maxTokens=4000, skipFilter=True, thinkingBudget=1020) %}{{end}}

{{Return(val=sms_body)}}
