{% set default_fallback_text = "No past interactions" %}

{% set interaction_history = GetPersonaAttribute(id=user_id, field="interaction_history").strip() %}

{% if not interaction_history %}
    {{ Return(val=default_fallback_text) }}
{% endif %}

{% set interactions_to_observe = GetCustomerAttribute(field="project_attributes_setting_number_of_past_interactions_to_observe").strip() | default('', true) %}
{% set interactions_to_observe = re.sub('[^0-9]+', '', interactions_to_observe) %}

{# default to 3 if empty after cleaning #}
{% set interactions_to_observe = 3 if interactions_to_observe == '' else interactions_to_observe | int %}

{# if explicitly 0, return fallback #}
{% if interactions_to_observe == 0 %}
  {{ Return(val=default_fallback_text) }}
{% endif %}

{% if interaction_history.startswith('[') and interaction_history.endswith(']') %}
    {% set interaction_history = json.loads(interaction_history) %}
{% else %}
    {{ Return(val=default_fallback_text) }}
{% endif %}

{% set latest_interactions = interaction_history[-interactions_to_observe:] %}

{% set interactions_text = "---\n\n" %}
{% for i in latest_interactions %}
    {% if i is string %}
        {% set interactions_text = interactions_text ~ i ~ "\n\n---\n\n" %}
    {% elif i is mapping %}
        {% set interactions_text = interactions_text ~ "**Previously, on " ~ i.get("date_added") ~ ":**" ~ "\n" ~ i.get("content") ~ "\n\n---\n\n" %}
    {% endif %}
{% endfor %}

{{ Return(val=interactions_text) }}
