{% set json_value = json.loads(schema) %}

{% if industry == "restaurant_industry" %}
    {% if json_value.properties.payload.properties.place and 'seating option' in json_value.properties.payload.properties.place.description %}
        {% set last_availability_locations = GetPersonaAttribute(id=userId, field="last_availability_locations").strip() %}
        {% if last_availability_locations %}
            {% set seating_options = json.loads(last_availability_locations) %}
            {{json_value.properties.payload.properties.place.update({"enum": seating_options})}}
        {% endif %}
    {% endif %}
{% endif %}

{{Return(val=json.dumps(json_value, ensure_ascii=False, indent=2))}}
