{% set attribute_value = GetCustomerAttribute(field=attribute_idn) %}

{% if attribute_value.strip() %}
    {{Return(val="")}}
{% endif %}

{% if input_text_language != target_language %}
    {% set translated_text = utils_translate(input_text=input_text, target_language=target_language) %}
    {{SetCustomerAttribute(field=attribute_idn, value=translated_text)}}
{% else %}
    {{SetCustomerAttribute(field=attribute_idn, value=input_text)}}
{% endif %}
