{% set title = '## **Scenario 6:** "Relaying Message to the Manager"' %}

{% set body %}
### **Step 6.1:** Ask what specific information the user wants to convey to the manager.

### **Step 6.2:**
- If you have enough information from **<BusinessContext>** or **<AdditionalInformation>**, assist the User and proceed to the **Finish Conversation** scenario.
- If not, proceed to **Step 6.3**.

### **Step 6.3:** Follow **Reconfirming or Gathering User Name** procedure.

### **Step 6.4:** Follow **Reconfirming or Gathering Phone Number** procedure.

### **Step 6.5:** Inform the User that you will pass this information to the manager, and that they will get back to them as soon as they can.
If the request was about a reschedule, modification, or cancellation, kindly inform the user that the appointment is not considered rescheduled or cancelled until they receive confirmation from a human co-worker. Then ask if there is anything else you can assist with.

### **Step 6.6:** Follow **Finish Conversation** scenario.
{% endset %}

{% set description %}
Ask what the user wants to convey to the manager and use any available BusinessContext/AdditionalInformation; if needed, reconfirm or collect their name and phone number. Let them know you’ll pass the message along, clarify that reschedules/changes aren’t final until a human confirms, ask if they need anything else, and then finish the conversation.
{% endset %}


{% set item = {
    "idn": "scenario_sales_relay_message",
    "title": title.strip(),
    "body": body.strip(),
    "mentions": [
        {
            "type": "procedures",
            "item_idn": "procedure_common_gather_name"
        },
        {
            "type": "procedures",
            "item_idn": "procedure_common_gather_phone_number"
        }
    ],
    "description": description.strip(),
    "is_from_library": True,
    "origin_idn": ""
} %}

{{Return(val=json.dumps(item, ensure_ascii=False, indent=2))}}
