{% set actor_id = GetActors(personaId=userId)[0].id | string %}

{{SendSystemEvent(
    eventIdn="remove_prompt_custom_section",
    connectorIdn="system",
    actorIds=[actor_id],
    sectionName="OutboundCallContext"
)}}

{{SetPersonaAttribute(id=userId, field="sms_send_information_allowed_dynamic_content", value="")}}
{{SetPersonaAttribute(id=userId, field="outbound_call", value="False")}}

{{SendSystemEvent(
    eventIdn="convoagent_remove_custom_user_data",
    connectorIdn="system",
    actorIds=[actor_id],
    sectionName="UserData OCC"
)}}
