{% set section_name = sectionName %}

{% set user_id = GetUser().id | string %}
{% set current_data = GetPersonaAttribute(id=user_id, field="custom_user_data") | default('') %}

{% set safe_name = section_name %}

{% set pattern = '```' ~ safe_name ~ '(?:\\r?\\n|\\\\n).*?(?:\\r?\\n|\\\\n)```\\s*' %}
{% set cleaned_data = re.sub(pattern, '', current_data, flags=re.DOTALL) %}

{{ SetPersonaAttribute(id=user_id, field="custom_user_data", value=cleaned_data) }}
