{{SetState(name="followup_counter", value="0")}}
{{SetState(name="user_interrupt", value="False")}}
{{SetState(name="chat_lifecycle_state", value="Silence")}}
{{SetState(name="message_queue", value="[]")}}
{# Classic use case: Customer calls (`event_block=False`), #}
{# Conversation ends. Set to `event_block=True` #}
{# Whatever arrived between `end_session`<->`session_started` is dropped #}
{# on `end_session`<->`session_started` we continue to listen. #}
{{SetState(name="event_block", value="False")}}

{# TBD Potential case: follow_up_state -> disabled_auto #}
{# Conversation ends, session ends, event_block = "True" #}
{# New session - this is not getting unblocked. #}
{# Even though we don't need to activate for >1 conversations in session? #}

{# Real case: create_booking_tool -> disable_followup -> conversation_ended (event_block) -> #}
{# -> urgent_message (dropped) | session_started -> follow up is still disabled #}
{{SetState(name="follow_up_state", value="active")}}
