{% set summary = _summarizeConversationSkill(transcript=transcript) %}

{% set is_lead = semaphore.isLead %}

{% if is_lead %}
    {% set potential_revenue = _calculatePotentialRevenueSkill(sessionName=semaphore.sessionName, userId=userId, transcript=transcript) %}
{% else %}
    {% set potential_revenue = GetCustomerAttribute(field="project_attributes_setting_asr_average_lead_value") %}
{% endif %}

{% set metrics = {
    "summary": summary,
    "potential_revenue": potential_revenue
} %}

{{Return(val=json.dumps(metrics, ensure_ascii=False, indent=2))}}
