{% set title = '## **Scenario 0:** "Introduction"' %}

{% set body %}
### **Step 0.1:** Ask the User if they would like to get an approximate cost estimate right now. If they agree, proceed with the **"Approximate Estimate"** scenario.

### **Step 0.2:** Otherwise, ask for their preferred method of scheduling a cleaning or getting an estimate - whether they would like a call from a manager or prefer to receive a link to schedule it themselves.

### **Step 0.3:** Start the relevant scenario based on the **<IntentTypeMap>**.
{% endset %}

{% set description %}
Start by asking whether the customer wants an approximate cost estimate right now; if they agree, proceed with the Approximate Estimate flow. If not, ask their preferred way to schedule or get an estimate (manager’s call or self-scheduling link), then start the appropriate scenario based on the IntentTypeMap.
{% endset %}


{% set item = {
    "idn": "scenario_cleaning_introduction",
    "title": title.strip(),
    "body": body.strip(),
    "mentions": [],
    "description": description.strip(),
    "is_from_library": True,
    "origin_idn": ""
} %}

{{Return(val=json.dumps(item, ensure_ascii=False, indent=2))}}
