{# -- Returns Persona Attribute by provided `field` if it's not empty. Otherwise, returns `defaultValue` -- #}

{% set attribute_value = GetPersonaAttribute(id=user_id, field=field) %}

{% if attribute_value.strip() %}
    {{Return(val=attribute_value)}}
{% endif %}

{{Return(val=defaultValue)}}
