{% set act = GetTriggeredAct() %}
{% set agent_persona_id = GetAgentPersona().id | string %}
{% set intents = json.loads(GetPersonaAttribute(id=agent_persona_id, field="intents")) %}

{% set found_intent = {} %}
{% for intent in intents %}
    {% if intent.intentId == act.arguments.intent_id %}
        {% set found_intent = intent %}
    {% endif %}
{% endfor %}
{% if not found_intent %}
    {{Return()}}
{% endif %}

{% set existing_assessor_actors = GetActors(externalId=act.arguments.assessor_phone_number.replace('+', ''), integrationIdn="newo_voice", connectorIdn="newo_voice_connector") %}

{% set assessor_persona_id = '' %}
{% set assessor_actor_id = '' %}

{% if existing_assessor_actors | length == 0 %}
    {% set assessor_persona_id = CreatePersona(name="User") | string %}
    {% set assessor_actor_id = CreateActor(integrationIdn="newo_voice", connectorIdn="newo_voice_connector", externalId=act.arguments.assessor_phone_number.replace('+', ''), personaId=assessor_persona_id, timeZone=act.arguments.time_zone) | string %}
{% else %}
    {% set assessor_actor_id = existing_assessor_actors[0].id | string %}
    {% set assessor_persona_id = existing_assessor_actors[0].personaId | string %}
{% endif %}

{{SetPersonaAttribute(id=assessor_persona_id, field="assessor_intent_id", value=found_intent.intentId)}}

{{found_intent.update({"status": "running", "assessor_phone_number": act.arguments.assessor_phone_number, "assessor_connector": act.arguments.assessor_connector})}}

{{SetPersonaAttribute(id=agent_persona_id, field="intents", value=json.dumps(intents, ensure_ascii=False, indent=2))}}

{{SendCommand(
    commandIdn="send_connector_event",
    integrationIdn="customer_intercom",
    connectorIdn="assessor_server",
    userPersonaId=agent_persona_id,
    eventIdn="make_call_to_agent",
    eventArguments=json.dumps(act.arguments, ensure_ascii=False, indent=2)
)}}
