{% set agent_persona_id = GetAgentPersona(field="id").id|string %}
{% set menu = json.loads(GetPersonaAttribute(id=agent_persona_id, field="latest_menu_indexes")) %}
{{system}}
Analyze the <Conversation> and extract the list of **current items** for the order. Do not include any modifiers or items not existing in the enum, just latest items user agreed with to order according to the <Conversation>.
<Converastion>
{{conversation}}
ConvoAgent: {{agentAnswer}}
</Converastion>
{{end}}
{{Return(val=Gen(temperature=0.1, skipFilter="True", jsonSchema=_orderKeeperSchemasSkill(extract="True", indexes=json.dumps(menu)), validateSchema="True", topP=0, thinkingBudget=1020))}}