{# Remove redundant `agent style` language switch instruction #}

{% set agent_style = GetCustomerAttribute(field="project_representative_agent_style") %}

{% if not agent_style.strip() %}
    {{Return()}}
{% endif %}

{% set agent_style = agent_style.replace("You can switch to other languages only if the User asks you to switch", "").strip() %}

{# Remove redundant spaces caused by previous version of this migration #}
{% set agent_style = agent_style.strip() %}

{# Remove `.` at the end of the string #}
{% if agent_style.endswith(".") %}
    {% set agent_style = agent_style[:-1] %}
{% endif %}

{{SetCustomerAttribute(field="project_representative_agent_style", value=agent_style)}}
