{# Migrate checking availability validation template #}

{% set validation_template = GetCustomerAttribute(field="project_attributes_setting_booking_check_availability_validation_schema_template") %}
{% set updated_validation_template = validation_template.replace("**`partySize`", "**persons") %}

{{SetCustomerAttribute(field="project_attributes_setting_booking_check_availability_validation_schema_template", value=updated_validation_template)}}

{# Revert cancellation scenario usage in restaurant industry #}

{% set industry = GetCustomerAttribute(field="project_business_industry") %}
{% if industry != "restaurant_industry" %}
    {{Return()}}
{% endif %}

{# Disable booking cancellation feature #}

{{SetCustomerAttribute(field="project_attributes_setting_booking_cancellation_enabled", value="False")}}

{# Update ITM for restaurant industry #}

{% set itm = GetCustomerAttribute(field="project_attributes_itm") %}
{% if not itm.strip() %}
    {{Return()}}
{% endif %}

{# Modifying scenario #}

{% set new_modifying_instruction = "ConvoAgent should very politely explain that, as an AI Assistant, they are not able to independently modify a booking.
During Working Hours: ConvoAgent should say that they will transfer the call to a human co-worker and start the scenario: **\"Regular Transfer\"**.
During Non-Working Hours: ConvoAgent should ask the details of the booking (name, time, date and phone number) the guest wants to modify. Then, ConvoAgent should start the scenario: **\"Relaying Message to the Manager\"**." %}

{% set itm = itm.replace(
    "ConvoAgent must ask what exactly you want to change and starts the scenario: **\"Modifying Existing Reservation\"** and then proceed with **\"Make a Regular Table Booking\"**.",
    new_modifying_instruction
) %}

{% set itm = itm.replace(
    "ConvoAgent must ask what exactly you want to change and starts the scenario: **\"Modifying Existing Reservation\"** and then proceeds with **\"Make a Regular Table Booking\"**.",
    new_modifying_instruction
) %}

{% set itm = itm.replace(
    "ConvoAgent must ask what exactly you want to change and starts the scenario: **\"Modifying Existing Reservation\"**.",
    new_modifying_instruction
) %}

{% set itm = itm.replace(
    "**\"Modifying Existing Reservation\"**.",
    "**\"Regular Transfer\"**"
) %}

{# Cancellation scenario #}

{% set new_cancellation_instruction = "ConvoAgent should very politely explain that, as an AI Assistant, they are not able to independently cancel a booking.
During Working Hours: ConvoAgent should say that they will transfer the call to a human co-worker and start the scenario: **\"Regular Transfer\"**.
During Non-Working Hours: ConvoAgent should ask the details of the booking (name, time, date and phone number) the guest wants to cancel. Then, ConvoAgent should start the scenario: **\"Relaying Message to the Manager\"**."
%}

{% set itm = itm.replace(
    "ConvoAgent must ask the dates for the existing reservation and starts the scenario: **\"Cancel reservation\"**",
    new_cancellation_instruction
) %}

{% set itm = itm.replace(
    "During Working Hours: ConvoAgent says: \"As an AI assistant I'm not able to reschedule or modify appointments, but no worries—I'll transfer you to a team member who can help. Please note that your appointment is not rescheduled or modified until confirmed by my human college.\" and starts the scenario: **\"Regular Transfer\"**.
During Non-Working Hours: ConvoAgent starts the scenario: **\"Cancel reservation\"**.",
    new_cancellation_instruction
) %}

{% set itm = itm.replace(
    "During Working Hours: ConvoAgent says: \"As an AI assistant I'm not able to reschedule or modify appointments, but no worries—I'll transfer you to a team member who can help. Please note that your appointment is not rescheduled or modified until confirmed by my human college.\" and starts the scenario: **\"Regular Transfer\"**.
During Non-Working Hours: ConvoAgent starts the scenario: **\"Cancel Reservation\"**.",
    new_cancellation_instruction
) %}

{% set itm = itm.replace(
    "During Working Hours: ConvoAgent says: \"As an AI assistant I'm not able to cancel appointments, but no worries - I'll transfer you to a team member who can help. Please note that your appointment is not cancelled until confirmed by my human college.\" and starts the scenario: **\"Regular Transfer\"**.
During Non-Working Hours: ConvoAgent starts the scenario: **\"Cancel Reservation\"**.",
    new_cancellation_instruction
) %}

{% set itm = itm.replace(
    "During Working Hours: ConvoAgent says: \"As an AI assistant I'm not able to cancel appointments. I'll transfer you to a team member who can help. Please note that your appointment is not cancelled until confirmed by my human college.\" and starts the scenario: **\"Regular Transfer\"**.
During Non-Working Hours: ConvoAgent starts the scenario: **\"Cancel Reservation\"**.",
    new_cancellation_instruction
) %}

{% set itm = itm.replace(
    "ConvoAgent must start the date and time of the reservation and start the scenario: **\"Canceling Existing Reservation\"**.",
    new_cancellation_instruction
) %}

{% set itm = itm.replace(
    "**\"Cancel Reservation\"**.",
    "**\"Regular Transfer\"**"
) %}

{% set itm = itm.replace(
    "**\"Canceling Existing Reservation\"**.",
    "**\"Regular Transfer\"**"
) %}

{# Intent type header #}

{% set itm = itm.replace(
    "## **Reschedule or Modification**",
    "## **[T] Reschedule or Modification**"
) %}
{% set itm = itm.replace(
    "## **Cancellation**",
    "## **[T] Cancellation**"
) %}

{{SetCustomerAttribute(field="project_attributes_itm", value=itm)}}
