{% set session_timeout_finished_chat = GetCustomerAttribute(field="project_attributes_setting_conversation_session_timeout_finished_chat") %}
{% if session_timeout_finished_chat.strip() %}
    {% if session_timeout_finished_chat | int > 580 %}
        {{SetCustomerAttribute(field="project_attributes_setting_conversation_session_timeout_finished_chat", value="580")}}
    {% endif %}
{% endif %}

{% set session_timeout_finished_voice = GetCustomerAttribute(field="project_attributes_setting_conversation_session_timeout_finished_voice") %}
{% if session_timeout_finished_voice.strip() %}
    {% if session_timeout_finished_voice | int > 580 %}
        {{SetCustomerAttribute(field="project_attributes_setting_conversation_session_timeout_finished_voice", value="580")}}
    {% endif %}
{% endif %}

{% set session_timeout_unfinished_chat = GetCustomerAttribute(field="project_attributes_setting_conversation_session_timeout_unfinished_chat") %}
{% if session_timeout_unfinished_chat.strip() %}
    {% if session_timeout_unfinished_chat | int > 580 %}
        {{SetCustomerAttribute(field="project_attributes_setting_conversation_session_timeout_unfinished_chat", value="580")}}
    {% endif %}
{% endif %}

{% set session_timeout_unfinished_voice = GetCustomerAttribute(field="project_attributes_setting_conversation_session_timeout_unfinished_voice") %}
{% if session_timeout_unfinished_voice.strip() %}
    {% if session_timeout_unfinished_voice | int > 580 %}
        {{SetCustomerAttribute(field="project_attributes_setting_conversation_session_timeout_unfinished_voice", value="580")}}
    {% endif %}
{% endif %}
