{% set pos_connector = GetConnectorInfo(integrationIdn="api", connectorIdn="pos_integration") %}
{% set place_order_url = GetProjectAttribute(field="place_order_webhook_url") %}
{% if not place_order_url %}
    {{SetProjectAttribute(field="place_order_webhook_url", value=" ")}}
{% endif %}

{% if not pos_connector %}
    {{CreateConnector(
        integrationIdn="api",
        title="pos_integration",
        connectorIdn="pos_integration",
        settings={},
        start="True"
    )}}
{% endif %}

{% set menu_updated_webhook = GetWebhook(webhookIdn="menu_update_received", webhookType="incoming") %}
{% if not menu_updated_webhook %}
    {% set new_webhook = CreateWebhook(
        idn="menu_update_received",
        connectorIdn="pos_integration",
        webhookType="incoming",
        description="The webhook is used to send new menu. See example is README from POS Project.",
        eventIdns=["menu_update_received"],
        allowedIps=[]
    ) %}
    {{SetProjectAttribute(field="send_menu_to_webhook", value=new_webhook.url|string)}}
{% endif %}

{% set order_created_webhook = GetWebhook(webhookIdn="order_created", webhookType="incoming") %}
{% if not order_created_webhook %}
    {% set new_webhook = CreateWebhook(
        idn="order_created",
        connectorIdn="pos_integration",
        webhookType="incoming",
        description="The webhook is used when the order is created but requires an action from the User. Use README from POS Project.",
        eventIdns=["order_created"],
        allowedIps=[]
    ) %}
    {{SetProjectAttribute(field="send_order_creation_to", value=new_webhook.url|string)}}

{% endif %}

{% set order_completed_webhook = GetWebhook(webhookIdn="order_completed", webhookType="incoming") %}
{% if not order_completed_webhook %}
    {% set new_webhook = CreateWebhook(
        idn="order_completed",
        connectorIdn="pos_integration",
        webhookType="incoming",
        description="The webhook is used when the order is accepted and went in progress. Use README from POS Project.",
        eventIdns=["order_completed"],
        allowedIps=[]
    ) %}
    {{SetProjectAttribute(field="send_order_completion_to", value=new_webhook.url|string)}}
{% endif %}

{% set place_order_webhook = GetWebhook(webhookIdn="place_order", webhookType="outgoing") %}
{% if place_order_webhook %}
    {% if place_order_webhook.url == place_order_url %}
        {{Return()}}
    {% else %}
        {{DeleteWebhook(webhookId=place_order_webhook.id, webhookType="outgoing")}}
    {% endif %}
{% endif %}

{% if place_order_url.strip() %}
    {{CreateWebhook(
        idn="place_order",
        connectorIdn="pos_integration",
        webhookType="outgoing",
        url=place_order_url.strip(),
        description="The webhook is sent when the agent places the order. Use README from POS Project.",
        commandIdns=["place_order"]
    )}}
{% endif %}