{% if defineTasks == "True" %}
    {{Return(val=json.dumps({
  "type": "object",
  "properties": {
    "analysis": {
      "type": "string",
      "description": "Provide an explanation for your choice here. Analyze <InputTasks> and explain why you can or cannot execute a task based on <TaskDescriptions>."
    },
    "can_complete": {
      "type": "boolean",
      "description": "Set this field as true if at least one task can be completed."
    },
    "tasks": {
      "type": "array",
      "description": "Add to the array tasks that, in your opinion, you can execute right now. Carefully check each task and its description to understand if you can execute. If you can't execute any task, put only 'none' in the array.",
      "items": {
        "type": "string",
        "enum": [
          "send_email",
          "send_sms",
          "make_call",
          "create_meeting",
          "none"
        ]
      },
      "minItems": 1
    }
  },
  "required": [
    "analysis",
    "tasks",
    "can_complete"
  ]
}, ensure_ascii=False, indent=2))}}
{% endif %}

{% if defineExecutionDateTime == "True" %}
{{Return(val=json.dumps({
  "type": "object",
  "properties": {
    "analysis": {
      "type": "string",
      "description": "Provide an explanation for your choice here. Analyze <InputTasks> and explain."
    },
    "execute_in": {
      "type": "string",
      "description": "Set here value in minutes if <InputTasks> mentions explicit delay for task execution. Otherwise set to \"null\""
    },
    "execute_at": {
      "type": "string",
      "description": "Set here date and time if explicitly mentioned when task must be executed in format: %Y-%m-%d %H:%M. Otherwise set to \"null\""
    }
  },
  "required": [
    "analysis",
    "execute_in",
    "execute_at"
  ]
}, ensure_ascii=False, indent=2))}}
{% endif %}

{% if externalIds == "True" %}
{{Return(val=json.dumps({
  "type": "object",
  "properties": {
    "phone_number": {
      "type": "string",
      "description": "If the task is about calling the user, retrieve the user's phone number to call in E.164 format. If the phone number is not explicitly mentioned, set this field to \"null\"."
    }
  },
  "required": [
    "phone_number"
  ]
}, ensure_ascii=False, indent=2))}}
{% endif %}
