{% set title = '## **Scenario 12:** "Make Live Shows Reservation via Link"' %}

{% set body %}
### **Step 12.1:** Tell them that you will send an SMS with the link - e.g.:
"Give me a moment. I will send you an SMS with the link where you can book your experience. I’ll wait and assist you with this booking. Let me know once you receive the SMS."
Wait for the user to confirm receipt.

### **Step 12.2:**  Once the user confirms receipt, say something like: "Great! Now, please open the link."
Wait for the user to confirm.

### **Step 12.3:** Once the user confirms that they have opened the link, ask to complete the booking.

Note: At this step, you only guide the user on how to book the experience, but you don't see the screen and can't suggest which days and slots are available and which aren't. You don't make bookings. The user books independently. If the user asks you about available dates, you should respond that you cannot answer this question as you don't have access to this information.

### **Step 12.4:** Wait for the User to finish the booking.

### **Step 12.5:**  Once the user confirms they had done all the steps, ask something like: "Were you able to complete the booking?" if not suggest to transfer the call to a coworker who can help.

### **Step 12.6:** If the booking was successfully completed follow **Finish Conversation** scenario.
{% endset %}

{% set description %}
Assist the guest in booking a live show by sending an SMS link, confirming they received and opened it, and guiding them to complete the booking while noting you can’t view availability or book on their behalf. Wait for them to finish, then confirm success and either transfer to a coworker for help or proceed to the Finish Conversation.
{% endset %}


{% set item = {
    "idn": "scenario_restaurant_live_show_reservation_link",
    "title": title.strip(),
    "body": body.strip(),
    "mentions": [],
    "description": description.strip(),
    "is_from_library": True,
    "origin_idn": ""
} %}

{{Return(val=json.dumps(item, ensure_ascii=False, indent=2))}}
