{{_utilsCustomerAttributeSetIfEmptySkill(field="project_attributes_setting_sms_send_information_enabled", value="True")}}

{# Default information that can be sent via SMS #}

{% set common_allowed_content = "- Large group order reservation details: '[business_name]: Thank you for your request! We have received your large group reservation for [party_date/party_time] for a party of [party_size]. A representative will contact you to confirm the details.'
- Link to make a reservation: 'Please use this link to make your reservation: [reservation_url]'" %}

{% set common_allowed_content_items = "- Large group order reservation details
- Link to make a reservation" %}


{{_utilsCustomerAttributeSetIfEmptySkill(field="project_attributes_setting_sms_send_information_allowed_content", value=common_allowed_content)}}
{{_utilsCustomerAttributeSetIfEmptySkill(field="project_attributes_setting_sms_send_information_allowed_content_items", value=common_allowed_content_items)}}
