{% set tasks = SearchFuzzyAkb(query=taskId, searchFields=["name"], fromPerson="Agent", numberTopics=1) %}

{% if not tasks %}
    {{DUMMY("Task with id "~ taskID ~ " was not found. Skipping updating status.")}}
    {{Return()}}
{% endif %}

{% set task = tasks[0] %}

{% set record_id = task.topicId %}

{% set current_comments = task.facts %}

{% set updated_comments = current_comments + [_utilsGetLocalCurrentDateTimeFormattedSkill() ~ ": " ~ comment ~ "\n---"] %}

{{UpdateAkb(id=record_id, summary=task.summary, facts=updated_comments, name=taskId, source=task.source, labels=[status])}}
