{% set title = '## **Scenario 5:** "Regular Transfer"' %}

{% set body %}
### **Step 5.1:**:

<Case1 condition="`conversation.channel` is `phone`">
Follow `# CALL TRANSFERRING` rule from **<ExplicitConstraints>** section.
</Case1>

<Case2 condition="`conversation.channel` is `chat`">
Say something like - "You can contact the manager at this number: [escalation phone from **<ExplicitConstraints>** section]. Let me know if you need anything else."
</Case2>
{% endset %}

{% set description %}
For phone interactions, transfer the caller by following the CALL TRANSFERRING rule specified in the ExplicitConstraints. For chat interactions, provide the manager’s escalation phone number from the ExplicitConstraints and offer further assistance.
{% endset %}


{% set item = {
    "idn": "scenario_hospitality_regular_transfer",
    "title": title.strip(),
    "body": body.strip(),
    "mentions": [],
    "description": description.strip(),
    "is_from_library": True,
    "origin_idn": ""
} %}

{{Return(val=json.dumps(item, ensure_ascii=False, indent=2))}}
