{% if industry == "beauty_industry" %}
    {% set library_items = library_scenarios_beauty() %}
{% endif %}

{% if industry == "catering_industry" %}
    {% set library_items = library_scenarios_catering() %}
{% endif %}

{% if industry == "cleaning_industry" %}
    {% set library_items = library_scenarios_cleaning() %}
{% endif %}

{% if industry == "dental_industry" %}
    {% set library_items = library_scenarios_dental() %}
{% endif %}

{% if industry == "home_service_industry" %}
    {% set library_items = library_scenarios_home_service() %}
{% endif %}

{% if industry == "hospitality_industry" %}
    {% set library_items = library_scenarios_hospitality() %}
{% endif %}

{% if industry == "restaurant_industry" %}
    {% set library_items = library_scenarios_restaurant() %}
{% endif %}

{% if industry == "sales_industry" %}
    {% set library_items = library_scenarios_sales() %}
{% endif %}

{{Return(val=library_items)}}