{# Switch to Gemini V2V #}
{{SetCustomerAttribute(field="project_attributes_setting_voice_integration_service_voice_to_voice_provider", value="genai")}}

{# Set Google V2V model to a new default #}
{{utils_connector_set_setting_if_exists(
    integrationIdn = "newo_voice",
    connectorIdn = "newo_voice_connector",
    field = "genai_v2v_model",
    value = "gemini-live-2.5-flash-preview-native-audio-09-2025"
)}}

{# Set OpenAI V2V model to a new default #}
{{utils_connector_set_setting_if_exists(
    integrationIdn = "newo_voice",
    connectorIdn = "newo_voice_connector",
    field = "openai_v2v_model",
    value = "gpt-realtime-2025-08-28"
)}}

{# Set transcriber model to a new default #}
{{utils_connector_set_setting_if_exists(
    integrationIdn = "newo_voice",
    connectorIdn = "newo_voice_connector",
    field = "stt_mode",
    value = "google"
)}}
{{utils_connector_set_setting_if_exists(
    integrationIdn = "newo_voice",
    connectorIdn = "newo_voice_connector",
    field = "v2v_mode_user_stt",
    value = "google"
)}}
{{utils_connector_set_setting_if_exists(
    integrationIdn = "newo_voice",
    connectorIdn = "newo_voice_connector",
    field = "google_stt_model",
    value = "chirp_2"
)}}
{{utils_connector_set_setting_if_exists(
    integrationIdn = "newo_voice",
    connectorIdn = "newo_voice_connector",
    field = "google_stt_language_codes",
    value = "auto"
)}}

{# Remove deprecated voices for OpenAI - set deleted voices to default #}
{% set openai_voice = GetCustomerAttribute(field="project_attributes_setting_voice_integration_service_voice_to_voice_provider_openai_voice").strip() %}
{% if openai_voice in ["Male - Fable", "Male - Onyx"] %}
    {{SetCustomerAttribute(field="project_attributes_setting_voice_integration_service_voice_to_voice_provider_openai_voice", value="Male - Cedar")}}
{% endif %}
{% if openai_voice in ["Female - Nova"] %}
    {{SetCustomerAttribute(field="project_attributes_setting_voice_integration_service_voice_to_voice_provider_openai_voice", value="Female - Sage")}}
{% endif %}

{# Regenerate `Agent Gender` Attribute #}
{{SetCustomerAttribute(field="project_representative_agent_gender", value="")}}
{% set agent_gender = _prepareAgentGenderSkill() %}
{{SetCustomerAttribute(field="project_representative_agent_gender", value=agent_gender)}}

{# Make sure both Google and OpenAI voices match to specified gender. If not, set to default voice #}
{% set genai_voice = GetCustomerAttribute(field="project_attributes_setting_voice_integration_service_voice_to_voice_provider_genai_voice").strip() %}
{% set openai_voice = GetCustomerAttribute(field="project_attributes_setting_voice_integration_service_voice_to_voice_provider_openai_voice").strip() %}
{% set agent_gender = GetCustomerAttribute(field="project_representative_agent_gender") %}
{% if agent_gender == "female" %}
    {% if "Female" not in genai_voice %}
        {{SetCustomerAttribute(field="project_attributes_setting_voice_integration_service_voice_to_voice_provider_genai_voice", value="Female Despina - Smooth")}}
    {% endif %}
    {% if "Female" not in openai_voice and "Neutral" not in openai_voice %}
        {{SetCustomerAttribute(field="project_attributes_setting_voice_integration_service_voice_to_voice_provider_openai_voice", value="Female - Sage")}}
    {% endif %}
{% elif agent_gender == "male" %}
    {% if "Male" not in genai_voice %}
        {{SetCustomerAttribute(field="project_attributes_setting_voice_integration_service_voice_to_voice_provider_genai_voice", value="Male Iapetus - Clear")}}
    {% endif %}
    {% if "Male" not in openai_voice and "Neutral" not in openai_voice %}
        {{SetCustomerAttribute(field="project_attributes_setting_voice_integration_service_voice_to_voice_provider_openai_voice", value="Male - Cedar")}}
    {% endif %}
{% endif %}
