{% set library_items = [
    json.loads(scenario_sales_consultation_and_lead_qualification()),
    json.loads(scenario_sales_partner_registration()),
    json.loads(scenario_sales_pre_sale_consultation()),
    json.loads(scenario_sales_lead_qualification()),
    json.loads(scenario_sales_appointment_via_calendar()),
    json.loads(scenario_sales_appointment_via_link()),
    json.loads(scenario_sales_sale_via_link()),
    json.loads(scenario_sales_send_product_link()),
    json.loads(scenario_sales_relay_message()),
    json.loads(scenario_sales_regular_transfer()),
    json.loads(scenario_sales_finish_conversation()),
    json.loads(scenario_common_schedule_appointment_agent()),
] %}


{{Return(val=json.dumps(library_items, ensure_ascii=False, indent=2))}}
