{% set mention_idns = [] %}

{% for item in items %}
    {% for mention in item.mentions %}
        {% if mention.type == type %}
            {{mention_idns.append(mention.item_idn)}}
        {% endif %}
    {% endfor %}
{% endfor %}

{{Return(val=json.dumps(mention_idns, ensure_ascii=False, indent=2))}}
