{% set arguments = GetTriggeredAct().arguments %}

{% set items = json.loads(arguments["items"]) %}

{% for item in items %}
    {% set type_idn = item.pop("type_idn") %}
    {{action_save_item(item=item, type_idn=type_idn)}}
{% endfor %}

{{prepare_instructions_from_canvas()}}