{# Update "Appointment Request" scenario reference in home service industry #}
{% set industry = GetCustomerAttribute(field="project_business_industry") %}
{% if industry != "home_service_industry" %}
    {{Return()}}
{% endif %}

{% set itm = GetCustomerAttribute(field="project_attributes_itm") %}
{% if not itm.strip() %}
    {{Return()}}
{% endif %}

{% set custom_scenarios = GetCustomerAttribute(field="project_attributes_custom_scenarios") %}
{% if "Appointment Request" in itm and "Appointment Request" not in custom_scenarios %}
    {% if "Advanced Appointment Request" not in itm %}
        {{SetCustomerAttribute(field="project_attributes_itm", value=itm.replace('"Appointment Request"', '"Advanced Appointment Request"'))}}
    {% endif %}
{% endif %}
