{% set library_items = [
    json.loads(scenario_cleaning_approximate_estimate()),
    json.loads(scenario_cleaning_relay_cleaning_request()),
    json.loads(scenario_cleaning_send_booking_link()),
    json.loads(scenario_cleaning_relay_message()),
    json.loads(scenario_cleaning_answering_questions()),
    json.loads(scenario_cleaning_regular_transfer()),
    json.loads(scenario_cleaning_finish_conversation()),
    json.loads(scenario_common_schedule_appointment_agent()),
] %}


{{Return(val=json.dumps(library_items, ensure_ascii=False, indent=2))}}
