{% set user_id = GetUser().id | string %}

{% if GetPersonaAttribute(id=user_id, field="outbound_sms") != "True" %}
    {{Return()}}
{% endif %}

{{SetState(name="error_occurred", value="True")}}

{% set arguments = GetTriggeredAct().arguments %}

{% set reason = arguments.reason %}

{% set task_id = GetState(name="task_id") %}

{% set payload = {"phone_number": GetPersonaAttribute(id=user_id, field="sms_outbound_original_phone_number"), "status": "error", "task_id": task_id, "user_id": user_id} %}

{{_sendWebhookResultSkill(taskId=task_id, userId=user_id, payload=json.dumps(payload, ensure_ascii=False, indent=2))}}
{{_updateCallTableSkill(transcript="-", userId=user_id, reason="error", summary=reason, taskId=task_id)}}
