{{utils_connector_create_if_not_exists(
    integrationIdn = "api",
    connectorIdn = "webhook",
    title = "webhook",
    settings = {},
    start = True
)}}

{# TODO: Discuss `data_injection` webhook creation #}

{# TODO: Discuss `update_inbound_record` webhook creation #}

{# TODO: Discuss `update_outbound_record`webhook creation #}

{# TODO: Discuss `send_slack_report`webhook creation #}

{# TODO: Discuss `get_contact_details`webhook creation #}

{# Outgoing webhooks #}

{% set sa_send_email_webhook = GetWebhook(webhookIdn = "sa_send_email", webhookType = "outgoing") %}
{% if not sa_send_email_webhook %}
    {# TODO: Remove hardcoded URL #}
    {{CreateWebhook(
        idn = "sa_send_email",
        connectorIdn = "webhook",
        webhookType = "outgoing",
        description = "SuperAgent - Send Email WebHook",
        url = "https://hook.us1.make.com/ub2f8vculmbdn4m8b3as2do9azr36pgw",
        commandIdns = ["send_email"]
    )}}
{% endif %}

{% set sa_send_hitl_report = GetWebhook(webhookIdn = "sa_send_hitl_report", webhookType = "outgoing") %}
{% if not sa_send_hitl_report %}
    {# TODO: Remove hardcoded URL #}
    {{CreateWebhook(
        idn = "sa_send_hitl_report",
        connectorIdn = "webhook",
        webhookType = "outgoing",
        description = "SuperAgent - Send HITL Report WebHook",
        url = "https://script.google.com/macros/s/AKfycbyFJyTkKW5wqh0QK4wHyOxFhf7AB4-X0oTGubeBPuPTXKoL27IT7fx7fy1y2yGByVknow/exec",
        commandIdns = ["send_hitl_report"]
    )}}
{% endif %}

{# Incoming webhooks #}

{% set outbound_call_webhook = GetWebhook(webhookIdn = "outbound_call_webhook", webhookType = "incoming") %}
{% if not outbound_call_webhook %}
    {{CreateWebhook(
        idn = "outbound_call_webhook",
        connectorIdn = "webhook",
        webhookType = "incoming",
        description = "SuperAgent - Incoming Tasks WebHook",
        allowedIps = [],
        eventIdns = ["external_request"]
    )}}
{% endif %}

{% set agent_creator_webhook = GetWebhook(webhookIdn = "agent_creator_webhook", webhookType = "incoming") %}
{% if not agent_creator_webhook %}
    {{CreateWebhook(
        idn = "agent_creator_webhook",
        connectorIdn = "webhook",
        webhookType = "incoming",
        description = "SuperAgent - Agent Creator WebHook",
        allowedIps = [],
        eventIdns = ["agent_creator_event"]
    )}}
{% endif %}

{% set web_search_webhook = GetWebhook(webhookIdn = "web_search", webhookType = "incoming") %}
{% if not web_search_webhook %}
    {{CreateWebhook(
        idn = "web_search",
        connectorIdn = "webhook",
        webhookType = "incoming",
        description = "SuperAgent - Web Search WebHook",
        allowedIps = [],
        eventIdns = ["web_search_event"]
    )}}
{% endif %}
