{# Is used to inject some information in v2v model during conversation #}
{% set conversation_channel = session_get_conversation_channel(user_id=user_id) %}
{% if v2v_get_current_provider(user_id=user_id) == "genai" %}
    {% set role = GetCustomerAttribute(field="project_attributes_setting_voice_integration_service_voice_to_voice_provider_genai_set_turn_message_context_type") %}
{% else %}
    {# TODO: During testing openai model also showed good results if we send context using user role. Potentially we need also to create separate attribute to control this. #}
    {% set role = "assistant" %}
{% endif %}

{{SendCommand(
    commandIdn="set_turn_message",
    integrationIdn="newo_voice",
    connectorIdn="newo_voice_connector" if conversation_channel == "phone" else "newo_voice_connector_web",
    role=role,
    text=turn,
    turnComplete="False",
    actorId=last_convo_actor_id or utils_get_and_set_last_convo_actor_id(user_id=user_id or GetUser().id | string)
)}}
