{# TBD: Perhaps we should not care about -1 being overwritten within session as long as nothing gets pushed? #}
{# This is often ran skill and we might overload it with this logic. #}

{% set act = GetTriggeredAct() %}

{% set block_state = GetState(name="event_block") %}

{# We need to handle start here despite it handled during `end_session` and `session_started` handlers #}
{# Case: `conversation_ended` <-> `conversation_stated` within a session #}
{% if act.arguments.reason in ["conversation started"] and block_state == "True" %}
    {# The conversation ended is reanimated #}
    {{SetState(name="event_block", value="False")}}
    {% set block_state = "False" %}
{% endif %}

{% if block_state == "True" %}
    {{Return()}}
{% endif %}

{# We don't include end_session here because it is handled in `ResetFollowUpStateSkill` #}
{% if act.arguments.reason in ["hang up", "conversation ended"] %}
    {# The conversation ended in fact, we need to prevent further pushes #}
    {{SetState(name="event_block", value="True")}}
{% endif %}

{# TBD: This is potentially unsafe as well if the sesion ends during this period. #}
{# We will drop urgent message and it will never gets live #}
{% if GetState(name="follow_up_state").startswith("disabled") %}
    {{Return()}}
{% endif %}

{% if act.arguments.delay %}
    {% set interruptible = act.arguments.interruptible %}
    {% if not interruptible %}
        {% set interruptible = "True" %}
    {% endif %}
    {{Sleep(duration=act.arguments.delay, interruptible=interruptible)}}
{% endif %}
{{_utilsSetFollowUpTimerSkill(interval=act.arguments.interval, personaId=act.arguments.personaId)}}
{# {% if interval == "-1" %}
    {{_utilsSendDebugLogSkill(
        message="Follow-up timer was disabled due to `" ~ act.arguments.reason ~ "` event."
    )}}
{% else %}
    {{_utilsSendDebugLogSkill(
        message="Follow-up timer was set to " ~ act.arguments.interval ~ " due to `" ~ act.arguments.reason ~ "` event."
    )}}
{% endif %} #}
