{% set title = '## **Reconfirming or Gathering Email Address** procedure' %}

{% set case_2_phone_channel_email_collect = '- ConvoAgent says the **code-phrase**: "Give me a moment, I will send you an SMS message please reply with your email address."' %}
{% set customer_info = GetCustomerInfo() %}
{% if customer_info.dlc_mode == "customer_specific" %}
    {% set status = customer_info.dlc_status %}
    {% if status != "approved" %}
        {% set agent_phone_number = GetCustomerAttribute(field="project_representative_agent_voice_phone_number") %}
        {% if not agent_phone_number %}
          {% set case_2_phone_channel_email_collect = '- ConvoAgent says: "Please spell your email".'%}
        {% endif %}
          {% set case_2_phone_channel_email_collect = '- ConvoAgent says: "Please send your email address via SMS to my number: {{agent_phone_number}}".'%}
    {% endif %}
{% endif %}
{% set body = "" %}
{%- set body %}
**conversation** and <UserInformation> section must have explicit, valid email string (it must include "@" and at least one ".").
ConvoAgent must not rely on the User's claim that they "sent it" unless the actual email text is visible.

<Case1 condition="A valid email string is present">
- **If `conversation.channel` in <ConversationMeta> is set to phone:**
  - If a valid email address is already visible, say: I see your email address... and spell it out character by character. Then ask: May I use this email address?
- **If `conversation.channel` in <ConversationMeta> is set to chat:**
  - If a valid email address is already visible, proceed to the next step.
</Case1>

<Case2 condition="No valid email string is present">
- **If `conversation.channel` in <ConversationMeta> is set to phone:**
  {{case_2_phone_channel_email_collect}}
  - ConvoAgent must stay on this step - acknowledging that it has **not yet received the email address** - until a visible, valid email string appears in the **conversation**.
  - If ConvoAgent is having trouble receiving the User's email address via SMS, ConvoAgent should ask the User to spell out their email address verbally, letter-by-letter.
- **If `conversation.channel` in <ConversationMeta> is set to chat:**
  - ConvoAgent instructs the User to provide the email in chat.
</Case2>
{% endset %}

{% set description %}
The procedure tells the agent to look for a visible, valid email address (with “@” and “.”) in the conversation or user info.
    •	If found:
        •	Phone: Read it out and confirm permission to use it.
        •	Chat: Proceed to the next step.
    •	If not found:
        •	Phone: Keep asking or have the user spell it out.
        •	Chat: Ask the user to type their email.
{% endset %}

{% set item = {
    "idn": "procedure_common_gather_email",
    "title": title.strip(),
    "body": body.strip(),
    "mentions": [],
    "description": description.strip(),
    "is_from_library": True,
    "origin_idn": ""
} %}

{{Return(val=json.dumps(item, ensure_ascii=False, indent=2))}}
