{# Restaurant Only #}

{% set industry = GetCustomerAttribute(field="project_business_industry") %}
{% if industry != "restaurant_industry" %}
    {{Return()}}
{% endif %}
{% set current_url = GetCustomerAttribute(field="project_attributes_setting_booking_check_availability_url") %}
{% if current_url == "https://hook.us1.make.com/1aj19ahtf2ta7yo752mt886rblnm4876" %}
    {{SetCustomerAttribute(field="project_attributes_setting_booking_check_availability_url", value="https://hook.us1.make.com/n1zz289zjspsb11n4i1s916g62krycvt")}}
{% endif %}
