{{_utilsCustomerAttributeSetIfEmptySkill(field="project_attributes_setting_sms_send_information_enabled", value="True")}}

{# Default information that can be sent via SMS #}

{% set common_allowed_content = "- Outline the appointment details and say '... Our office manager will be confirming your appointment shortly.'
- Booking a cleaning service (appointment) link: [appointment_url]
- Estimation form link: [estimate_url]" %}

{% set common_allowed_content_items = "- Outline the appointment details and say '... Our office manager will be confirming your appointment shortly.'
- Booking a cleaning service (appointment) link
- Estimation form link" %}

{{_utilsCustomerAttributeSetIfEmptySkill(field="project_attributes_setting_sms_send_information_allowed_content", value=common_allowed_content)}}
{{_utilsCustomerAttributeSetIfEmptySkill(field="project_attributes_setting_sms_send_information_allowed_content_items", value=common_allowed_content_items)}}
