{{SendSystemEvent(eventIdn="set_prompt_custom_section", connectorIdn="system", actorIds=[actorId], sectionName="OutboundCallContext", sectionValue="In this session, ConvoAgent called/messaged the user.\nUse the information below as instructions and context for this conversation.\n\n" ~ callReason)}}

{% set call_context = json.loads(callContext) %}

{% if call_context.allowed_sms_content %}
    {{SetPersonaAttribute(id=userId, field="sms_send_information_allowed_dynamic_content", value=call_context.allowed_sms_content)}}
{% endif %}