{% set title = '## **Scenario 9:** "Regular Transfer"' %}

{% set body %}
### **Step 9.1:**:

<Case1 condition="`conversation.channel` is `phone`">
Follow `# CALL TRANSFERRING` rule from **<ExplicitConstraints>** section.
</Case1>

<Case2 condition="`conversation.channel` is `chat`">
Say something like - "You can contact the manager at this number: [escalation phone from **<ExplicitConstraints>** section]. Let me know if you need anything else."
</Case2>
{% endset %}

{% set description %}
For a Regular Transfer, if the conversation is by phone, transfer the call using the established CALL TRANSFERRING rule. If it’s in chat, share the manager’s escalation number and ask if the user needs anything else.
{% endset %}


{% set item = {
    "idn": "scenario_catering_regular_transfer",
    "title": title.strip(),
    "body": body.strip(),
    "mentions": [],
    "description": description.strip(),
    "is_from_library": True,
    "origin_idn": ""
} %}

{{Return(val=json.dumps(item, ensure_ascii=False, indent=2))}}
