{% set input_json = json.loads(inputJson) %}
{% set available_locations = [] %}
{% set locations = [] %}
{% for spot in input_json %}
    {% set location = spot.location %}
    {% if spot.availableTimeSlots %}
        {{available_locations.append(location)}}
    {% endif %}
    {{locations.append(location)}}
{% endfor %}
{% set prev_seating_options = GetCustomerAttribute(field="project_attributes_private_dynamic_restaurant_google_restaurant_seating_options") %}
{% set current_seating_options = [] %}
{% if not prev_seating_options.strip() or prev_seating_options == "[]" %}
    {% set current_seating_options = locations %}
    {{SetCustomerAttribute(field="project_attributes_private_dynamic_restaurant_google_restaurant_seating_options", value=json.dumps(locations, ensure_ascii=False, indent=2))}}
{% else %}
    {% set prev_seating_options_json = json.loads(prev_seating_options) %}
    {% for location in locations %}
        {% if location not in prev_seating_options_json %}
            {{prev_seating_options_json.append(location)}}
        {% endif %}
    {% endfor %}
    {% set current_seating_options = prev_seating_options_json %}
{% endif %}

{{SetCustomerAttribute(field="project_attributes_private_dynamic_restaurant_google_restaurant_seating_options", value=json.dumps(current_seating_options, ensure_ascii=False, indent=2))}}
{{SetCustomerAttribute(
  field="project_attributes_task_context_w1s3_reserve_table_task",
  value="**Google Restaurant ID:** *" ~
    GetCustomerAttribute(field="project_attributes_private_dynamic_restaurant_google_restaurant_id") ~
    "*. **Seating options:** *" ~
    json.dumps(current_seating_options, ensure_ascii=False, indent=2) ~
    "*"
)}}
{{SetPersonaAttribute(id=userId, field="last_availability_locations", value=json.dumps(available_locations, ensure_ascii=False, indent=2))}}
