{% set user_id = GetUser().id | string %}

{# Exit in case of SMS communication channel (prevent recursion) #}
{% set actor_id = GetPersonaAttribute(id=user_id, field="last_convo_actor_id") %}

{# Exit if the conversation is no longer active #}
{% if not actor_id.strip() %}
  {{Return()}}
{% endif %}

{% if GetActor(id=actor_id, field="integrationIdn") == "twilio_messenger" %}
  {{Return()}}
{% endif %}

{#  Exit in case of Agent already mentioned issue during conversation #}
{% set agent_mentioned_sms_delivery_failure = GetPersonaAttribute(id=user_id, field="agent_mentioned_sms_delivery_failure") %}
{% if agent_mentioned_sms_delivery_failure == "True" %}
  {{Return()}}
{% endif %}

{% set arguments = GetTriggeredAct().arguments %}
{% set sms_error_code = arguments.code | string %}
{% set sms_error_reason = arguments.reason %}

{% if not sms_error_code %}
  {% set sms_error_code = "unknown" %}
{% endif %}
{% if not sms_error_reason %}
  {% set sms_error_reason = "unspecified issue" %}
{% endif %}

{% set sms_error_log = "The SMS delivery failed due to an unknown issue." %}

{# 30024: Numeric Sender ID Not Provisioned on Carrier - https://twilio.com/docs/api/errors/30024 #}
{% if sms_error_code  == "30024" %}
  {% set sms_error_log = "The SMS temporarily cannot be sent." %}
{% endif %}

{# 30003: Unreachable destination handset - https://www.twilio.com/docs/api/errors/30003 #}
{# TODO: improve instruction - Agent must provide it's country code and ask user to use a phone number with the same country code
or use phone number with one-digit country code #}
{% if sms_error_code  == "30003" %}
  {% set sms_error_log = "The SMS cannot be sent to this phone number." %}
{% endif %}

{# 21635: 'To' number cannot be a landline - https://www.twilio.com/docs/api/errors/21635 #}
{# 30006: Landline or unreachable carrier - https://www.twilio.com/docs/api/errors/30006 #}
{% if sms_error_code  == "21635" or sms_error_code  == "30006" %}
  {% set sms_error_log = "The SMS cannot be sent to a landline phone number or an unreachable carrier. Ask to provide a different phone number." %}
{% endif %}

{# 21211: Invalid 'To' Phone Number - https://www.twilio.com/docs/api/errors/21211 #}
{% if sms_error_code  == "21211" %}
  {% set sms_error_log = "The SMS cannot be sent because the phone number is invalid. Ask to clarify or provide a different phone number." %}
{% endif %}

{# 30005: Unknown destination handset - https://www.twilio.com/docs/api/errors/30005 #}
{% if sms_error_code  == "30005" %}
  {% set sms_error_log = "The SMS could not be delivered because the destination number is unreachable or inactive. Ask to verify that the user's phone is on, has signal, and the number is correct." %}
{% endif %}

{% set full_message = "Apologize to the user and say that SMS was not delivered." + sms_error_log %}

{{SendSystemEvent(
  eventIdn="urgent_message",
  connectorIdn="system",
  baseInstruction=full_message,
  uninterruptible="True"
)}}

{{SetPersonaAttribute(id=user_id, field="agent_mentioned_sms_delivery_failure", value="True")}}
