{{_utilsCustomerAttributeSetIfEmptySkill(field="project_attributes_setting_sms_send_information_enabled", value="True")}}

{# Default information that can be sent via SMS #}

{% set common_allowed_content = "- Catering order details: '[business_name]: Thank you for your request! We have received your catering order for [party_date/party_time] for a party of [party_size]. A representative will contact you to confirm the details.'
- Link to view the catering menu: 'Please use this link to view the catering menu: [menu_url]'" %}
{% set common_allowed_content_items = "- Catering order details
- Link to view the catering menu" %}

{{_utilsCustomerAttributeSetIfEmptySkill(field="project_attributes_setting_sms_send_information_allowed_content", value=common_allowed_content)}}
{{_utilsCustomerAttributeSetIfEmptySkill(field="project_attributes_setting_sms_send_information_allowed_content_items", value=common_allowed_content_items)}}
