{% set checking_availability_payload_schema = GetCustomerAttribute(field="project_attributes_setting_booking_check_availability_payload_schema_template") %}

{% if checking_availability_payload_schema.strip() and checking_availability_payload_schema != "{}" %}
    {% set checking_availability_validation_schema = GetCustomerAttribute(field="project_attributes_setting_booking_check_availability_validation_schema_template") %}
    {% set default_validation_schema = _prepareAttributesBookingSchemasCheckingAvailabilityDefaultValidationSkill() %}
    {% if not checking_availability_validation_schema.strip() or checking_availability_validation_schema == "{}" %}
        {% set checking_availability_validation_schema = default_validation_schema %}
    {% endif %}
    {% if _utilsFeatureFlagIsActiveSkill(featureFlagName="multi_location") %}
        {% set payload_schema_with_keys = json.loads(checking_availability_payload_schema) %}
        {% set validation_schema_with_keys = {} %}
        {% if checking_availability_validation_schema == default_validation_schema %}
            {% set valid_validation_schema = json.loads(default_validation_schema) %}
            {% for k in payload_schema_with_keys.keys() %}
                {{validation_schema_with_keys.update({k: valid_schema})}}
            {% endfor %}
        {% else %}
            {% set validation_schema_with_keys = json.loads(checking_availability_validation_schema) %}
        {% endif %}
        {% set agg_schema = {} %}
        {% for k in payload_schema_with_keys.keys() %}
            {% set exact_location_payload_schema = payload_schema_with_keys[k] %}
            {% set exact_location_validation_schema = validation_schema_with_keys[k] %}
            {% if not exact_location_validation_schema %}
                {% set exact_location_validation_schema = json.loads(default_validation_schema) %}
            {% endif %}
            {{agg_schema.update({k: json.loads(_prepareAttributesBookingSchemasCheckingAvailabilityBuildSkill(payloadSchema=json.dumps(exact_location_payload_schema, ensure_ascii=False, indent=2), validationSchema=json.dumps(exact_location_validation_schema, ensure_ascii=False, indent=2)))})}}
        {% endfor %}
        {{SetCustomerAttribute(field="project_attributes_private_dynamic_booking_check_availability_schema_template", value=json.dumps(agg_schema, ensure_ascii=False, indent=2))}}
    {% else %}
        {{SetCustomerAttribute(field="project_attributes_private_dynamic_booking_check_availability_schema_template", value=_prepareAttributesBookingSchemasCheckingAvailabilityBuildSkill(payloadSchema=checking_availability_payload_schema, validationSchema=checking_availability_validation_schema))}}
    {% endif %}
{% endif %}

{% set book_payload_schema = GetCustomerAttribute(field="project_attributes_setting_booking_payload_schema_template") %}

{% if book_payload_schema.strip() and book_payload_schema != "{}" %}
    {% set book_meta_fields_schema = GetCustomerAttribute(field="project_attributes_setting_booking_meta_fields_schema_template") %}
    {% set default_meta_fields_schema = '{"type": "object", "properties": {"noFields": {"type": "string", "default": "no meta fields"}}}' %}
    {% if not book_meta_fields_schema.strip() or book_meta_fields_schema == "{}" %}
        {% set book_meta_fields_schema = default_meta_fields_schema %}
    {% endif %}
    {% if _utilsFeatureFlagIsActiveSkill(featureFlagName="multi_location") %}
        {% set payload_schema_with_keys = json.loads(book_payload_schema) %}
        {% set book_meta_fields_schema_with_keys = {} %}
        {% if book_meta_fields_schema == default_meta_fields_schema %}
            {% set valid_book_meta_fields_schema = json.loads(default_meta_fields_schema) %}
            {% for k in payload_schema_with_keys.keys() %}
                {{book_meta_fields_schema_with_keys.update({k: valid_book_meta_fields_schema})}}
            {% endfor %}
        {% else %}
            {% set book_meta_fields_schema_with_keys = json.loads(book_meta_fields_schema) %}
        {% endif %}
        {% set agg_schema = {} %}
        {% for k in payload_schema_with_keys.keys() %}
            {% set exact_location_payload_schema = payload_schema_with_keys[k] %}
            {% set exact_location_meta_fields_schema = book_meta_fields_schema_with_keys[k] %}
            {% if not exact_location_meta_fields_schema %}
                {% set exact_location_meta_fields_schema = json.loads(default_meta_fields_schema) %}
            {% endif %}
            {{agg_schema.update({k: json.loads(_prepareAttributesBookingSchemasBookSlotBuildSkill(payloadSchema=json.dumps(exact_location_payload_schema, ensure_ascii=False, indent=2), MetaFieldsSchema=json.dumps(exact_location_meta_fields_schema, ensure_ascii=False, indent=2)))})}}
        {% endfor %}
        {{SetCustomerAttribute(field="project_attributes_private_dynamic_booking_schema_template", value=json.dumps(agg_schema, ensure_ascii=False, indent=2))}}
    {% else %}
        {{SetCustomerAttribute(field="project_attributes_private_dynamic_booking_schema_template", value=_prepareAttributesBookingSchemasBookSlotBuildSkill(payloadSchema=book_payload_schema, MetaFieldsSchema=book_meta_fields_schema))}}
    {% endif %}
{% endif %}

{{utils_compile_customer_attribute(compiled_attribute_name="project_attributes_private_dynamic_booking_check_availability_payload_schema_compiled", template_attribute_name="project_attributes_private_dynamic_booking_check_availability_schema_template")}}

{{utils_compile_customer_attribute(compiled_attribute_name="project_attributes_private_dynamic_booking_schema_compiled", template_attribute_name="project_attributes_private_dynamic_booking_schema_template")}}
