{{system}}
Based on the input task (enclosed in <InputTask>...</InputTask>) you goal is to collect context for the outbound call. Build JSON strictly on provided JSON schema.
Avoid coming up with any value. If you can't fill any field, set to "null" (as string "null").

<InputTask>
{{callReason}}
</InputTask>
{{end}}{% set result_json = Gen(jsonSchema=json.loads(schema), validateSchema="True", temperature=0.2, topP=0, thinkingBudget=425) %}

{{Return(val=result_json)}}
