{# Sets Customer Attribute by provided `value` if Customer Attribute is empty and account was not initialized first time (meaning it is first setup). Otherwise, does not do anything #}

{% if (GetCustomerAttribute(field="project_attributes_private_account_initialized_first_time") == "False") and not GetCustomerAttribute(field=field).strip() %}
    {{ SetCustomerAttribute(field=field, value=value) }}
{% endif %}
