{% set act = GetTriggeredAct() %}
{% if act.arguments.requester_idn != "LFUTriggerFlow" %}
    {{Return()}}
{% endif %}
{% set arguments = json.loads(act.arguments.callback_arguments) %}
{% set user_tasks = act.arguments.tasks %}
{% set memory = arguments.memory %}
{% set resolution = json.loads(_resolveFollowupSkill(memory=memory, userId=act.arguments.user_id, user_tasks=user_tasks)) %}
{% if resolution.action_needed %}
    {% for action in resolution.actions %}
        {% set task_types = json.dumps([action.action_type], ensure_ascii=False, indent=2) %}
        {% set content = "Action need to be executed at: " + action.action_time + "\nAction details: " + action.action_description + "\nContact data: " + resolution.contact_data %}
        {{SendSystemEvent(
            eventIdn="task_manager_schedule_tasks",
            connectorIdn="system",
            global="True",
            content=content,
            taskTypes=task_types,
            userId=act.arguments.user_id
        )}}
    {% endfor %}
{% endif %}
