{% set user_id = GetTriggeredAct().arguments.userId %}

{% if user_id %}
    {{Return(val=user_id)}}
{% endif %}

{% if phone_number != "null" %}
    {% set persona_id = _getOrCreateActorsSkill(phoneNumber=phone_number.replace("+", "")) %}
{% else %}
    {% set persona_id = CreatePersona(name="User") %}
    {{CreateActor(integrationIdn="system", connectorIdn="external_task_" ~ (uuid.uuid4() | string).replace("-", "_"), externalId=uuid.uuid4() | string, personaId=persona_id)}}
{% endif %}

{{Return(val=persona_id | string)}}
