{%- set report_content %}## Report Type: **{{intentName}}**

### Fields to be included in the report:
User name
User phone
40-word summary

### Subject line format:
{{intentName.upper()}}: [user name] [user phone] [6-word additional summary]

### SMS example:
{{intentName.upper()}}: [user name] [user phone] [20-word additional summary] Truly, [agent name], [agent title]
{%- endset %}

{{Return(val=report_content)}}