{% set schema = double_check_information_schemas(service_schema="True") %}

{{system}}
<Instruction>
You are given a Conversation. Your goal is to build a JSON object based on the provided schema. 
You need to understand if the user requested service is provided by the {{GetCustomerAttribute(field="project_business_name")}}.

<Services>
{{GetCustomerAttribute(field="project_attributes_private_dynamic_products_and_services")}}
</Services>

<Conversation>
{{memory_conversation}}
</Conversation>

JSON object:
</Instruction>
{{end}}

{% set service_json = Gen(
    jsonSchema=schema,
    validateSchema="True",
    temperature=0.2,
    topP=0,
    thinkingBudget=425
) %}

{% set service = json.loads(service_json) %}
{% set service_provided = service.service_provided %}

{% if not service_provided %}
    {{SendSystemEvent(
        eventIdn="urgent_message",
        connectorIdn="system",
        baseInstruction="Apologize to the user and say: I’m sorry, but we don't provide `user needed service`. Maybe you are interested in a different service?",
        uninterruptible="True"
    )}}
{% else %}
    {{SendSystemEvent(
        eventIdn="urgent_message",
        connectorIdn="system",
        baseInstruction="Tell the user that service is provided, and proceed with the next step of the main instruction",
        uninterruptible="True"
    )}}
{% endif %}