{% if GetCustomerAttribute(field="project_attributes_setting_session_ended_sms_enabled") != "True" %}
    {{Return()}}
{% endif %}

{% set sms_content = GetCustomerAttribute(field="project_attributes_setting_session_ended_sms_content") %}
{% if not sms_content.strip() %}
    {{Return()}}
{% endif %}

{% set provided_phone_number_with_country_code = _utilsPersonaAttributeGetWithDefaultsSkill(id=userId, field="provided_phone_number_with_country_code") %}

{% if provided_phone_number_with_country_code == "null" %}
    {{_utilsSendSystemLogSkill(message="Sending Promotional SMS is abandoned because no phone number is provided.")}}
    {{Return()}}
{% endif %}

{{_utilsSendSystemLogSkill(message="Sending Promotional SMS is being executed on session end.")}}

{{SendSystemEvent(eventIdn="sms_worker_send_sms", connectorIdn="system", sms_text=sms_content, phone_number=provided_phone_number_with_country_code)}}
