{% set payload = json.loads(payload) %}
{% if "+" not in payload.phoneNumber %}
    {{payload.update({"phoneNumber": "+" ~ payload.phoneNumber})}}
{% endif %}

{% set booking_email = _utilsGetBookingEmailSkill(retry="False", phoneNumber=payload.phoneNumber) %}

{{payload.update({"email": booking_email})}}
{{payload.update({"reserveTableURL": GetCustomerAttribute(field="project_attributes_restaurant_googlemaps_reservation_url")})}}
{{payload.update({"timeZone": GetCustomerAttribute(field="project_business_time_zone")})}}

{% set user_booking_payloads = json.loads(GetPersonaAttribute(id=userId, field="user_booking_payloads")) %}
{% set last_payload = user_booking_payloads.pop() %}
{# Effectively loosing everything except `payload` property in `bookingDetails` #}
{# Is it intentional? #}
{{last_payload.update({"bookingDetails": payload})}}
{{ user_booking_payloads.append(last_payload) }}

{{SetPersonaAttribute(id=userId, field="user_booking_payloads", value=json.dumps(user_booking_payloads, ensure_ascii=False, indent=2))}}

{% set test_mode = GetCustomerAttribute(field="project_attributes_setting_test_mode") %}

{% if test_mode != "True" %}
    {{SendCommand(
        commandIdn="book_restaurant_slot",
        integrationIdn="magic_browser",
        connectorIdn="magic_browser_connector",
        persona_id=userId,
        persona_name=GetUser().name,
        session_name=userId ~ "_" ~ _utilsGetRandomPostfixSkill() ~ "_" ~ _utilsGetRandomPostfixSkill(),
        payload=json.dumps(payload, ensure_ascii=False, indent=2),
        targetAction="book_slot"
    )}}
{% endif %}

{{SetState(name="retry_count", value="0")}}
