{% set actor = GetActor(field="externalId").externalId | string %}
{% set persona_id = GetUser().id | string %}
{% set task_id = actor.split("task_manager_scheduled_task_")[-1].strip() %}
{% set tasks = SearchFuzzyAkb(query=task_id, searchFields=["name"], fromPerson="Agent", numberTopics=1) %}
{% set task = tasks[0] %}

{% set task_meta = tasks[0].source %}

{{_sendTaskSkill(task=task_meta, taskType=json.loads(task_meta).task_type)}}
{{_updateTaskStatusSkill(taskId=task_id, comment="Task is sent to workers.", status="sent to workers")}}
