{% set cancellation_type = GetCustomerAttribute(field="project_attributes_setting_booking_cancellation_type") %}

{% if cancellation_type == "endpoint" %}
    {% set url = GetCustomerAttribute(field="project_attributes_setting_booking_cancellation_url") %}
    {% set cancellation_url = url.replace("{booking_id}", booking_id) %}

    {{SendCommand(
        commandIdn="send_request",
        integrationIdn="http",
        connectorIdn="http_connector",
        userPersonaId=GetUser().id | string,
        method="DELETE",
        url=cancellation_url,
        targetAction="cancel_booking"
    )}}

{% endif %}

{% if cancellation_type == "project" %}
    {% set user_bookings = json.loads(user_bookings) %}
    {% set found = user_bookings | selectattr("meta.booking_id", "equalto", booking_id) | list | first %}
    {% if found %}
        {% set _ = found["meta"].update({"notes": notes}) %}
        {{SendSystemEvent(
            eventIdn="convo_agent_cancel_booking",
            connectorIdn="system",
            payload=json.dumps(found, ensure_ascii=False, indent=2),
        )}}
    {% endif %}
{% endif%}
