{% set arguments = GetTriggeredAct().arguments %}

{% set item_idn = arguments.item_idn %}
{% set type_idn = arguments.type_idn %}

{{action_delete_library_item(item_idn=item_idn, type_idn=type_idn)}}

{{prepare_library()}}

{# TODO: Potentially, check if the deleted item exists on the current canvas, and if so, change its is_from_library field to false and clear the origin_idn.
During testing, nothing broke when a library item used in the canvas was deleted. #}