{% set its_library_item = [] %}

{% set appointment_via_agent_title = "## **[L] Appointment via Agent**" %}
{% set appointment_via_agent_body %}
The user explicitly wants to schedule a new appointment, check availability for specific dates or times, or make a reservation.
ConvoAgent starts the scenario: **"Scheduling Appointment via Agent"**.
{% endset %}
{% set appointment_via_agent_description %}
Appointment scheduling request; initiate scheduling process via agent.
{% endset %}

{% set item = {
    "idn": "library_intent_types_common_appointment_agent",
    "title": appointment_via_agent_title,
    "body": appointment_via_agent_body.strip(),
    "is_from_library": True,
    "origin_idn": "",
    "description": appointment_via_agent_description.strip(),
    "mentions": [{"type": "scenarios", "item_idn": "scenario_common_schedule_appointment_agent"}]
} %}

{{Return(val=json.dumps(item, ensure_ascii=False, indent=2))}}
