{{utils_connector_create_if_not_exists(
    integrationIdn = "program_timer",
    connectorIdn = "data_injection_timer",
    title = "data_injection_timer",
    settings = {},
    start = True
)}}

{{utils_connector_create_if_not_exists(
    integrationIdn = "program_timer",
    connectorIdn = "message_followup",
    title = "message_followup",
    settings = {},
    start = True
)}}

{{utils_connector_create_if_not_exists(
    integrationIdn = "program_timer",
    connectorIdn = "session_timer",
    title = "session_timer",
    settings = {},
    start = True
)}}

{{utils_connector_create_if_not_exists(
    integrationIdn = "program_timer",
    connectorIdn = "waiting_mode_fallback",
    title = "waiting_mode_fallback",
    settings = {},
    start = True
)}}
