{% if GetCustomerAttribute(field="project_business_industry") == "restaurant_industry" %}
    {{SetCustomerAttribute(field="project_attributes_private_dynamic_restaurant_google_restaurant_seating_options", value="")}}
{% endif %}

{{DeleteConnector(integrationIdn = "newo_chat", connectorIdn = "flow_builder")}}

{{_migration_3_0_0_helper_build_canvas_from_topic()}}

{% if GetCustomerAttribute(field="project_attributes_itm") %}
    {{utils_customer_attribute_rename(
        old_idn="project_attributes_itm",
        new_idn="project_attributes_itm_deprecated_backup"
    )}}
    {{SetCustomerMetadataAttribute(
        idn="project_attributes_itm_deprecated_backup",
        field="multiple_fields",
        value={ "title": "Intent Type Map - DEPRECATED - BACKUP", "description": """This attribute is deprecated and will be removed in future releases.
Use `Workflow Builder` on the Portal instead.""", "group": "9. Deprecated", "value_type": "string", "is_hidden": True }
    )}}
{% endif %}

{% if GetCustomerAttribute(field="project_attributes_custom_scenarios") %}
    {{utils_customer_attribute_rename(
        old_idn="project_attributes_custom_scenarios",
        new_idn="project_attributes_custom_scenarios_deprecated_backup"
    )}}
    {{SetCustomerMetadataAttribute(
        idn="project_attributes_custom_scenarios_deprecated_backup",
        field="multiple_fields",
        value={ "title": "Custom Scenarios - DEPRECATED - BACKUP", "description": """This attribute is deprecated and will be removed in future releases.
Use `Workflow Builder` on the Portal instead.""", "group": "9. Deprecated", "value_type": "string", "is_hidden": True }
    )}}
{% endif %}

{% if GetCustomerAttribute(field="project_attributes_custom_procedures") %}
    {{utils_customer_attribute_rename(
        old_idn="project_attributes_custom_procedures",
        new_idn="project_attributes_custom_procedures_deprecated_backup"
    )}}
    {{SetCustomerMetadataAttribute(
        idn="project_attributes_custom_procedures_deprecated_backup",
        field="multiple_fields",
        value={ "title": "Custom Procedures - DEPRECATED - BACKUP", "description": """This attribute is deprecated and will be removed in future releases.
Use `Workflow Builder` on the Portal instead.""", "group": "9. Deprecated", "value_type": "string", "is_hidden": True }
    )}}
{% endif %}
