{{SetState(name="waiting_mode_active", value="False")}}
{{SetState(name="waiting_mode_footer_instruction", value="")}}

{% set act = GetTriggeredAct() %}
{% set user_id = GetUser().id | string %}
{% set last_convo_actor = session_get_and_set_last_convo_actor_id(user_id=user_id) %}
{% if not last_convo_actor.strip() %}
    {{Return()}}
{% endif %}

{% set integration_idn = session_get_current_integration_idn(user_id=user_id) %}

{% set external_event = "False" %}
{% if integration_idn == "api" %}
    {% set external_event = "True" %}
{% endif %}

{% set base_instruction = act.arguments.baseInstruction ~ "\n\nALWAYS RESPOND IN USER'S LANGUAGE. YOU MUST RESPOND UNMISTAKABLY IN USER'S LANGUAGE." %}
{% set update_session = act.arguments.updateSession %}

{% if integration_idn == "newo_voice" and GetCustomerAttribute(field="project_attributes_setting_voice_integration_service_voice_mode") == "voice-to-voice" %}
    {{v2v_add_context(turn=base_instruction, user_id=user_id)}}

    {% if update_session == "True" %}
        {{v2v_update_current_prompt(user_id=user_id, inject_thoughts="False")}}
    {% endif %}

    {{v2v_send_command(command=base_instruction)}}
    {{Return()}}
{% endif %}

{{_userMessageFastReplySkill(
    base_instruction=base_instruction,
    call_analyze_conversation=act.arguments.callAnalyzeConversationSkill,
    inject_thoughts=act.arguments.injectThoughts,
    external_event=external_event,
    user_id=user_id,
    integration_idn=integration_idn
)}}
