{% set arguments = GetTriggeredAct().arguments %}

{% set task_id = arguments.taskId %}
{% set recording = arguments.recording %}
{% set actor_id = arguments.actorId %}
{% set user_id = arguments.userId %}
{% set call_ended_reason = arguments.reason %}
{% set attempt_number = arguments.attemptNumber %}
{% set voicemail_detected = arguments.voicemail_detected %}

{% set reason_postfix = "." %}

{% if voicemail_detected == "True" %}
    {% set reason = "voicemail" %}
    {% set call_ended_reason = "voicemail" %}
    {% set reason_postfix = " because voicemail was detected." %}
{% else %}
    {% if call_ended_reason in ("assistant-ended-call", "customer-ended-call", "assistant-forwarded-call") %}
        {% set reason = "finished" %}
    {% elif call_ended_reason in ("customer-busy", "customer-did-not-answer", "server-error", "twilio-failed-to-connect-call") %}
        {% set reason = "failed" %}
    {% else %}
        {% set reason = "unknown" %}
    {% endif %}
{% endif %}

{% set call_end_reasons_map = {
    "assistant-ended-call": "assistant ended the call",
    "customer-ended-call": "customer ended the call",
    "assistant-forwarded-call": "assistant forwarded the call",
    "customer-busy": "customer was busy",
    "customer-did-not-answer": "customer did not answer",
    "server-error": "server error occurred",
    "twilio-failed-to-connect-call": "server error occurred",
    "voicemail": "voicemail was detected",
    "deadline": "deadline exceeded"
} %}

{# Remove active call from AKB #}
{{remove_active_call_from_akb(task_id=task_id)}}

{% if reason in ("voicemail", "failed") %}
    {{_setupRetrySkill(comment="Call finished because " ~ call_end_reasons_map.get(call_ended_reason, "unknown reason") ~ ". Recording: " ~ recording, attemptNumber=attempt_number, taskId=task_id, userId=user_id, recording=recording, reason=call_ended_reason)}}
{% else %}
    {{_updateTaskManagerStatusSkill(taskId=task_id, comment="The call has ended because " ~ call_end_reasons_map.get(call_ended_reason, "an unknown reason") ~ ". Analyzing. Recording: " ~ recording, status="analyzing")}}
    {{SendSystemEvent(eventIdn="convoagent_get_conversation", connectorIdn="system", requesterIdn=GetAgentPersona().name, callbackArguments=json.dumps({"task_id": task_id, "attempt_number": attempt_number, "user_id": user_id, "recording": recording, "call_ended_reason": call_ended_reason}, ensure_ascii=False, indent=2), actorIds=[actor_id])}}
{% endif %}

{{try_start_scheduled_call()}}
