{# Skill is being triggered on `project_publish_finish` which is being sent on finishing Project publication #}

{% set target_reference = GetTriggeredAct().arguments.registry_item_idn %}
{% if target_reference != "outbound" %}
    {{Return()}}
{% endif %}

{# TODO: Remove #}
{{DeleteCustomerAttribute(field="project_attributes_setting_outbound_default_maximum_number_active_calls")}}

{% if not GetConnectorInfo(integrationIdn="program_timer", connectorIdn="outbound_timer") %}
    {{CreateConnector(
        integrationIdn="program_timer",
        connectorIdn = "outbound_timer",
        title = "outbound_timer",
        settings = {},
        start = True
    )}}
{% endif %}

{{ProjectImportSkill()}}
