{{system}}
Your goal is to transfer <Input> information  with some information based on provided <Instruction>. All fields must be filled strictly based on the <Input>. Do not input any random values into any field.

<UserInformation alt="user information" role="context">
{{GetPersonaAttribute(id=user_id, field="_private_dynamic_user_information")}}
{{GetPersonaAttribute(id=user_id, field="custom_user_data")}}
</UserInformation>

{{utils_get_conversation_meta(user_id=user_id)}}

<Calendar>
{{GetCustomerAttribute(field="project_attributes_private_dynamic_prompt_calendar")}}
<Calendar>

<Input>
{{input}}
</Input>

<Instruction>
{{instruction}}
</Instruction>

{{end}}

{{Return(val=Gen(temperature=0.2, topP=0, thinkingBudget=425))}}
