{% set industry = GetCustomerAttribute(field="project_business_industry") %}

{% if industry != "cleaning_industry" %}
    {{Return()}}
{% endif %}
{% set old_text = '"calculator": {' %}
{% set new_text = '"calculation_tool": {' %}
{% set current_value = GetCustomerAttribute(field="project_attributes_settings_newo_tools") %}
{% set fixed_value = current_value.replace(old_text, new_text) %}
{{SetCustomerAttribute(field="project_attributes_settings_newo_tools", value=fixed_value)}}
