{% set title = '## **Scenario 5:** "Regular Transfer"' %}

{% set body %}
### **Step 5.1:**:

<Case1 condition="`conversation.channel` is `phone`">
Follow `# CALL TRANSFERRING` rule from **<ExplicitConstraints>** section.
</Case1>

<Case2 condition="`conversation.channel` is `chat`">
Say something like - "You can contact the manager at this number: [escalation phone from **<ExplicitConstraints>** section]. Let me know if you need anything else."
</Case2>
{% endset %}

{% set description %}
For a regular transfer: if the interaction is a phone call, follow the # CALL TRANSFERRING protocol from the ExplicitConstraints. If it’s a chat, provide the manager’s escalation phone number and confirm if any further assistance is needed.
{% endset %}


{% set item = {
    "idn": "scenario_dental_regular_transfer",
    "title": title.strip(),
    "body": body.strip(),
    "mentions": [],
    "description": description.strip(),
    "is_from_library": True,
    "origin_idn": ""
} %}

{{Return(val=json.dumps(item, ensure_ascii=False, indent=2))}}
