{# Restaurant Only #}

{% set industry = GetCustomerAttribute(field="project_business_industry") %}
{% if industry != "restaurant_industry" %}
    {{Return()}}
{% endif %}

{# Disabling the feature flag back #}

{{SetCustomerAttribute(field="project_attributes_setting_booking_cancellation_enabled", value="False")}}

{# Migrating ITM #}

{% set itm = GetCustomerAttribute(field="project_attributes_itm") %}
{% if not itm.strip() %}
    {{Return()}}
{% endif %}

{% set old_modifying_instruction = "ConvoAgent must ask what is the date and time of the existing booking and start the scenario: **\"Modifying Existing Reservation\"**" %}

{% set new_modifying_instruction = "ConvoAgent should very politely explain that, as an AI Assistant, they are not able to independently modify a booking.
During Working Hours: ConvoAgent should say that they will transfer the call to a human co-worker and start the scenario: **\"Regular Transfer\"**.
During Non-Working Hours: ConvoAgent should ask the details of the booking (name, time, date and phone number) the guest wants to modify. Then, ConvoAgent should start the scenario: **\"Relaying Message to the Manager\"**." %}

{% set itm = itm.replace(
    old_modifying_instruction,
    new_modifying_instruction
) %}

{% set old_cancellation_instruction = "ConvoAgent must ask what is the date and time of the booking the user wants to cancel and start the scenario: **\"Canceling Existing Reservation\"**" %}

{% set new_cancellation_instruction = "ConvoAgent should very politely explain that, as an AI Assistant, they are not able to independently cancel a booking.
During Working Hours: ConvoAgent should say that they will transfer the call to a human co-worker and start the scenario: **\"Regular Transfer\"**.
During Non-Working Hours: ConvoAgent should ask the details of the booking (name, time, date and phone number) the guest wants to cancel. Then, ConvoAgent should start the scenario: **\"Relaying Message to the Manager\"**." %}

{% set itm = itm.replace(
    old_cancellation_instruction,
    new_cancellation_instruction
) %}

{{SetCustomerAttribute(field="project_attributes_itm", value=itm)}}
