{% set act = GetTriggeredAct() %}

{% set user_id = GetUser().id | string %}

{{SendCommand(
    commandIdn="set_timer",
    integrationIdn="program_timer",
    connectorIdn="waiting_mode_fallback",
    timerName="waiting_mode_fallback",
    eventIdn="waiting_mode_fallback",
    interval="1",
    personaId=user_id,
    enabled="False"
)}}

{% set event_block = GetState(name="event_block") %}
{% if event_block == "True" %}
    {# {{_utilsSendDebugLogSkill(
        message="Urgent message dropped due to event block (conversation is not active): " ~ act.arguments.baseInstruction
    )}} #}
    {{Return()}}
{% endif %}

{% set chat_cycle_state = GetState(name="chat_lifecycle_state") %}
{% set message_queue = json.loads(GetState(name="message_queue")) %}
{% set follow_up_state = GetState(name="follow_up_state") %}

{% if chat_cycle_state == "Silence" and not message_queue %}
    {# {{_utilsSendDebugLogSkill(
        message="The queue is empty and conversation is silent, pushing urgent message immediately."
    )}} #}
    {{SendSystemEvent(eventIdn="push_agent_turn",
                    integrationIdn="system",
                    connectorIdn="system",
                    baseInstruction=act.arguments.baseInstruction,
                    callAnalyzeConversationSkill=act.arguments.callAnalyzeConversationSkill or "False",
                    callManageTaskSkill=act.arguments.callManageTaskSkill or "False",
                    updateSession="True",
                    injectThoughts="False"
    )}}
{% else %}
    {# {{_utilsSendDebugLogSkill(
        message="Either queue is not empty or the line is busy, appending urgent message to the queue: " ~ act.arguments.baseInstruction
    )}} #}

    {% set act_transformed = {
        "arguments": {
            "baseInstruction": act.arguments.baseInstruction,
            "callAnalyzeConversationSkill": act.arguments.callAnalyzeConversationSkill or "False",
            "callManageTaskSkill": act.arguments.callManageTaskSkill or "False",
        }
    } %}

    {{message_queue.append(act_transformed)}}

    {{SetState(name="message_queue", value=json.dumps(message_queue, ensure_ascii=False, indent=2))}}
{% endif %}

{% if follow_up_state == "disabled_auto" %}
    {{EnableFollowUp()}}
{% endif %}
