{% set arguments = GetTriggeredAct().arguments %}
{% if arguments.requesterIdn != GetAgentPersona().name %}
    {{Return()}}
{% endif %}

{% set callback_arguments = arguments.callbackArguments %}
{% if callback_arguments == "retry" %}
    {% set task = arguments.task %}
    {{try_start_call(task=task)}}
{% endif %}
