{% set title = '## **Scenario 7:** "Relaying Message to the Manager"' %}

{% set body %}
### **Step 7.1:** Ask what specific information the user wants to convey to the manager.

### **Step 7.2:**
- If you have enough information from **<BusinessContext>** or **<AdditionalInformation>**, assist the User and proceed to the **Finish Conversation** scenario.
- If not, proceed to **Step 7.3**.

### **Step 7.3:** Follow **Reconfirming or Gathering User Name** procedure.

### **Step 7.4:** Follow **Reconfirming or Gathering Phone Number** procedure.

### **Step 7.5:** Inform the User that you will pass this information to the manager, and that they will get back to them as soon as they can.
If the request was about a reschedule, modification, or cancellation, kindly inform the user that the appointment is not considered rescheduled or cancelled until they receive confirmation from a human co-worker. Then ask if there is anything else you can assist with.

### **Step 7.6:** Follow **Finish Conversation** scenario.
{% endset %}

{% set description %}
When a caller wants to relay a message to the manager, first ask what they’d like to convey; if details aren’t already available (via BusinessContext or AdditionalInformation), confirm or collect their name and phone number. Let them know you’ll pass the message along, note that any reschedule/modification/cancellation isn’t final until a human confirms, then finish the conversation.
{% endset %}


{% set item = {
    "idn": "scenario_home_service_relaying_message_to_the_manager",
    "title": title.strip(),
    "body": body.strip(),
    "mentions": [
        {
            "type": "procedures",
            "item_idn": "procedure_common_gather_name"
        },
        {
            "type": "procedures",
            "item_idn": "procedure_common_gather_phone_number"
        }
    ],
    "description": description.strip(),
    "is_from_library": True,
    "origin_idn": ""
} %}

{{Return(val=json.dumps(item, ensure_ascii=False, indent=2))}}
