{% set request_args = GetTriggeredAct().arguments %}

{# Accumulate scraped text from chunks #}
{% set websites_text = GetCustomerAttribute(field="project_attributes_private_dynamic_rag_knowledge_base_append_websites_text") %}
{% set extended_websites_text = websites_text ~ request_args.topic %}
{{SetCustomerAttribute(field="project_attributes_private_dynamic_rag_knowledge_base_append_websites_text", value=extended_websites_text)}}

{# The scraper integration uses a descending index protocol (index 0 is sent last). #}
{# We check if all indexes are 0 to trigger final processing only after the entire stream is received. #}
{% if request_args.result_index | int != 0 or request_args.chunk_index | int != 0 or request_args.get("request_index", "0") | int != 0 %}
    {{Return()}}
{% endif %}

{# Log the User Input (URLs/Instructions) for historical reference #}
{{rag_append_extend_log(
    input_unstructured_text=GetCustomerAttribute(field="project_attributes_rag_knowledge_base_append_websites"),
    output_log_attribute_name="project_attributes_rag_knowledge_base_append_websites_log"
)}}
{{SetCustomerAttribute(field="project_attributes_rag_knowledge_base_append_websites", value="")}}

{# Process the accumulated scraped text #}
{{rag_append_convert_to_structured_text(
    input_unstructured_text=extended_websites_text,
    output_structured_attribute_name="project_attributes_private_dynamic_rag_knowledge_base_append_websites_text_structured",
)}}
{{SetCustomerAttribute(field="project_attributes_private_dynamic_rag_knowledge_base_append_websites_text", value="")}}

{% set websites_text_structured = GetCustomerAttribute(field="project_attributes_private_dynamic_rag_knowledge_base_append_websites_text_structured") %}
{{rag_append_create_akb_topics(
    label="rag_autogenerated_from_websites",
    id_prefix="afw_",
    input_structured_text=websites_text_structured
)}}
{{SetCustomerAttribute(field="project_attributes_private_dynamic_rag_knowledge_base_append_websites_text_structured", value="")}}
