{# Switch to Gemini V2V with `user` role #}

{{SetCustomerAttribute(field="project_attributes_setting_voice_integration_service_voice_to_voice_provider", value="genai")}}
{{SetCustomerAttribute(field="project_attributes_setting_voice_integration_service_voice_to_voice_provider_genai_set_turn_message_type", value="user")}}

{{utils_connector_set_setting_if_exists(
    integrationIdn = "newo_voice",
    connectorIdn = "newo_voice_connector",
    field = "v2v_mode",
    value = "genai"
)}}
