{{SetState(name="waiting_mode_active", value="False")}}
{{SetState(name="waiting_mode_footer_instruction", value="")}}

{% set user_id = GetUser().id | string %}

{% set fallback_instruction = "Politely apologize to the user for the inconvenience and inform them that you were unable to… [based on conversation history you have to understand what you needed to do]. " ~ GetCustomerAttribute(field="project_attributes_setting_waiting_mode_fallback_instruction") %}

{% set integration_idn = session_get_current_integration_idn(user_id=user_id) %}
{% if (integration_idn == "newo_voice") and (GetCustomerAttribute(field="project_attributes_setting_voice_integration_service_voice_mode") == "voice-to-voice") %}
    {{v2v_update_current_prompt(user_id=user_id, inject_thoughts="False")}}
    {{v2v_add_context(turn=fallback_instruction, user_id=user_id)}}
    {{v2v_send_command(command=fallback_instruction)}}
{% else %}
    {% set integration_idn = session_get_current_integration_idn(user_id=user_id) %}
    {{_userMessageFastReplySkill(
        base_instruction=fallback_instruction,
        user_id=user_id
    )}}
{% endif %}
