{% set is_new_customer = not session.existing_customer %}
{# in dental industry existing patient is not a lead #}
{% set is_not_dental = industry != "dental_industry" %}
{% set is_valuable = is_new_customer or is_not_dental %}
{% set is_lead = is_valuable and (session.is_lead or ("[L]" in intent_name)) %}

{% if is_lead %}
    {{Return(val="true")}}
{% else %}
    {{Return(val="false")}}
{% endif %}
