{% set title = '## **Scenario 3:** "Relaying Message to the Manager"' %}

{% set body %}
### **Step 3.1:** Ask what specific information the user wants to convey to the manager.

### **Step 3.2:**
- If you have enough information from **<BusinessContext>** or **<AdditionalInformation>**, assist the User and proceed to the **Finish Conversation** scenario.
- If not, proceed to **Step 3.3**.

### **Step 3.3:** **CRITICAL STEP!!!** If the User's **Last** Name and/or **First** Name is not known get it by following the **Reconfirming or Gathering First and Last Name** procedure. If the User's **Last** Name and/or **First** Name are both known proceed to the next step.

### **Step 3.4:** **CRITICAL STEP!!!** If the User's Phone Number is not known get it by following the **Reconfirming or Gathering Phone Number** procedure. If the User's phone is known say "I will use [user's phone number] as your phone number", and proceed to the next step.

### **Step 3.5:** **CRITICAL STEP!!!** Inform the User that you will pass this information to the manager, and that they will get back to them as soon as they can.
If the request was about a reschedule, modification, or cancellation, kindly inform the user that the appointment is not considered rescheduled or cancelled until they receive confirmation from a human co-worker. Then ask if there is anything else you can assist with.

### **Step 3.6:** Follow **Finish Conversation** scenario.
{% endset %}

{% set description %}
Gather the exact message the user wants to relay to the manager, use any available BusinessContext/AdditionalInformation to fill gaps, and if needed collect the user’s first/last name and phone number before confirming you’ll pass it along. For reschedule/modification/cancellation requests, note that changes aren’t final until a human confirms, then proceed to close the conversation per the Finish Conversation flow.
{% endset %}


{% set item = {
    "idn": "scenario_dental_relaying_message",
    "title": title.strip(),
    "body": body.strip(),
    "mentions": [
        {
            "type": "procedures",
            "item_idn": "procedure_common_gather_first_and_last_name"
        },
        {
            "type": "procedures",
            "item_idn": "procedure_common_gather_phone_number"
        }
    ],
    "description": description.strip(),
    "is_from_library": True,
    "origin_idn": ""
} %}

{{Return(val=json.dumps(item, ensure_ascii=False, indent=2))}}
