{% set arguments = GetTriggeredAct().arguments %}

{% set ignore_opt_out = arguments.ignore_opt_out or "false" %}
{% set user_id = GetUser().id | string %}
{% set sms_text = arguments.sms_text %}
{% set phone_number = arguments.phone_number %}

{% if ignore_opt_out == "false" %}
    {% if GetPersonaAttribute(id=user_id, field="sms_subscribed") == "false" %}
        {{_utilsSendSystemLogSkill(message="SMS message with the following content - " ~ sms_text ~ " is not sent to " ~ phone_number ~ " because user is unsubscribed.")}}
        {{Return()}}
    {% endif %}
{% endif %}

{% set send_as = arguments.send_as or "message" %}

{% if send_as == "command" %}
    {# Define SMS channel (Twilio Messenger or NEWO Voice via SIP) #}
    {% set integration_idn = "twilio_messenger" %}
    {% set connector_idn = "sms_connector" %}
    {% set newo_voice_connector_object = GetConnectorInfo(integrationIdn="newo_voice", connectorIdn="newo_voice_connector") %}
    {% if newo_voice_connector_object %}
        {% set newo_voice_connector_settings = newo_voice_connector_object.settings %}
        {% if newo_voice_connector_settings %}
            {% set newo_voice_connector_provider = newo_voice_connector_settings.provider %}
        {% endif %}
    {% endif %}
    {% set sms_provider = GetCustomerAttribute(field="project_attributes_setting_sms_provider")%}
    {% if newo_voice_connector_provider == "sip" and sms_provider == "sip" %}
        {% set integration_idn = "newo_voice" %}
        {% set connector_idn = "newo_voice_connector" %}
    {% endif %}
    {% if sms_provider == "sms_service" %}
        {{SendCommand(
            commandIdn="send_message",
            integrationIdn="newo_sms",
            connectorIdn="newo_sms_connector",
            text=sms_text,
            phoneNumber=phone_number
        )}}
    {% else %}
        {{SendCommand(
            commandIdn="send_message",
            integrationIdn=integration_idn,
            connectorIdn=connector_idn,
            text=sms_text,
            phone_number=phone_number
        )}}
    {% endif %}
{% else %}
    {% if GetCustomerAttribute(field="project_attributes_setting_sms_send_information_enabled") == "False" %}
        {{SendSystemEvent(
            eventIdn="convoagent_send_information",
            connectorIdn="system",
            message=sms_text,
            phone_number=phone_number
        )}}
    {% else %}
        {{_utilsSendSMSWithActorsCreationSkill(
            smsText=sms_text,
            userPhoneNumber=phone_number,
            userId=GetUser().id | string
        )}}
    {% endif %}
{% endif %}


{{_utilsSendSystemLogSkill(message="SMS message with the following content - " ~ sms_text ~ " was sent to " ~ phone_number ~ ".")}}

{% set notify = arguments.notify or "false" %}

{% if notify == "true" %}
    {% set last_convo_actor_id = GetPersonaAttribute(id=user_id, field="last_convo_actor_id") %}
    {# Do not notify the user about the SMS if the conversation is concluded or the conversation actor is Twilio Messenger #}
    {% if (not last_convo_actor_id.strip()) or (GetActor(id=last_convo_actor_id).integrationIdn == "twilio_messenger") %}
        {{Return()}}
    {% endif %}

    {{SendSystemEvent(
        eventIdn="urgent_message",
        connectorIdn="system",
        baseInstruction="You've just sent the following message to the user: \n> " ~ sms_text ~ "\n\nSimply inform the user that a message has been sent by saying this in the language the user is speaking to you in: I've just sent you a message. Please check if you received it.
    No need to tell or ask anything else for now.",
        callAnalyzeConversationSkill="False",
        callManageTaskSkill="False",
        uninterruptible="True"
    )}}

{% endif %}
