{% set triggered_act = GetTriggeredAct() %}
{% set integration_idn = triggered_act.integrationIdn %}
{% set output = {} %}

{% set fromActId = triggered_act["commandActId"] %}
{% set act = GetAct(id=fromActId) %}
{% set target_action = act.arguments["targetAction"] %}
{% if target_action != "cancel_booking" %}
    {{Return()}}
{% endif %}
{% set status_code = triggered_act.arguments["statusCode"] | int %}
{% if status_code < 300 %}
    {% set output = {"success": true} %}
{% else %}
    {% set output = {"success": false} %}
{% endif %}

{{ _sendNotificationSkill(success = output.success) }}
