{# Revenue Model - the JSON object represents a set of revenue-related configurations.

To build Revenue Model you have to:
1. Define the Category Name. The category name is the key in the JSON object (e.g., "large_group_reservation"). Name of the category also must be included in the _utilsGetConversationCategoriesSkill for your industry

2. Structure the Category.
Each category is a dictionary/object with the following components:
	•	revenue_parameters_schema: Defines the input data structure (schema) required for to calculate potential revenue. Is used to get those parameters from the conversation.
	•	potential_revenue_formula: Provides the formula to calculate the potential revenue.
	•	constants: Holds fixed values or constants used in the formula.
	•	min_value: Is set if final sum is less then this value.
	•	zero_default: Is set if final sum is equal to zero.

In some cases you can provide only fixed_potential_revenue. It means that value from that field will be returned as is without any calculations.

Example:
{
  "order": {
    "fixed_potential_revenue": "70"
  },
  "booking": {
    "revenue_parameters_schema": {
      "type": "object",
      "properties": {
        "party_size": {
          "type": "integer",
          "description": "Number of people for reservation"
        }
      },
      "required": [
        "party_size"
      ]
    },
    "potential_revenue_formula": "party_size * average_bill_per_person",
    "constants": {
      "average_bill_per_person": "50",
      "call_center_savings": "0"
    },
    "min_value": 200, (optional) in case the final sum is less then this value, this will be applied instead
    "zero_default" 200, (optional) in case if the final sum is 0, this will be applied instead
  }
} #}

{% set pr_average_lead_value = (GetCustomerAttribute(field="project_attributes_setting_asr_average_lead_value").strip()) | int %}

    {% set default_revenue_model = {
      "default": {
        "revenue_parameters_schema": {
          "type": "object",
          "properties": {
            "is_price_discussed" : {
                "type": "boolean",
                "description": "Check the <ConversationHistory> context. Set to true if the ConvoAgent and / or User discussed some pricing. (Not all numbers are prices)"
            },
            "discussed_price": {
              "type": "integer",
              "description": "Enter here the price of any product or service if it was explicitly discussed during the conversation. If the price was not discussed, enter 0. Do not include random numbers mentioned in the conversation."
            }
          },
          "required": [
            "discussed_price"
          ]
        },
        "potential_revenue_formula": "discussed_price * pr_lead_conversion_rate",
        "constants": {
          "pr_lead_conversion_rate": "1"
        },
        "min_value": pr_average_lead_value
      }
    } %}

{% set industry = GetCustomerAttribute(field="project_business_industry") %}

{% set revenue_model = {} %}

{% if industry == "catering_industry" %}
    {% set catering_deposit_covered_number_of_people = (GetCustomerAttribute(field="project_attributes_catering_deposit_covered_number_of_people").strip() or 40) | int %}

    {% set catering_deposit = (GetCustomerAttribute(field="project_attributes_catering_deposit").strip() or 700) | int %}

    {% set catering_bill_per_person_exceeding_deposit = (GetCustomerAttribute(field="project_attributes_catering_bill_per_person_exceeding_deposit").strip() or 20) | int %}

    {% set revenue_model = {
      "catering_order": {
        "revenue_parameters_schema": {
          "type": "object",
          "properties": {
            "party_size": {
              "type": "integer",
              "description": "Number of people for reservation"
            }
          },
          "required": [
            "party_size"
          ]
        },
        "potential_revenue_formula": "(party_size - " ~ catering_deposit_covered_number_of_people ~ ") * " ~ catering_bill_per_person_exceeding_deposit ~ " + " ~ catering_deposit,
        "constants": {},
        "min_value": catering_deposit
      }
    } %}

{% elif industry == "restaurant_industry" %}
    {% set average_bill_per_person_regular_reservation = (GetCustomerAttribute(field="project_attributes_restaurant_bill_average_per_person_regular_reservation").strip() or 45) | int %}

    {% set average_bill_per_person_large_group_reservation = (GetCustomerAttribute(field="project_attributes_restaurant_bill_average_per_person_large_group_reservation").strip() or average_bill_per_person_regular_reservation) | int %}

    {% set minimum_bill_large_group_reservation = (GetCustomerAttribute(field="project_attributes_restaurant_bill_minimum_large_group_reservation").strip() or 500) | int %}

    {% set minimum_bill_catering = (GetCustomerAttribute(field="project_attributes_restaurant_bill_minimum_catering").strip() or 900) | int %}

    {% set minimum_bill_private_dining = (GetCustomerAttribute(field="project_attributes_restaurant_bill_minimum_private_dining").strip() or 1000) | int %}

    {% set average_bill_per_person_catering = (GetCustomerAttribute(field="project_attributes_restaurant_bill_average_per_person_catering").strip() or average_bill_per_person_regular_reservation) | int %}

    {% set average_bill_order = (GetCustomerAttribute(field="project_attributes_restaurant_bill_average_order").strip() or 50) | int %}

    {% set average_bill_per_person_private_dining = (GetCustomerAttribute(field="project_attributes_restaurant_bill_average_per_person_private_dining").strip() or average_bill_per_person_regular_reservation) | int %}

    {% set revenue_model = {
      "order": {
        "fixed_potential_revenue": average_bill_order
      },
      "regular_table_booking": {
        "revenue_parameters_schema": {
          "type": "object",
          "properties": {
            "party_size": {
              "type": "integer",
              "description": "Number of people for reservation"
            }
          },
          "required": [
            "party_size"
          ]
        },
        "potential_revenue_formula": "party_size * average_bill_per_person",
        "constants": {
          "average_bill_per_person": average_bill_per_person_regular_reservation,
          "call_center_savings": 0
        },
        "zero_default": pr_average_lead_value
      },
      "large_reservation": {
        "revenue_parameters_schema": {
          "type": "object",
          "properties": {
            "party_size": {
              "type": "integer",
              "description": "Number of people for reservation"
            }
          },
          "required": [
            "party_size"
          ]
        },
        "potential_revenue_formula": "party_size * average_bill_per_person",
        "constants": {
          "average_bill_per_person": average_bill_per_person_large_group_reservation,
          "call_center_savings": 0
        },
        "min_value": minimum_bill_large_group_reservation
      },
      "catering": {
        "revenue_parameters_schema": {
          "type": "object",
          "properties": {
            "party_size": {
              "type": "integer",
              "description": "Number of people for reservation"
            }
          },
          "required": [
            "party_size"
          ]
        },
        "potential_revenue_formula": "party_size * average_bill_per_person",
        "constants": {
          "average_bill_per_person": average_bill_per_person_regular_reservation,
          "call_center_savings": 0
        },
        "min_value": minimum_bill_large_group_reservation
      },
      "private_dining": {
        "revenue_parameters_schema": {
          "type": "object",
          "properties": {
            "party_size": {
              "type": "integer",
              "description": "Number of people for reservation"
            }
          },
          "required": [
            "party_size"
          ]
        },
        "potential_revenue_formula": "party_size * average_bill_per_person",
        "constants": {
          "average_bill_per_person": "{{average_bill_per_person_regular_reservation}}",
          "call_center_savings": 0
        },
        "min_value": minimum_bill_large_group_reservation
      }
    } %}
{% elif industry == "hospitality_industry" %}
    {% set average_bill_per_person_per_day_regular_reservation = (GetCustomerAttribute(field="project_attributes_hospitality_bill_average_per_person_per_day_regular_reservation").strip() or 200) | int %}

    {% set average_bill_per_person_per_day_large_group_reservation = (GetCustomerAttribute(field="project_attributes_hospitality_bill_average_per_person_per_day_large_group_reservation").strip() or average_bill_per_person_per_day_regular_reservation) | int %}

    {% set revenue_model = {
      "booking": {
        "revenue_parameters_schema": {
          "type": "object",
          "properties": {
            "party_size": {
              "type": "integer",
              "description": "Number of people for reservation"
            },
            "days_amount": {
              "type": "integer",
              "description": "Number of days for reservation"
            }
          },
          "required": [
            "party_size",
            "days_amount"
          ]
        },
        "potential_revenue_formula": "party_size * days_amount * average_bill_per_person_per_day",
        "constants": {
          "average_bill_per_person_per_day": average_bill_per_person_per_day_regular_reservation,
          "call_center_savings": 0
        },
        "zero_default": pr_average_lead_value
      },
      "large_group_reservation": {
        "revenue_parameters_schema": {
          "type": "object",
          "properties": {
            "party_size": {
              "type": "integer",
              "description": "Number of people for reservation"
            },
            "days_amount": {
              "type": "integer",
              "description": "Number of days for reservation"
            }
          },
          "required": [
            "party_size",
            "days_amount"
          ]
        },
        "potential_revenue_formula": "party_size * days_amount * average_bill_per_person_per_day",
        "constants": {
          "average_bill_per_person_per_day": average_bill_per_person_per_day_large_group_reservation,
          "call_center_savings": 0
        },
        "min_value": pr_average_lead_value
      }
    } %}

{% else %}
    {# For all other industries(cleaning_industry, dental_industry, sales_industry, spa_industry, technology_industry, beauty_industry) we use default revenue model. If you want to add specific revenue model, you can add new condition and describe revenue model as in example. #}
    {% set revenue_model = {} %}
{% endif %}

{{revenue_model.update(default_revenue_model)}}

{{Return(val=json.dumps(revenue_model, ensure_ascii=False, indent=2))}}
