{% set user_bookings = GetPersonaAttribute(id=user_id, field="bookings") %}

{% if not user_bookings %}
    {{ Return(val="[]") }}
{% endif %}

{% set valid_user_bookings = check_valid_bookings(bookings=user_bookings) %}

{{ SetPersonaAttribute(id=user_id, field="bookings", value=valid_user_bookings) }}

{{ Return(val=valid_user_bookings) }}
