{% set current_tools = GetCustomerAttribute(field="project_attributes_settings_newo_tools") %}

{% if not current_tools.strip() %}
    {{Return()}}
{% endif %}

{% set current_tools = json.loads(GetCustomerAttribute(field="project_attributes_settings_newo_tools")) %}

{% if not current_tools.tools.check_timezone_tool and not current_tools.tools.calculation_tool %}
    {{Return()}}
{% endif %}

{% if current_tools.tools.check_timezone_tool %}
    {{current_tools.tools.check_timezone_tool.update({"description": "This tool checks and identifies timezones mismatches to help agent to correct its answer."})}}
{% endif %}

{% if current_tools.tools.calculation_tool %}
    {{current_tools.tools.calculation_tool.update({"description": "The agent calculates the price and informs the user about it."})}}
{% endif %}

{{SetCustomerAttribute(field="project_attributes_settings_newo_tools", value=json.dumps(current_tools, ensure_ascii=False, indent=2))}}
