{% set general_manager_persona_id = GetAgentPersona(field="id").id|string %}
{% set industry = GetCustomerAttribute(field="project_business_industry") %}
{% if industry not in ["catering_industry", "restaurant_industry"] %}
    {{Return()}}
{% endif %}

{% set old_restaurant_menu = [] %}
{% if industry == "restaurant_industry" %}
    {% set old_restaurant_menu = SearchFuzzyAkb(
        query="**Restaurant Menu**",
        searchFields=["name"],
        numberTopics=100,
        scoreThreshold=1,
        labels=["rag_context"],
        filterByPersonaIds=[general_manager_persona_id]
    ) %}
{% else %}
    {% set old_restaurant_menu = SearchFuzzyAkb(
        query="**Catering Menu**",
        searchFields=["name"],
        numberTopics=100,
        scoreThreshold=1,
        labels=["rag_context"],
        filterByPersonaIds=[general_manager_persona_id]
    ) %}
{% endif %}

{% if not old_restaurant_menu %}
    {{Return()}}
{% endif %}

{% set old_restaurant_topic_ids = [] %}
{% for topic in old_restaurant_menu %}
    {{old_restaurant_topic_ids.append(topic.topicId|string)}}
{% endfor %}
{{DeleteAkb(ids=old_restaurant_topic_ids)}}

{% set current_menu = "" %}
{% if industry == "restaurant_industry" %}
    {% set current_menu = GetCustomerAttribute(field="project_attributes_restaurant_menu") %}
{% else %}
    {% set current_menu = GetCustomerAttribute(field="project_attributes_catering_menu") %}
{% endif %}
{% if not current_menu.strip() %}
    {{Return()}}
{% endif %}

{% set menu_overview = _prepareAkbCommonMenuOverviewSkill(currentMenu=current_menu) %}

{% if industry == "restaurant_industry" %}
    {{SetCustomerAttribute(field="project_attributes_restaurant_menu_overview", value=menu_overview)}}
{% else %}
    {{SetCustomerAttribute(field="project_attributes_catering_menu_overview", value=menu_overview)}}
{% endif %}
{{_prepareAkbCommonMenuRagSkill(currentMenu=current_menu)}}
