{% set run_options = GetState(name="run_options") %}
{% set failed_intents = filter_intents_for_qa(intents=intents) %}
{% set intents = json.loads(intents) %}
{% set final_assessment = {
    "intents": intents,
    "run_options": run_options,
    "qa_report": {}
} %}
{% if failed_intents %}
    {% set qa_result = json.loads(get_qa_analysis(intents=failed_intents, itm=GetPersonaAttribute(id=agent_persona_id, field="current_itm"))) %}
    {{final_assessment.update({"qa_report": qa_result})}}
{% endif %}

{{SetManualAkb(personaId=agent_persona_id,
    summary=json.dumps(final_assessment, ensure_ascii=False, indent=2),
    facts=["Assessor result", GetDateTime(format="datetime"), run_options],
    name=intents[0].executionId | string,
    labels=["report", "pending_review"],
    source="assessor"
)}}

{{SetPersonaAttribute(id=agent_persona_id, field="intents", value="[]")}}
{{SetState(name="run_options", value="{}")}}

{{SendCommand(
    commandIdn="send_assessment_result",
    integrationIdn="api",
    connectorIdn="assessor",
    intents=json.dumps(final_assessment.intents, ensure_ascii=False, indent=2),
    qa_report=json.dumps(final_assessment.qa_report, ensure_ascii=False, indent=2),
    run_options=run_options.strip(),
    industry=GetCustomerAttribute(field="project_business_industry"),
    customer=GetCustomer().model_dump_json()
)}}
