{{DeleteCustomerAttribute(field="project_attributes_restaurant_menu_structured_representation_enabled")}}
{{DeleteCustomerAttribute(field="project_attributes_catering_menu_structured_representation_enabled")}}
