{# Store queued calls in AKB to act as internal queue #}
{# To prevent async IO corruption storing the internal queue in the AKB #}

{% set agent_persona_id = GetAgentPersona().id | string %}
{% set queued_calls = SearchFuzzyAkb(
    query="queued_calls",
    searchFields=["name"],
    numberTopics=1,
    scoreThreshold=1,
    labels=["queued_calls"],
    filterByPersonaIds=[agent_persona_id]
) %}
{% if queued_calls %}
    {% set queue = json.loads(queued_calls[0].summary) %}
    {{queue.append(json.loads(task))}}
    {{UpdateAkb(id=queued_calls[0].topicId|string, summary=json.dumps(queue, ensure_ascii=False, indent=2))}}
{% else %}
    {{SetManualAkb(
        personaId=agent_persona_id,
        summary=json.dumps([json.loads(task)], ensure_ascii=False, indent=2),
        facts=[],
        name="queued_calls",
        source="OCWCallDispatcher",
        labels=["queued_calls"]
    )}}
{% endif %}
