{# Disables current follow up and disables setting up further follow ups #}
{% set user_id = GetUser().id | string %}

{{_utilsSetFollowUpTimerSkill(interval="-1", personaId=user_id)}}

{% set act = GetTriggeredAct() %}
{% set reactivation_mode = act.arguments.reactivation_mode or "auto" %}
{% if reactivation_mode == "auto" %}
    {{SetState(name="follow_up_state", value="disabled_auto")}}
{% endif %}
{% if reactivation_mode == "manual" %}
    {{SetState(name="follow_up_state", value="disabled_manual")}}
{% endif %}

{# {{_utilsSendDebugLogSkill(
    message="Follow-up timer was set to " ~ long_operation_interval ~ " due to waiting mode."
)}} #}
