{{_utilsCustomerAttributeSetIfEmptySkill(field="project_attributes_setting_sms_send_information_enabled", value="True")}}

{# Default information that can be sent via SMS #}

{% set common_allowed_content = "- Payment link for product/service item according to the **Products and Services** block: '[product/service item name] link: [product/service link]'
- Link to make an appointment: 'Please use this link to make an appointment: [appointment_url]'
- Business Details link if no other content is relevant for promised SMS: 'Please use this link for more information: [website_url]'" %}

{% set common_allowed_content_items = "- Payment link for product/service item according to the **Products and Services** block
- Link to make an appointment
- Business Details link if no other content is relevant for promised SMS" %}

{{_utilsCustomerAttributeSetIfEmptySkill(field="project_attributes_setting_sms_send_information_allowed_content", value=common_allowed_content)}}
{{_utilsCustomerAttributeSetIfEmptySkill(field="project_attributes_setting_sms_send_information_allowed_content_items", value=common_allowed_content_items)}}
