{% if setupCall == "True" %}
    {{Return(val=json.dumps({
  "type": "object",
  "properties": {
    "call_context": {
      "type": "object",
      "properties": {
        "allowed_sms_content": {
          "type": "string",
          "description": "Get the SMS content that is allowed to be sent during the call. Most likely, it will include an example such as: Link to finish purchase: `Please use this link to finish the purchase.` If multiple SMS contents are mentioned, separate them using \\n. If no SMS content is mentioned to be sent during the conversation, set the value to \"null\"."
        }
      },
      "required": [
        "allowed_sms_content"
      ]
    }
  },
  "required": [
    "call_context"
  ]
}, ensure_ascii=False, indent=2))}}
{% endif %}

{% if extractPhone == "True" %}
    {{Return(val=json.dumps({
  "type": "object",
  "properties": {
    "user_phone_number": {
      "type": "string",
      "description": "Extract the phone number from the conversation and return it as digits only, without plus sign or extra formatting. If multiple phone numbers are mentioned, return only the last one. If no phone number is mentioned, set the value to \"null\"."
    }
  },
  "required": [
    "user_phone_number"
  ]
}, ensure_ascii=False, indent=2))}}
{% endif %}
