{# This skill returns two versions of user's phone number.
The first version is the word representation of the phone number.
The second version is the phone number with each digit split by spaces.
Example:
["zero one two three four five six seven eight nine zero one", "0 1 2 3 4 5 6 7 8 9 0 1"] #}
{% set phone_number_spelled = phone_number
  | replace('0', ' zero ')
  | replace('1', ' one ')
  | replace('2', ' two ')
  | replace('3', ' three ')
  | replace('4', ' four ')
  | replace('5', ' five ')
  | replace('6', ' six ')
  | replace('7', ' seven ')
  | replace('8', ' eight ')
  | replace('9', ' nine ')
  | replace("  ", " ")| trim
%}

{{Return(val=json.dumps({"spelled": phone_number_spelled, "divided": phone_number | join(" ")}, ensure_ascii=False, indent=2))}}
