{# Remove an active call entry from AKB when a call ends #}
{% set agent_persona_id = GetAgentPersona().id | string %}
{% set active_call_entries = SearchFuzzyAkb(
    query="active_call_" ~ task_id,
    searchFields=["name"],
    numberTopics=1,
    scoreThreshold=0,
    labels=["active_call"],
    filterByPersonaIds=[agent_persona_id]
) %}
{% if active_call_entries %}
    {{DeleteAkb(ids=[active_call_entries[0].topicId | string])}}
{% endif %}
