{% set task = json.loads(task) %}

{% set user_id = task.user_id %}
{% set call_reason = task.arguments.content %}

{% set task_outbound_call_context = "" %}

{% set current_outbound_context = GetPersonaAttribute(id=user_id, field="outbound_call_context").strip() %}
{% if current_outbound_context %}
    {% set current_outbound_context = json.loads(current_outbound_context) %}
    {% set task_outbound_call_context = current_outbound_context.get(task.id, "") %}
{% endif %}

{% if task_outbound_call_context %}
    {% set call_context = task_outbound_call_context.call_context %}
    {% set greeting_phrase = task_outbound_call_context.greeting_phrase %}
    {% set retry = "True" %}
{% else %}
    {% set setup_call = json.loads(_extractValuesFromCallReasonSkill(callReason=call_reason, schema=_schemasSkill(setupCall="True"))) %}
    {% set call_context = setup_call.get("call_context") %}
    {% set greeting_phrase = task.arguments.get("greeting_phrase", None) %}
    {% if not greeting_phrase %}
        {% set greeting_phrase = _generateGreetingPhraseSkill(callReason=call_reason) %}
    {% endif %}
    {% set outbound_call_context = {"call_context": call_context, "content": call_reason, "greeting_phrase": greeting_phrase, "task": task} %}
    {{SetPersonaAttribute(id=user_id, field="outbound_content", value=call_reason)}}

    {% if not current_outbound_context %}
        {% set current_outbound_context = {} %}
    {% endif %}

    {{current_outbound_context.update({task.id: outbound_call_context})}}

    {{SetPersonaAttribute(id=user_id, field="outbound_call_context", value=json.dumps(current_outbound_context, ensure_ascii=False, indent=2))}}
    {% set retry = "False" %}
{% endif %}

{% set phone_number = task.arguments.get("phoneNumber", None) %}
{% if not phone_number or phone_number == "null" %}
    {{DUMMY("Phone number is required to make call via `outbound` project.")}}
    {{Return()}}
{% else %}
    {% set phone_number_without_plus = phone_number.replace("+", "") %}
{% endif %}

{{SetPersonaAttribute(id=user_id, field="outbound_call", value="True")}}
{{SetPersonaAttribute(id=user_id, field="outbound_call_happened", value="False")}}
{{SetPersonaAttribute(id=user_id, field="voicemail_checked", value="False")}}
{{SetState(name="voicemail_detected", value="False")}}

{{SetPersonaAttribute(id=user_id, field="outbound_original_phone_number", value=phone_number_without_plus)}}

{% set phone_actor = GetActors(personaId=user_id, externalId=phone_number_without_plus, integrationIdn="newo_voice", connectorIdn="newo_voice_connector")[0].id | string %}

{{SetPersonaAttribute(id=user_id, field="greeting_phrase", value=greeting_phrase)}}

{{_prepareOutboundContextSkill(callReason=call_reason, actorId=phone_actor, callContext=json.dumps(call_context, ensure_ascii=False, indent=2), userId=user_id)}}

{{add_active_call_to_akb(task_id=task.id)}}

{{SendSystemEvent(
    eventIdn="outbound_make_call_from_person",
    connectorIdn="system",
    actorIds=[phone_actor],
    phoneNumber=phone_number_without_plus,
    taskId=task.id,
    retry=retry
)}}
