{% set interrupt_state = GetState(name="user_interrupt") %}
{% if interrupt_state == "Start" %}
    {# {{_utilsSendDebugLogSkill(
        message="Agent finished speaking after user started to speak, but before user finished. This looks like semantic interruption, moving followup to `user_speech_started`"
    )}} #}
    {{SetState(name="user_interrupt", value="False")}}
    {{SetState(name="chat_lifecycle_state", value="User")}}
    {{SetFollowUpUserSpeechStartedSkill()}}
    {{Return()}}
{% endif %}
{% if interrupt_state == "End" %}
    {# {{_utilsSendDebugLogSkill(
        message="Agent finished speaking after user speech ended. This looks like a misinterpreted interruption. Followup won't be shifted."
    )}} #}
    {{SetState(name="user_interrupt", value="False")}}
{% endif %}

{% set interval = GetCustomerAttribute(field="project_attributes_setting_follow_up_timer_voice_interval_agent_speech_ended") %}
{% set user_id = GetUser().id | string %}

{{SetState(name="chat_lifecycle_state", value="Silence")}}

{{SendSystemEvent(
    eventIdn="convoagent_update_followup",
    connectorIdn="system",
    interval=interval,
    personaId=user_id,
    reason="agent_speech_ended"
)}}

{% set message_queue = json.loads(GetState(name="message_queue")) %}
{% if message_queue %}
    {# {{_utilsSendDebugLogSkill(
        message="Unloaded urgent message as the agent stopped speaking..."
    )}} #}
    {% set act = message_queue.pop(0) %}
    {{SendSystemEvent(eventIdn="push_agent_turn",
                    integrationIdn="system",
                    connectorIdn="system",
                    baseInstruction=act.arguments.baseInstruction,
                    callAnalyzeConversationSkill=act.arguments.callAnalyzeConversationSkill or "False",
                    callManageTaskSkill=act.arguments.callManageTaskSkill or "False",
                    updateSession="True",
                    injectThoughts="False"
    )}}

    {{SetState(name="message_queue", value=json.dumps(message_queue, ensure_ascii=False, indent=2))}}
{% endif %}
