{% if GetCustomerAttribute(field="project_attributes_setting_sms_send_information_enabled") != "True" %}
  {{Return(val="")}}
{% endif %}

{% set sms_send_information_allowed_content_items = GetCustomerAttribute(field="project_attributes_setting_sms_send_information_allowed_content_items") %}

{% set allowed_sms_content %}
<SMSInformationAllowedToBeSent alt="information that ConvoAgent is allowed to send via SMS" role="context">
You can send SMS messages with the following content:
- If the inquiry is about email request from ConvoAgent to the user
{{sms_send_information_allowed_content_items}}
</SMSInformationAllowedToBeSent>

---
{% endset %}

{{Return(val=allowed_sms_content)}}
