{% set args = GetTriggeredAct().arguments %}

{% if args.execute_in and args.execute_in != "null" %}
    {% set now = datetime.datetime.fromisoformat(GetDateTime(format="datetime")) %}
    {% set execution_datetime = (now + datetime.timedelta(minutes=args.execute_in | int)).isoformat() %}
{% elif args.execute_at and args.execute_at != "null" %}
    {% set business_tz = zoneinfo.ZoneInfo(GetCustomerAttribute(field="project_business_time_zone")) %}
    {% set execution_datetime = datetime.datetime.strptime(args.execute_at, "%Y-%m-%d %H:%M")
         .replace(tzinfo=business_tz)
         .astimezone(zoneinfo.ZoneInfo("UTC"))
         .isoformat() %}
{% else %}
    {% set execution_datetime = "asap" %}
{% endif %}

{{Return(val=execution_datetime)}}
