{% set title = '## **Scenario 2:** "Make a Regular Table Booking via Website Link"' %}

{% set body %}
Whenever the User wants to reserve a table for a group of fewer than **[[project_attributes_restaurant_large_group_reservation_minimum_party_size]]** people - follow the steps below.

Pay attention to the information in the **Current Session Log and Main Facts** section, and avoid asking for it again if it's already provided there.

### **Step 2.1:** Ask about the number of guests, if this information is missing in the **conversation**.

### **Step 2.2:** Proceed depending on the provided `number of people`:
- **If the `number of people` for reservation is less than [[project_attributes_restaurant_large_group_reservation_minimum_party_size]]:** Proceed with the **Step 2.3:**.
- **If the `number of people` for reservation is greater than or equal to [[project_attributes_restaurant_large_group_reservation_minimum_party_size]]:** Proceed with the **Make a Large Reservation** scenario.

### **Step 2.3:** Find out the User's phone number by following the **Reconfirming or Gathering Phone Number** procedure.

### **Step 2.4:** Inform the user that you will send an SMS with the booking link.
"Give me a moment - I’ll send you an SMS with a booking link. We’d love to have you! Please use the link provided to book your table at your convenience."

### **Step 2.5:** Once you have confirmed a booking choose the next scenario to proceed:
- **if the **conversation** initial inquiry was about modifying an existing reservation**: proceed with the **Canceling Existing Reservation** scenario, say something like: "Please let me know the date and time of your previous reservation to proceed with the cancellation".
- **if the **conversation** initial inquiry was about creating a new reservation**: proceed with the **Finish Conversation** scenario.
{% endset %}

{% set description %}
Use this flow to make a standard reservation for parties smaller than [[project_attributes_restaurant_large_group_reservation_minimum_party_size]]: check the session log to avoid re-asking details, confirm or gather the number of guests and the user’s phone number, then send an SMS with the booking link. If the party size meets or exceeds the threshold, switch to the Large Reservation scenario; after the user books, proceed to Cancellation if they were modifying an existing reservation, or Finish Conversation if it was a new booking.
{% endset %}


{% set item = {
    "idn": "scenario_restaurant_regular_reservation_link_no_slots_checking",
    "title": title.strip(),
    "body": body.strip(),
    "mentions": [
        {
            "type": "procedures",
            "item_idn": "procedure_common_gather_phone_number"
        }
    ],
    "description": description.strip(),
    "is_from_library": True,
    "origin_idn": ""
} %}

{{Return(val=json.dumps(item, ensure_ascii=False, indent=2))}}
