{% set act = GetTriggeredAct() %}
{% set arguments = act.arguments %}

{% if not arguments %}
    {{Return()}}
{% endif %}

{% set command_idn = arguments.commandIdn %}

{# First step (`buy_number` command result event processing) #}
{% if command_idn == "buy_number" %}
    {% set phone_number_info = arguments.phoneNumberInfo %}
    {% if not phone_number_info %}
        {{Return()}}
    {% endif %}

    {% set phone_number_info_object = json.loads(phone_number_info) %}

    {% set phone_number_id = phone_number_info_object.id %}
    {% if not phone_number_id %}
        {{Return()}}
    {% endif %}

    {% set phone_number_full_number = phone_number_info_object.fullNumber %}
    {% if not phone_number_full_number %}
        {{Return()}}
    {% endif %}

    {% set newo_voice_connector = GetConnectorInfo(integrationIdn="newo_voice", connectorIdn="newo_voice_connector") %}
    {% if not newo_voice_connector %}
        {{Return()}}
    {% endif %}
    {% set newo_voice_connector_settings = newo_voice_connector.settings %}
    {% if not newo_voice_connector_settings %}
        {{Return()}}
    {% endif %}
    {% set newo_voice_connector_webhook = newo_voice_connector_settings.twilio_webhook_url %}
    {% if not newo_voice_connector_webhook %}
        {{Return()}}
    {% endif %}

    {# TODO: Move it to "Second Step" when event will contain required details #}
    {{SetConnectorInfo(
        integrationIdn="newo_voice",
        connectorIdn="newo_voice_connector",
        field="agent_phone_number",
        value=phone_number_full_number
    )}}


    {% set twilio_messenger_connector = GetConnectorInfo(integrationIdn="twilio_messenger", connectorIdn="sms_connector") %}
    {% if not twilio_messenger_connector %}
        {{Return()}}
    {% endif %}
    {% set twilio_messenger_connector_settings = twilio_messenger_connector.settings %}
    {% if not twilio_messenger_connector_settings %}
        {{Return()}}
    {% endif %}
    {% set twilio_messenger_webhook_url = twilio_messenger_connector_settings.webhook_url %}
    {% if not twilio_messenger_webhook_url %}
        {{Return()}}
    {% endif %}

    {# ? TODO: Temporarily update Twilio Connector settings until Platform will be fixed #}

    {{SendCommand(
        integrationIdn="twilio_messenger",
        connectorIdn="sms_connector",
        commandIdn="update_phone_number_settings",
        id=phone_number_id,
        voiceWebhook=newo_voice_connector_webhook,
        smsWebhook=twilio_messenger_webhook_url
    )}}
{% endif %}

{# Second step (`update_phone_number_settings` command result event processing) #}
{% if command_idn == "update_phone_number_settings" %}
    {% set newo_voice_connector = GetConnectorInfo(integrationIdn="newo_voice", connectorIdn="newo_voice_connector") %}
    {% if not newo_voice_connector %}
        {{Return()}}
    {% endif %}
    {% set newo_voice_connector_settings = newo_voice_connector.settings %}
    {% if not newo_voice_connector_settings %}
        {{Return()}}
    {% endif %}
    {% set newo_voice_connector_agent_phone_number = newo_voice_connector_settings.agent_phone_number %}
    {% if not newo_voice_connector_agent_phone_number %}
        {{Return()}}
    {% endif %}

    {{SetCustomerAttribute(field="project_representative_agent_voice_phone_number", value=newo_voice_connector_agent_phone_number)}}

    {{SendCommand(
        commandIdn="add_phone_to_pool",
        integrationIdn="twilio_messenger",
        connectorIdn="sms_connector"
    )}}

    {# TODO: Sync this process with SA Initialization #}
    {{SendSystemEvent(
        eventIdn="agent_creator_callback",
        connectorIdn="system",
        global="True"
    )}}
{% endif %}
