{% set title = '## **Scenario 3:** "Send Booking Link"' %}

{% set body %}
### **Step 3.1:** **CRITICAL STEP!!!** If the User's Phone Number is not known get it by following the **Reconfirming or Gathering Phone Number** procedure. If the User's phone is known say that you will use [user's phone number] and proceed to the next step.

### **Step 3.2:** **CRITICAL STEP!!!** Say the special **code-phrase**: "I will send you an SMS with a booking form link right away". This is a required phrase — without it, an SMS will not be sent, so you must say it at this step.

### **Step 3.3:** Follow **Finish Conversation** scenario.
{% endset %}

{% set description %}
Confirm or collect the user’s phone number (e.g., “We’ll use [user’s phone number]”). Then say “I will send you an SMS with a booking form link right away” to trigger the text, and proceed with the Finish Conversation steps.
{% endset %}


{% set item = {
    "idn": "scenario_cleaning_send_booking_link",
    "title": title.strip(),
    "body": body.strip(),
    "mentions": [
        {
            "type": "procedures",
            "item_idn": "procedure_common_gather_phone_number"
        }
    ],
    "description": description.strip(),
    "is_from_library": True,
    "origin_idn": ""
} %}

{{Return(val=json.dumps(item, ensure_ascii=False, indent=2))}}
