{# ! TODO: Replace with Action for deletion of all Customer Attributes when implemented #}

{# Delete NEWO Voice and Twilio Connectors if country code / area code were changed - part 1 (remaining code is located at the bottom) #}

{# TODO: Obtain settings from Twilio Connector instead when `GetConnectorInfo` will return correct information for Twilio Connector #}
{% set old_country_code = GetCustomerAttribute(field="project_representative_agent_voice_phone_alpha2_code") %}
{% set old_area_code = GetCustomerAttribute(field="project_representative_agent_voice_phone_area_code") %}
{% set old_fallback_area_code = GetCustomerAttribute(field="project_representative_agent_voice_phone_fallback_area_code") %}

{# ? What about Customer Attributes related to other projects? #}

{{DeleteCustomerAttribute(field="customer_email")}}
{{DeleteCustomerAttribute(field="customer_first_name")}}
{{DeleteCustomerAttribute(field="customer_last_name")}}
{{DeleteCustomerAttribute(field="customer_phone")}}
{{DeleteCustomerAttribute(field="project_attributes_beauty_appointment_check_in_notes")}}
{{DeleteCustomerAttribute(field="project_attributes_beauty_appointment_scenario_link_guidance_instruction")}}
{{DeleteCustomerAttribute(field="project_attributes_beauty_appointment_schedule_questions_and_info")}}
{{DeleteCustomerAttribute(field="project_attributes_beauty_appointment_url")}}
{{DeleteCustomerAttribute(field="project_attributes_catering_bill_per_person_exceeding_deposit")}}
{{DeleteCustomerAttribute(field="project_attributes_catering_deposit")}}
{{DeleteCustomerAttribute(field="project_attributes_catering_deposit_covered_number_of_people")}}
{{DeleteCustomerAttribute(field="project_attributes_catering_email")}}
{{DeleteCustomerAttribute(field="project_attributes_catering_googlemaps_url")}}
{{DeleteCustomerAttribute(field="project_attributes_catering_menu")}}
{{DeleteCustomerAttribute(field="project_attributes_catering_menu_overview")}}
{{DeleteCustomerAttribute(field="project_attributes_catering_menu_url")}}
{{DeleteCustomerAttribute(field="project_attributes_catering_opentable_url")}}
{{DeleteCustomerAttribute(field="project_attributes_catering_order_minimum_days_in_advance")}}
{{DeleteCustomerAttribute(field="project_attributes_catering_questions")}}
{{DeleteCustomerAttribute(field="project_attributes_catering_service_details")}}
{{DeleteCustomerAttribute(field="project_attributes_catering_signature_dishes")}}
{{DeleteCustomerAttribute(field="project_attributes_catering_yelp_url")}}
{{DeleteCustomerAttribute(field="project_attributes_cleaning_appointment_url")}}
{{DeleteCustomerAttribute(field="project_attributes_cleaning_estimate_url")}}
{{DeleteCustomerAttribute(field="project_attributes_cleaning_frequency")}}
{{DeleteCustomerAttribute(field="project_attributes_current_specials")}}
{{DeleteCustomerAttribute(field="project_attributes_current_specials_url")}}
{{DeleteCustomerAttribute(field="project_attributes_custom_procedures_deprecated_backup")}}
{{DeleteCustomerAttribute(field="project_attributes_custom_scenarios_deprecated_backup")}}
{{DeleteCustomerAttribute(field="project_attributes_dental_appointment_check_in_notes")}}
{{DeleteCustomerAttribute(field="project_attributes_dental_appointment_scenario_link_guidance_instruction")}}
{{DeleteCustomerAttribute(field="project_attributes_dental_appointment_schedule_questions_and_info")}}
{{DeleteCustomerAttribute(field="project_attributes_dental_appointment_url")}}
{{DeleteCustomerAttribute(field="project_attributes_dental_insurances")}}
{{DeleteCustomerAttribute(field="project_attributes_faq")}}
{{DeleteCustomerAttribute(field="project_attributes_free_notes")}}
{{DeleteCustomerAttribute(field="project_attributes_hospitality_bill_average_per_person_per_day_large_group_reservation")}}
{{DeleteCustomerAttribute(field="project_attributes_hospitality_bill_average_per_person_per_day_regular_reservation")}}
{{DeleteCustomerAttribute(field="project_attributes_hospitality_bill_minimum_per_day_large_group_reservation")}}
{{DeleteCustomerAttribute(field="project_attributes_hospitality_large_group_reservation_email")}}
{{DeleteCustomerAttribute(field="project_attributes_hospitality_large_group_reservation_minimum_party_size")}}
{{DeleteCustomerAttribute(field="project_attributes_hospitality_large_group_reservation_questions")}}
{{DeleteCustomerAttribute(field="project_attributes_hospitality_regular_reservation_check_in_notes")}}
{{DeleteCustomerAttribute(field="project_attributes_hospitality_regular_reservation_questions")}}
{{DeleteCustomerAttribute(field="project_attributes_hospitality_regular_reservation_via_link_guidance_instruction")}}
{{DeleteCustomerAttribute(field="project_attributes_hospitality_reservation_url")}}
{{DeleteCustomerAttribute(field="project_attributes_itm_deprecated_backup")}}
{{DeleteCustomerAttribute(field="project_attributes_info_client_session_logs_table_link")}}
{{DeleteCustomerAttribute(field="project_attributes_info_crm")}}
{{DeleteCustomerAttribute(field="project_attributes_known_employees")}}
{{DeleteCustomerAttribute(field="project_attributes_payment_methods")}}
{{DeleteCustomerAttribute(field="project_attributes_private_account_initialized_first_time")}}
{{DeleteCustomerAttribute(field="project_attributes_private_custom_schema_inbound_call_report")}}
{{DeleteCustomerAttribute(field="project_attributes_private_data_injection_is_timer_running")}}
{{DeleteCustomerAttribute(field="project_attributes_private_data_injection_payload")}}
{{DeleteCustomerAttribute(field="project_attributes_private_data_injection_retrieved_data")}}
{{DeleteCustomerAttribute(field="project_attributes_private_dynamic_agent_persona")}}
{{DeleteCustomerAttribute(field="project_attributes_private_dynamic_agent_title")}}
{{DeleteCustomerAttribute(field="project_attributes_private_dynamic_ami_compiled")}}
{{DeleteCustomerAttribute(field="project_attributes_private_dynamic_ami_template")}}
{{DeleteCustomerAttribute(field="project_attributes_private_dynamic_booking_check_availability_payload_schema_compiled")}}
{{DeleteCustomerAttribute(field="project_attributes_private_dynamic_booking_check_availability_schema_template")}}
{{DeleteCustomerAttribute(field="project_attributes_private_dynamic_booking_schema_compiled")}}
{{DeleteCustomerAttribute(field="project_attributes_private_dynamic_booking_schema_template")}}
{{DeleteCustomerAttribute(field="project_attributes_private_dynamic_business_context")}}
{{DeleteCustomerAttribute(field="project_attributes_private_dynamic_business_locations_indexes")}}
{{DeleteCustomerAttribute(field="project_attributes_private_dynamic_business_locations_object")}}
{{DeleteCustomerAttribute(field="project_attributes_private_dynamic_email_variables")}}
{{DeleteCustomerAttribute(field="project_attributes_private_dynamic_intents_list")}}
{{DeleteCustomerAttribute(field="project_attributes_private_dynamic_itm_compiled")}}
{{DeleteCustomerAttribute(field="project_attributes_private_dynamic_itm_non_working_hours_compiled")}}
{{DeleteCustomerAttribute(field="project_attributes_private_dynamic_itm_template")}}
{{DeleteCustomerAttribute(field="project_attributes_private_dynamic_itm_working_hours_compiled")}}
{{DeleteCustomerAttribute(field="project_attributes_private_dynamic_phone_variables")}}
{{DeleteCustomerAttribute(field="project_attributes_private_dynamic_products_and_services")}}
{{DeleteCustomerAttribute(field="project_attributes_private_dynamic_prompt_calendar")}}
{{DeleteCustomerAttribute(field="project_attributes_private_dynamic_prompt_calendar_created_at")}}
{{DeleteCustomerAttribute(field="project_attributes_private_dynamic_rag_knowledge_base_append_text_structured")}}
{{DeleteCustomerAttribute(field="project_attributes_private_dynamic_rag_knowledge_base_append_websites_text")}}
{{DeleteCustomerAttribute(field="project_attributes_private_dynamic_rag_knowledge_base_append_websites_text_structured")}}
{{DeleteCustomerAttribute(field="project_attributes_private_dynamic_restaurant_google_restaurant_id")}}
{{DeleteCustomerAttribute(field="project_attributes_private_dynamic_restaurant_google_restaurant_seating_options")}}
{{DeleteCustomerAttribute(field="project_attributes_private_dynamic_schedule_non_working_days")}}
{{DeleteCustomerAttribute(field="project_attributes_private_dynamic_schedule_working_days")}}
{{DeleteCustomerAttribute(field="project_attributes_private_dynamic_schedule_working_days_hours_exceptions")}}
{{DeleteCustomerAttribute(field="project_attributes_private_dynamic_schedule_working_hours")}}
{{DeleteCustomerAttribute(field="project_attributes_private_dynamic_schedule_working_hours_object")}}
{{DeleteCustomerAttribute(field="project_attributes_private_dynamic_session_ended_report_content_json")}}
{{DeleteCustomerAttribute(field="project_attributes_private_dynamic_tech_variables")}}
{{DeleteCustomerAttribute(field="project_attributes_private_dynamic_variables")}}
{{DeleteCustomerAttribute(field="project_attributes_private_dynamic_voice_greeting_phrase")}}
{{DeleteCustomerAttribute(field="project_attributes_private_dynamic_workflow_builder_canvas")}}
{{DeleteCustomerAttribute(field="project_attributes_private_dynamic_workflow_builder_canvas_library")}}
{{DeleteCustomerAttribute(field="project_attributes_private_dynamic_workflow_builder_canvas_library_custom")}}
{{DeleteCustomerAttribute(field="project_attributes_private_feature_flag_booking_use_new_restaurant_availability_check_approach")}}
{{DeleteCustomerAttribute(field="project_attributes_private_feature_flag_booking_use_new_restaurant_create_booking_approach")}}
{{DeleteCustomerAttribute(field="project_attributes_private_feature_flag_multi_location")}}
{{DeleteCustomerAttribute(field="project_attributes_private_feature_flag_booking_use_new_availability_formatted_response_processor")}}
{{DeleteCustomerAttribute(field="project_attributes_private_sa_version")}}
{{DeleteCustomerAttribute(field="project_attributes_private_technical_owners")}}
{{DeleteCustomerAttribute(field="project_attributes_products_and_services")}}
{{DeleteCustomerAttribute(field="project_attributes_products_and_services_not_offering")}}
{{DeleteCustomerAttribute(field="project_attributes_products_and_services_served_area")}}
{{DeleteCustomerAttribute(field="project_attributes_products_and_services_served_zip_codes")}}
{{DeleteCustomerAttribute(field="project_attributes_rag_knowledge_base_append_text")}}
{{DeleteCustomerAttribute(field="project_attributes_rag_knowledge_base_append_text_log")}}
{{DeleteCustomerAttribute(field="project_attributes_rag_knowledge_base_append_text_reset")}}
{{DeleteCustomerAttribute(field="project_attributes_rag_knowledge_base_append_websites")}}
{{DeleteCustomerAttribute(field="project_attributes_rag_knowledge_base_append_websites_log")}}
{{DeleteCustomerAttribute(field="project_attributes_rag_knowledge_base_append_websites_reset")}}
{{DeleteCustomerAttribute(field="project_attributes_restaurant_bill_average_order")}}
{{DeleteCustomerAttribute(field="project_attributes_restaurant_bill_average_per_person_catering")}}
{{DeleteCustomerAttribute(field="project_attributes_restaurant_bill_average_per_person_large_group_reservation")}}
{{DeleteCustomerAttribute(field="project_attributes_restaurant_bill_average_per_person_private_dining")}}
{{DeleteCustomerAttribute(field="project_attributes_restaurant_bill_average_per_person_regular_reservation")}}
{{DeleteCustomerAttribute(field="project_attributes_restaurant_bill_minimum_catering")}}
{{DeleteCustomerAttribute(field="project_attributes_restaurant_bill_minimum_large_group_reservation")}}
{{DeleteCustomerAttribute(field="project_attributes_restaurant_bill_minimum_private_dining")}}
{{DeleteCustomerAttribute(field="project_attributes_restaurant_catering_email")}}
{{DeleteCustomerAttribute(field="project_attributes_restaurant_catering_questions")}}
{{DeleteCustomerAttribute(field="project_attributes_restaurant_googlemaps_reservation_url")}}
{{DeleteCustomerAttribute(field="project_attributes_restaurant_googlemaps_url")}}
{{DeleteCustomerAttribute(field="project_attributes_restaurant_large_group_reservation_email")}}
{{DeleteCustomerAttribute(field="project_attributes_restaurant_large_group_reservation_minimum_party_size")}}
{{DeleteCustomerAttribute(field="project_attributes_restaurant_large_group_reservation_questions")}}
{{DeleteCustomerAttribute(field="project_attributes_restaurant_menu")}}
{{DeleteCustomerAttribute(field="project_attributes_restaurant_menu_overview")}}
{{DeleteCustomerAttribute(field="project_attributes_restaurant_menu_url")}}
{{DeleteCustomerAttribute(field="project_attributes_restaurant_opentable_url")}}
{{DeleteCustomerAttribute(field="project_attributes_restaurant_order_email")}}
{{DeleteCustomerAttribute(field="project_attributes_restaurant_order_url")}}
{{DeleteCustomerAttribute(field="project_attributes_restaurant_private_dining_email")}}
{{DeleteCustomerAttribute(field="project_attributes_restaurant_private_dining_questions")}}
{{DeleteCustomerAttribute(field="project_attributes_restaurant_regular_events_schedule")}}
{{DeleteCustomerAttribute(field="project_attributes_restaurant_regular_events_schedule_url")}}
{{DeleteCustomerAttribute(field="project_attributes_restaurant_regular_reservation_via_link_guidance_instruction")}}
{{DeleteCustomerAttribute(field="project_attributes_restaurant_signature_dishes")}}
{{DeleteCustomerAttribute(field="project_attributes_restaurant_yelp_url")}}
{{DeleteCustomerAttribute(field="project_attributes_sales_after_appointment_notes")}}
{{DeleteCustomerAttribute(field="project_attributes_sales_appointment_url")}}
{{DeleteCustomerAttribute(field="project_attributes_sales_appointment_via_link_guidance_instruction")}}
{{DeleteCustomerAttribute(field="project_attributes_sales_pre_sale_questions")}}
{{DeleteCustomerAttribute(field="project_attributes_sales_qualifying_criteria")}}
{{DeleteCustomerAttribute(field="project_attributes_sales_qualifying_criteria_fallback_action")}}
{{DeleteCustomerAttribute(field="project_attributes_sales_qualifying_questions")}}
{{DeleteCustomerAttribute(field="project_attributes_scenario")}}
{{DeleteCustomerAttribute(field="project_attributes_setting_additional_global_conversation_instruction")}}
{{DeleteCustomerAttribute(field="project_attributes_setting_additional_limitations_and_restrictions")}}
{{DeleteCustomerAttribute(field="project_attributes_setting_asr_average_lead_value")}}
{{DeleteCustomerAttribute(field="project_attributes_setting_asr_conversion_ratio")}}
{{DeleteCustomerAttribute(field="project_attributes_setting_asr_recognition")}}
{{DeleteCustomerAttribute(field="project_attributes_setting_asr_redirection_type_working_hours")}}
{{DeleteCustomerAttribute(field="project_attributes_setting_blocked_phone_numbers")}}
{{DeleteCustomerAttribute(field="project_attributes_setting_booking_cancellation_enabled")}}
{{DeleteCustomerAttribute(field="project_attributes_setting_booking_cancellation_type")}}
{{DeleteCustomerAttribute(field="project_attributes_setting_booking_cancellation_url")}}
{{DeleteCustomerAttribute(field="project_attributes_setting_booking_check_availability_enabled")}}
{{DeleteCustomerAttribute(field="project_attributes_setting_booking_check_availability_max_days_in_advance")}}
{{DeleteCustomerAttribute(field="project_attributes_setting_booking_check_availability_payload_schema_template")}}
{{DeleteCustomerAttribute(field="project_attributes_setting_booking_check_availability_processing_type")}}
{{DeleteCustomerAttribute(field="project_attributes_setting_booking_check_availability_request_headers")}}
{{DeleteCustomerAttribute(field="project_attributes_setting_booking_check_availability_request_http_method")}}
{{DeleteCustomerAttribute(field="project_attributes_setting_booking_check_availability_type")}}
{{DeleteCustomerAttribute(field="project_attributes_setting_booking_check_availability_url")}}
{{DeleteCustomerAttribute(field="project_attributes_setting_booking_check_availability_validation_schema_template")}}
{{DeleteCustomerAttribute(field="project_attributes_setting_booking_check_availability_window")}}
{{DeleteCustomerAttribute(field="project_attributes_setting_booking_check_availability_working_hours_status")}}
{{DeleteCustomerAttribute(field="project_attributes_setting_booking_email")}}
{{DeleteCustomerAttribute(field="project_attributes_setting_booking_enabled")}}
{{DeleteCustomerAttribute(field="project_attributes_setting_booking_fallback_processing_type")}}
{{DeleteCustomerAttribute(field="project_attributes_setting_booking_meta_fields_schema_template")}}
{{DeleteCustomerAttribute(field="project_attributes_setting_booking_payload_schema_template")}}
{{DeleteCustomerAttribute(field="project_attributes_setting_booking_phrase_template_on_booking_submitting")}}
{{DeleteCustomerAttribute(field="project_attributes_setting_booking_phrase_template_on_booking_success")}}
{{DeleteCustomerAttribute(field="project_attributes_setting_booking_request_headers")}}
{{DeleteCustomerAttribute(field="project_attributes_setting_booking_success_notification_on_email_enabled")}}
{{DeleteCustomerAttribute(field="project_attributes_setting_booking_success_notification_on_sms_enabled")}}
{{DeleteCustomerAttribute(field="project_attributes_setting_booking_type")}}
{{DeleteCustomerAttribute(field="project_attributes_setting_booking_url")}}
{{DeleteCustomerAttribute(field="project_attributes_setting_calculation_context")}}
{{DeleteCustomerAttribute(field="project_attributes_setting_calculation_rules")}}
{{DeleteCustomerAttribute(field="project_attributes_setting_calendar_event_integration")}}
{{DeleteCustomerAttribute(field="project_attributes_setting_calendar_injection_is_enabled")}}
{{DeleteCustomerAttribute(field="project_attributes_setting_chat_split_messages")}}
{{DeleteCustomerAttribute(field="project_attributes_setting_check_spam_or_voicemail")}}
{{DeleteCustomerAttribute(field="project_attributes_setting_common_phone_numbers")}}
{{DeleteCustomerAttribute(field="project_attributes_setting_connect_with_the_manager_in_case_of_unhandled_issues")}}
{{DeleteCustomerAttribute(field="project_attributes_setting_conversation_session_timeout_finished_chat")}}
{{DeleteCustomerAttribute(field="project_attributes_setting_conversation_session_timeout_finished_voice")}}
{{DeleteCustomerAttribute(field="project_attributes_setting_conversation_session_timeout_unfinished_chat")}}
{{DeleteCustomerAttribute(field="project_attributes_setting_conversation_session_timeout_unfinished_voice")}}
{{DeleteCustomerAttribute(field="project_attributes_setting_conversation_sources_map")}}
{{DeleteCustomerAttribute(field="project_attributes_setting_conversation_summary_instruction")}}
{{DeleteCustomerAttribute(field="project_attributes_setting_data_injection_is_enabled")}}
{{DeleteCustomerAttribute(field="project_attributes_setting_data_injection_max_summary_tokens")}}
{{DeleteCustomerAttribute(field="project_attributes_setting_data_injection_needs_summary")}}
{{DeleteCustomerAttribute(field="project_attributes_setting_data_injection_update_period")}}
{{DeleteCustomerAttribute(field="project_attributes_setting_define_conversation_is_during_working_hours_enabled")}}
{{DeleteCustomerAttribute(field="project_attributes_setting_email_send_information_allowed_content")}}
{{DeleteCustomerAttribute(field="project_attributes_setting_email_send_information_allowed_content_items")}}
{{DeleteCustomerAttribute(field="project_attributes_setting_email_send_information_enabled")}}
{{DeleteCustomerAttribute(field="project_attributes_setting_email_sender_name")}}
{{DeleteCustomerAttribute(field="project_attributes_setting_evaluate_ongoing_conversation_quality")}}
{{DeleteCustomerAttribute(field="project_attributes_setting_external_reply_type")}}
{{DeleteCustomerAttribute(field="project_attributes_setting_follow_up_timer_chat_interval_base")}}
{{DeleteCustomerAttribute(field="project_attributes_setting_follow_up_timer_voice_interval_agent_speech_ended")}}
{{DeleteCustomerAttribute(field="project_attributes_setting_follow_up_timer_voice_interval_agent_speech_started")}}
{{DeleteCustomerAttribute(field="project_attributes_setting_follow_up_timer_voice_interval_conversation_started_inbound")}}
{{DeleteCustomerAttribute(field="project_attributes_setting_follow_up_timer_voice_interval_conversation_started_outbound")}}
{{DeleteCustomerAttribute(field="project_attributes_setting_follow_up_timer_voice_interval_user_speech_ended")}}
{{DeleteCustomerAttribute(field="project_attributes_setting_follow_up_timer_voice_interval_user_speech_started")}}
{{DeleteCustomerAttribute(field="project_attributes_setting_hipaa_mode_enabled")}}
{{DeleteCustomerAttribute(field="project_attributes_setting_hitl_monitoring_enabled")}}
{{DeleteCustomerAttribute(field="project_attributes_setting_initial_thoughts")}}
{{DeleteCustomerAttribute(field="project_attributes_setting_instant_callback_on_abort_enabled")}}
{{DeleteCustomerAttribute(field="project_attributes_setting_magic_browser_alert_enabled")}}
{{DeleteCustomerAttribute(field="project_attributes_setting_meeting_check_availability_working_hours_status")}}
{{DeleteCustomerAttribute(field="project_attributes_setting_meeting_duration")}}
{{DeleteCustomerAttribute(field="project_attributes_setting_meeting_setup_phrase")}}
{{DeleteCustomerAttribute(field="project_attributes_setting_number_of_past_interactions_to_observe")}}
{{DeleteCustomerAttribute(field="project_attributes_setting_phone_dialpad_output_enabled")}}
{{DeleteCustomerAttribute(field="project_attributes_setting_products_and_services_background_check_availability_enabled")}}
{{DeleteCustomerAttribute(field="project_attributes_setting_products_and_services_background_check_location_enabled")}}
{{DeleteCustomerAttribute(field="project_attributes_setting_products_and_services_structured_representation_enabled")}}
{{DeleteCustomerAttribute(field="project_attributes_setting_send_report_during_conversation")}}
{{DeleteCustomerAttribute(field="project_attributes_setting_session_ended_report_additional_criteria")}}
{{DeleteCustomerAttribute(field="project_attributes_setting_session_ended_report_additional_schema")}}
{{DeleteCustomerAttribute(field="project_attributes_setting_session_ended_report_content")}}
{{DeleteCustomerAttribute(field="project_attributes_setting_session_ended_report_criteria_compiled")}}
{{DeleteCustomerAttribute(field="project_attributes_setting_session_ended_report_criteria_complete_template")}}
{{DeleteCustomerAttribute(field="project_attributes_setting_session_ended_report_criteria_template")}}
{{DeleteCustomerAttribute(field="project_attributes_setting_session_ended_report_enabled")}}
{{DeleteCustomerAttribute(field="project_attributes_setting_session_ended_report_event_map")}}
{{DeleteCustomerAttribute(field="project_attributes_setting_session_ended_report_include_conversation_and_record_urls")}}
{{DeleteCustomerAttribute(field="project_attributes_setting_session_ended_report_include_transcript")}}
{{DeleteCustomerAttribute(field="project_attributes_setting_session_ended_report_include_utm_tags")}}
{{DeleteCustomerAttribute(field="project_attributes_setting_session_ended_reset_persona_attributes")}}
{{DeleteCustomerAttribute(field="project_attributes_setting_session_ended_sms_content")}}
{{DeleteCustomerAttribute(field="project_attributes_setting_session_ended_sms_enabled")}}
{{DeleteCustomerAttribute(field="project_attributes_setting_session_ended_webhook_auth_header")}}
{{DeleteCustomerAttribute(field="project_attributes_setting_session_ended_webhook_schema")}}
{{DeleteCustomerAttribute(field="project_attributes_setting_session_ended_webhook_url")}}
{{DeleteCustomerAttribute(field="project_attributes_setting_sms_provider")}}
{{DeleteCustomerAttribute(field="project_attributes_setting_sms_send_information_allowed_content")}}
{{DeleteCustomerAttribute(field="project_attributes_setting_sms_send_information_allowed_content_items")}}
{{DeleteCustomerAttribute(field="project_attributes_setting_sms_send_information_enabled")}}
{{DeleteCustomerAttribute(field="project_attributes_setting_spam_limit")}}
{{DeleteCustomerAttribute(field="project_attributes_setting_test_mode")}}
{{DeleteCustomerAttribute(field="project_attributes_setting_time_format")}}
{{DeleteCustomerAttribute(field="project_attributes_setting_timezone_reasoning_enabled")}}
{{DeleteCustomerAttribute(field="project_attributes_setting_transfer_call_additional_statement")}}
{{DeleteCustomerAttribute(field="project_attributes_setting_transfer_call_confirmation_phrase")}}
{{DeleteCustomerAttribute(field="project_attributes_setting_transfer_call_criteria")}}
{{DeleteCustomerAttribute(field="project_attributes_setting_transfer_call_enabled")}}
{{DeleteCustomerAttribute(field="project_attributes_setting_transfer_call_phone_numbers")}}
{{DeleteCustomerAttribute(field="project_attributes_setting_voice_integration_service")}}
{{DeleteCustomerAttribute(field="project_attributes_setting_voice_integration_service_bypass_phone_number")}}
{{DeleteCustomerAttribute(field="project_attributes_setting_voice_integration_service_voice_mode")}}
{{DeleteCustomerAttribute(field="project_attributes_setting_voice_integration_service_voice_to_voice_provider")}}
{{DeleteCustomerAttribute(field="project_attributes_setting_voice_integration_service_voice_to_voice_provider_genai_functions")}}
{{DeleteCustomerAttribute(field="project_attributes_setting_voice_integration_service_voice_to_voice_provider_genai_functions_description")}}
{{DeleteCustomerAttribute(field="project_attributes_setting_voice_integration_service_voice_to_voice_provider_genai_functions_enabled")}}
{{DeleteCustomerAttribute(field="project_attributes_setting_voice_integration_service_voice_to_voice_provider_genai_set_turn_message_type")}}
{{DeleteCustomerAttribute(field="project_attributes_setting_voice_integration_service_voice_to_voice_provider_genai_set_turn_message_context_type")}}
{{DeleteCustomerAttribute(field="project_attributes_setting_voice_integration_service_voice_to_voice_provider_genai_vertex_enabled")}}
{{DeleteCustomerAttribute(field="project_attributes_setting_voice_integration_service_voice_to_voice_provider_genai_voice")}}
{{DeleteCustomerAttribute(field="project_attributes_setting_voice_integration_service_voice_to_voice_provider_openai_voice")}}
{{DeleteCustomerAttribute(field="project_attributes_setting_voice_stop_call_timeout")}}
{{DeleteCustomerAttribute(field="project_attributes_setting_voice_transfer_call_timeout")}}
{{DeleteCustomerAttribute(field="project_attributes_setting_waiting_mode_fallback_instruction")}}
{{DeleteCustomerAttribute(field="project_attributes_setting_waiting_mode_timeout")}}
{{DeleteCustomerAttribute(field="project_attributes_settings_newo_tools")}}
{{DeleteCustomerAttribute(field="project_attributes_static_additional_business_context")}}
{{DeleteCustomerAttribute(field="project_attributes_support_log_document_link")}}
{{DeleteCustomerAttribute(field="project_attributes_task_context_w1s3_reserve_table_task")}}
{{DeleteCustomerAttribute(field="project_attributes_terms_and_conditions")}}
{{DeleteCustomerAttribute(field="project_business_address")}}
{{DeleteCustomerAttribute(field="project_business_average_prices")}}
{{DeleteCustomerAttribute(field="project_business_country")}}
{{DeleteCustomerAttribute(field="project_business_expected_number_of_calls_month_location")}}
{{DeleteCustomerAttribute(field="project_business_industry")}}
{{DeleteCustomerAttribute(field="project_business_language_additional")}}
{{DeleteCustomerAttribute(field="project_business_language_primary")}}
{{DeleteCustomerAttribute(field="project_business_locations")}}
{{DeleteCustomerAttribute(field="project_business_manager_email")}}
{{DeleteCustomerAttribute(field="project_business_name")}}
{{DeleteCustomerAttribute(field="project_business_name_phonetic")}}
{{DeleteCustomerAttribute(field="project_business_non_working_hour_escalation_phone")}}
{{DeleteCustomerAttribute(field="project_business_public_phone")}}
{{DeleteCustomerAttribute(field="project_business_story")}}
{{DeleteCustomerAttribute(field="project_business_time_zone")}}
{{DeleteCustomerAttribute(field="project_business_top_location_count")}}
{{DeleteCustomerAttribute(field="project_business_top_name")}}
{{DeleteCustomerAttribute(field="project_business_top_owner_email")}}
{{DeleteCustomerAttribute(field="project_business_top_owner_name")}}
{{DeleteCustomerAttribute(field="project_business_top_owner_phone")}}
{{DeleteCustomerAttribute(field="project_business_top_url")}}
{{DeleteCustomerAttribute(field="project_business_type")}}
{{DeleteCustomerAttribute(field="project_business_website_url")}}
{{DeleteCustomerAttribute(field="project_business_working_hour_escalation_phone")}}
{{DeleteCustomerAttribute(field="project_business_working_hours")}}
{{DeleteCustomerAttribute(field="project_representative_agent_chat_greeting_phrase")}}
{{DeleteCustomerAttribute(field="project_representative_agent_chat_formatting_style")}}
{{DeleteCustomerAttribute(field="project_representative_agent_gender")}}
{{DeleteCustomerAttribute(field="project_representative_agent_name")}}
{{DeleteCustomerAttribute(field="project_representative_agent_chat_speaking_style")}}
{{DeleteCustomerAttribute(field="project_representative_agent_providing_prices_explicit_constraint")}}
{{DeleteCustomerAttribute(field="project_representative_agent_voicemail_detection_behavior_instruction")}}
{{DeleteCustomerAttribute(field="project_representative_agent_voice_speaking_style")}}
{{DeleteCustomerAttribute(field="project_representative_agent_title")}}
{{DeleteCustomerAttribute(field="project_representative_agent_voice_disclaimer_phrase")}}
{{DeleteCustomerAttribute(field="project_representative_agent_voice_greeting_phrase")}}
{{DeleteCustomerAttribute(field="project_representative_agent_voice_greeting_phrase_later_returning")}}
{{DeleteCustomerAttribute(field="project_representative_agent_voice_greeting_phrase_recent_returning")}}
{{DeleteCustomerAttribute(field="project_representative_agent_voice_phone_alpha2_code")}}
{{DeleteCustomerAttribute(field="project_representative_agent_voice_phone_area_code")}}
{{DeleteCustomerAttribute(field="project_representative_agent_voice_phone_country_code")}}
{{DeleteCustomerAttribute(field="project_representative_agent_voice_phone_fallback_area_code")}}
{{DeleteCustomerAttribute(field="project_representative_agent_voice_phone_number")}}
{{DeleteCustomerAttribute(field="project_representative_agent_voice_stt_model_id")}}
{{DeleteCustomerAttribute(field="project_representative_agent_voice_stt_provider_id")}}
{{DeleteCustomerAttribute(field="project_representative_agent_voice_transcriber_language")}}
{{DeleteCustomerAttribute(field="project_representative_agent_voice_tts_model_id")}}
{{DeleteCustomerAttribute(field="project_representative_agent_voice_tts_provider_id")}}

{# ! TODO: Replace with Action for deletion of AKB when implemented #}

{% set general_manager_agent_persona_id = GetAgent(idn="GeneralManagerAgent").persona_id %}
{% set found_topics = SearchFuzzyAkb(
    query="",
    searchFields=["name"],
    numberTopics=99999,
    filterByPersonaIds=[general_manager_agent_persona_id],
    scoreThreshold=0.0
) %}
{% set topic_ids = [] %}
{% for topic in found_topics %}
    {% set _ = topic_ids.append(topic.topicId) %}
{% endfor %}
{{DeleteAkb(ids=topic_ids)}}

{% set convo_agent_persona_id = GetAgent(idn="ConvoAgent").persona_id %}
{% set found_topics = SearchFuzzyAkb(
    query="",
    searchFields=["name"],
    numberTopics=99999,
    filterByPersonaIds=[convo_agent_persona_id],
    scoreThreshold=0.0
) %}
{% set topic_ids = [] %}
{% for topic in found_topics %}
    {% set _ = topic_ids.append(topic.topicId) %}
{% endfor %}
{{DeleteAkb(ids=topic_ids)}}

{# Create Agent Customer Customer Attributes obtained from the event #}

{% for attribute in agent_creator_attributes %}
    {{SetCustomerAttribute(field=attribute.idn, value=attribute.value)}}
    {{SetCustomerMetadataAttribute(idn=attribute.idn, field="is_hidden", value=attribute.is_hidden | default(true))}}
    {{SetCustomerMetadataAttribute(idn=attribute.idn, field="group", value=attribute.group | default("0. Agent Creator"))}}
{% endfor %}

{# Delete NEWO Voice and Twilio Connectors if country code / area code were changed #}

{# JSON object - example: `{'area_code': '650', 'country_code': 'US', 'fallback_area_code': '408'}` or `{'country_code': 'NL'}` #}
{# TODO: Remove temporal fix with replacing single quotes to double #}
{% set agent_creator_voice_channel_phone = GetCustomerAttribute(field="agent_creator_voice_channel_phone") %}
{% set agent_creator_voice_channel_phone = agent_creator_voice_channel_phone.replace("'", '"') %}
{% if agent_creator_voice_channel_phone %}
    {% set agent_creator_voice_channel_phone = json.loads(agent_creator_voice_channel_phone) %}
    {# `agent_creator_voice_channel_phone.country_code` must not be empty, `project_representative_agent_voice_phone_alpha2_code` is used as a fallback for existing old accounts #}
    {% set country_code = agent_creator_voice_channel_phone.country_code %}
    {# `agent_creator_voice_channel_phone.area_code` is optional, `project_representative_agent_voice_phone_area_code` is used as a fallback for existing old accounts #}
    {% set area_code = agent_creator_voice_channel_phone.area_code %}
    {# `agent_creator_voice_channel_phone.fallback_area_code` is optional, `project_representative_agent_voice_phone_fallback_area_code` is used as a fallback for existing old accounts #}
    {% set fallback_area_code = agent_creator_voice_channel_phone.fallback_area_code %}
{% else %}
    {% set country_code = "" %}
    {% set area_code = "" %}
    {% set fallback_area_code = "" %}
{% endif %}

{% if not country_code %}
    {% set country_code = "" %}
{% endif %}
{% if not area_code %}
    {% set area_code = "" %}
{% endif %}
{% if not fallback_area_code %}
    {% set fallback_area_code = "" %}
{% endif %}

{% if old_country_code.strip() != country_code.strip() or old_area_code.strip() != area_code.strip() or old_fallback_area_code.strip() != fallback_area_code.strip() %}
    {{DeleteConnector(integrationIdn = "twilio_messenger", connectorIdn = "sms_connector")}}
    {{DeleteConnector(integrationIdn = "newo_voice", connectorIdn = "newo_voice_connector")}}
{% endif %}

{# Update Organization name #}

{% set business_info_name = GetCustomerAttribute(field="agent_creator_business_info_name") %}
{% if business_info_name.strip() %}
    {{SetCustomerInfo(organizationName=business_info_name)}}
{% endif %}

{# Trigger SuperAgent Init process #}

{{SetProjectAttribute(field="project_attributes_setting_init_attributes_metadata_enabled", value="True")}}

{# {{SendSystemEvent(
    eventIdn="project_publish_finish",
    connectorIdn="project",
    global="True",
    triggered_by="force_update",
    registry_item_idn="naf"
)}} #}

{# ! TODO: Remove, temporal workaround #}
{{SendSystemEvent(
    eventIdn="project_init",
    connectorIdn="system",
    global="True",
    triggered_by="force_update",
    registry_item_idn="naf"
)}}
