{# Attribute `project_business_language_additional` data type was changed from `enum` to `json` #}
{% set language_additional = GetCustomerAttribute(field="project_business_language_additional") %}
{% if not "[" in language_additional %}
    {{SetCustomerMetadataAttribute(
        idn="project_business_language_additional",
        field="possible_values",
        value=[]
    )}}
    {% if language_additional == "No additional language required" or not language_additional.strip() %}
        {{SetCustomerAttribute(field="project_business_language_additional", value="[]")}}
    {% else %}
        {% set language_additional = language_additional.replace('"', "") %}
        {% set language_additional = language_additional.replace("'", "") %}
        {{SetCustomerAttribute(field="project_business_language_additional", value='["' + language_additional + '"]')}}
    {% endif %}
{% endif %}

{# Clean up excessive languages from `project_representative_agent_supported_languages` attribute #}
{% set languages = GetCustomerAttribute(field="project_representative_agent_supported_languages") %}
{% if not languages %}
    {{Return()}}
{% endif %}

{% set languages = languages.strip().replace(" ,", ",").replace(", ", ",").replace("  ", ",").replace("
", ",").replace(".", ",").replace(";", ",") %}

{% set languages_list = languages.split(",") %}

{% if languages_list | length < 5 %}
    {{Return()}}
{% endif %}

{% set excessive_languages = 'Arabic, Bengali, Gujarati, Hindi, Indonesian, Japanese, Kannada, Korean, Malayalam, Mandarin Chinese, Marathi, Swahili, Tamil, Telugu, Thai, Urdu, Vietnamese' %}
{% set excessive_list = excessive_languages.split(", ") %}
{% set cleaned_list = [] %}

{% for lang in languages_list %}
    {% set stripped_lang = lang.strip() %}
    {% if (stripped_lang not in excessive_list) and (stripped_lang != ",") and stripped_lang %}
        {{cleaned_list.append(stripped_lang)}}
    {% endif %}
{% endfor %}
{% set cleaned_languages = ", ".join(cleaned_list) %}
{{SetCustomerAttribute(field="project_representative_agent_supported_languages", value=cleaned_languages)}}
