{% set output_format %}
# FORMATTING
{{GetCustomerAttribute(field="project_representative_agent_chat_formatting_style")}}
# DATE FORMAT
- Do not output year.
# TIME FORMAT
- Examples: "3 PM", "3:15 PM".
# URL LINKS
- You will include URLs in your replies. Do not format any links. Send the links as text, without any additional markup.
{% endset %}

{{Return(val=output_format.strip())}}
