{% set default_attempt_number = GetCustomerAttribute(field="project_attributes_setting_outbound_default_retry_number") %}
{% if attemptNumber | int >= default_attempt_number | int %}
    {{_updateTaskManagerStatusSkill(taskId=taskId, comment="The maximum number of attempts " ~ default_attempt_number ~ " to reach the user has been reached. Finishing current task. Recording: " ~ recording ~ ". Comment: " ~ comment, status="done")}}
    {{_noAnswerSkill(taskId=taskId, userId=userId, reason=reason)}}
{% else %}
    {% set retry_delay = GetCustomerAttribute(field="project_attributes_setting_outbound_default_retry_timeout") %}
    {% set comment = comment ~ " Current attempt number: " ~ attemptNumber ~ ". " ~ (default_attempt_number | int - attemptNumber | int) | string ~ " attempts left. Will retry in " ~ retry_delay ~ " minutes." %}
    {{_updateTaskManagerStatusSkill(taskId=taskId, comment=comment, status="scheduled by worker")}}
    {% set fire_at = datetime.datetime.fromisoformat(GetDateTime(format="datetime")) + datetime.timedelta(minutes=retry_delay | int + 1) %}
    {{SendCommand(
        commandIdn="set_timer", 
        integrationIdn="program_timer", 
        connectorIdn="session_timer", 
        fireAt=fire_at.isoformat(), 
        timerName="outbound_retry" ~ taskId, 
        eventIdn="outbound_retry_calling", 
        personaId=userId
    )}}
{% endif %}