{% if not GetCustomerAttribute(field="project_attributes_setting_voice_integration_service_voice_mode") == "voice-to-voice" %}
    {{Return()}}
{% endif %}

{% if GetState(name="waiting_mode_active") == "True" %}
    {{Return()}}
{% endif %}

{{v2v_update_current_prompt()}}