{% set library_items = [
    json.loads(scenario_catering_order_default()),
    json.loads(scenario_catering_relaying_message()),
    json.loads(scenario_catering_answering_questions()),
    json.loads(scenario_catering_regular_transfer()),
    json.loads(scenario_catering_finish_conversation()),
    json.loads(scenario_common_schedule_appointment_agent()),
] %}



{{Return(val=json.dumps(library_items, ensure_ascii=False, indent=2))}}
