{% set metrics = {} %}

{% set agent_behavior_metrics = collect_quality_metrics_agent_behavior(transcript=transcript, session_short_description=session_short_description) %}

{% set scenario_following_metrics = collect_quality_metrics_scenario_following(transcript=transcript, session_short_description=session_short_description, main_scenario=main_scenario, scenarios=scenarios, intents=intents) %}

{% set user_behavior_metrics = collect_quality_metrics_user_behavior(transcript=transcript, session_short_description=session_short_description) %}

{{ metrics.update({"agent_behavior": json.loads(agent_behavior_metrics)}) }}
{{ metrics.update({"scenario_following": json.loads(scenario_following_metrics)}) }}
{{ metrics.update({"user_behavior": json.loads(user_behavior_metrics)}) }}

{{ Return(val=json.dumps(metrics, ensure_ascii=False, indent=2)) }}
