{# Not implemented #}
{% set working_hours_object = json.loads(GetCustomerAttribute(field="project_attributes_private_dynamic_schedule_working_hours_object")) %}
{% set time_zone = GetCustomerAttribute(field="project_business_time_zone") %}

{#% if requirement == "wh" %#}
    {% set current_date = GetDateTime(format="date", timezone=time_zone) %}
    {% set current_date_week_day = GetDateTime(format="date", timezone=time_zone, weekday=True) %}
    {% set current_week_day = current_date_week_day.replace(current_date ~ ",", '').strip() %}
    {% set current_time = GetDateTime(format="time", timezone=time_zone) %}
    {% set current_time_simplified = current_time.split('.', 1)[0] %}
    {% set time_array = current_time_simplified.split(':', 3) %}
    {% set hour = time_array[0] %}
    {% set minute = time_array[1] %}

{{DUMMY(current_week_day)}}
